Repository hmcts/darts-portal, pull requests merged in 2024-02, with the labels that each got.

#788 DMP-1876-Test-Env
  Jenkinsfile_CNP
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-788

#794 DMP-2187: Admin portal routing
  cypress/e2e/functional/case-retention-spec.cy.js
  darts-api-stub/roles.js
  darts-api-stub/users.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/users/users.component.html
  src/app/admin/components/users/users.component.scss
  src/app/admin/components/users/users.component.spec.ts
  src/app/admin/components/users/users.component.ts
  src/app/app.routes.spec.ts
  src/app/app.routes.ts
  src/app/auth/auth.guard.ts
  src/app/components/error/not-found/not-found.component.spec.ts
  src/app/components/error/not-found/not-found.component.ts
  src/app/components/layout/header/header.component.html
  src/app/components/layout/header/header.component.spec.ts
  src/app/components/layout/header/header.component.ts
  src/app/portal/portal.routes.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-794

#802 DMP-1799 Amending reporting restrictions to be scoped to hearing level
  darts-api-stub/cases/case.js
  src/app/core/components/common/reporting-restriction/reporting-restriction.component.html
  src/app/core/components/common/reporting-restriction/reporting-restriction.component.spec.ts
  src/app/core/components/common/reporting-restriction/reporting-restriction.component.ts
  src/app/portal/components/audios/audio-view/audio-view.component.html
  src/app/portal/components/audios/audio-view/audio-view.component.spec.ts
  src/app/portal/components/case/case-file/case-file.component.html
  src/app/portal/components/case/case-file/case-file.component.spec.ts
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/hearing/hearing.component.ts
  src/app/portal/components/hearing/order-confirmation/order-confirmation.component.spec.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.html
  src/app/portal/components/search/results/results.component.html
  src/app/portal/components/search/results/results.component.ts
  src/app/portal/components/transcriptions/approve-transcript/approve-transcript.component.html
  src/app/portal/components/transcriptions/approve-transcript/approve-transcript.component.spec.ts
  src/app/portal/components/transcriptions/approve-transcript/approve-transcript.component.ts
  src/app/portal/components/transcriptions/assign-transcript/assign-transcript.component.html
  src/app/portal/components/transcriptions/view-transcript/approved-transcript/approved-transcript.component.html
  src/app/portal/components/transcriptions/view-transcript/case-hearing-transcript/case-hearing-transcript.component.html
  src/app/portal/components/transcriptions/view-transcript/rejected-transcript/rejected-transcript.component.html
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.html
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.spec.ts
  src/app/portal/models/case/case.interface.ts
  src/app/portal/models/case/case.type.ts
  src/app/portal/services/case/case.service.spec.ts
  src/app/portal/services/case/case.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-802

#800 DMP-634: Admin portal - user search form
  src/app/admin/components/users/user-search-form/user-search-form.component.html
  src/app/admin/components/users/user-search-form/user-search-form.component.scss
  src/app/admin/components/users/user-search-form/user-search-form.component.spec.ts
  src/app/admin/components/users/user-search-form/user-search-form.component.ts
  src/app/admin/components/users/users.component.html
  src/app/admin/components/users/users.component.scss
  src/app/admin/components/users/users.component.ts
  src/app/admin/models/users/user-search-form-values.type.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-800

#817 DMP-2256 Case search date to label text fix
  src/app/portal/components/search/search.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-817

#810 DMP-2161 - Use retention endpoint to validate and get proposed retention date
  darts-api-stub/authentication/index.js
  darts-api-stub/cases/case.js
  darts-api-stub/data/.gitignore
  darts-api-stub/localArray.js
  darts-api-stub/retentions/retention.js
  darts-api-stub/users.js
  darts-api-stub/utils/date.js
  src/app/core/pipes/dateTime.pipe.spec.ts
  src/app/core/pipes/dateTime.pipe.ts
  src/app/core/services/error/error-message.service.ts
  src/app/portal/components/case/case-file/case-file.component.html
  src/app/portal/components/case/case-file/case-file.component.ts
  src/app/portal/components/case/case-retention-date/case-retention-change/case-retention-change.component.spec.ts
  src/app/portal/components/case/case-retention-date/case-retention-change/case-retention-change.component.ts
  src/app/portal/components/case/case-retention-date/case-retention-confirm/case-retention-confirm.component.html
  src/app/portal/components/case/case-retention-date/case-retention-confirm/case-retention-confirm.component.ts
  src/app/portal/components/case/case-retention-date/case-retention-date.component.html
  src/app/portal/components/case/case-retention-date/case-retention-date.component.spec.ts
  src/app/portal/components/case/case-retention-date/case-retention-date.component.ts
  src/app/portal/models/case/case-retention-change.interface.ts
  src/app/portal/services/case/case.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-810

#827 DMP-2246-Download-Annotations
  cypress/e2e/functional/annotations-spec.cy.js
  darts-api-stub/annotations/annotations.js
  darts-api-stub/annotations/download/TestDoc.docx
  darts-api-stub/index.js
  src/app/portal/components/case/hearing-results/hearing-results.component.html
  src/app/portal/components/case/hearing-results/hearing-results.component.spec.ts
  src/app/portal/components/case/hearing-results/hearing-results.component.ts
  src/app/portal/services/annotations/annotations.service.spec.ts
  src/app/portal/services/annotations/annotations.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-827

#737 DMP-2064: Refactor audio preview to work with SSE endpoint
  cypress/e2e/functional/annotations-spec.cy.js
  cypress/e2e/functional/request-audio-spec.cy.js
  darts-api-stub/audios/index.js
  src/app/core/components/common/audio-player/audio-player.component.html
  src/app/core/components/common/audio-player/audio-player.component.scss
  src/app/core/components/common/audio-player/audio-player.component.ts
  src/app/core/components/common/data-table/data-table.component.scss
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.html
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.spec.ts
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.spec.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.ts
  src/app/portal/models/hearing/hearing-audio-event.interface.ts
  src/app/services/audio-preview/audio-preview.service.spec.ts
  src/app/services/audio-preview/audio-preview.service.ts
  src/styles.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-737

#819 DMP-1942 User Record Screen
  cypress/e2e/functional/admin-portal/user-record-spec.cy.js
  darts-api-stub/admin/users/users.js
  jest.config.ts
  src/app/admin/admin.routes.ts
  src/app/admin/components/users/user-record/user-record.component.html
  src/app/admin/components/users/user-record/user-record.component.scss
  src/app/admin/components/users/user-record/user-record.component.spec.ts
  src/app/admin/components/users/user-record/user-record.component.ts
  src/app/admin/components/users/user-search-form/user-search-form.component.html
  src/app/admin/components/users/user-search-form/user-search-form.component.scss
  src/app/admin/components/users/user-search-results/user-search-results.component.html
  src/app/admin/components/users/user-search-results/user-search-results.component.ts
  src/app/admin/components/users/users.component.spec.ts
  src/app/admin/models/index.ts
  src/app/admin/services/user-admin.service.spec.ts
  src/app/admin/services/user-admin.service.ts
  tsconfig.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-819

#828 DMP-1612 - Delete Annotation screen
  cypress/e2e/functional/annotations-spec.cy.js
  darts-api-stub/annotations/annotation.js
  darts-api-stub/annotations/annotations.js
  darts-api-stub/annotations/download/TestDoc.docx
  darts-api-stub/index.js
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/hearing/hearing.component.spec.ts
  src/app/portal/components/hearing/hearing.component.ts
  src/app/portal/services/annotation/annotation.service.spec.ts
  src/app/portal/services/annotation/annotation.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-828

#836 DMP-634 Visually hide user status label on search and fixing admin header
  src/app/admin/components/users/user-search-form/user-search-form.component.html
  src/app/core/components/layout/header/header.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-836

#811 Update remaining imports to use alias
  jest.config.ts
  src/app/app.routes.spec.ts
  src/app/core/auth/auth.guard.spec.ts
  src/app/core/components/app/app.component.spec.ts
  src/app/core/components/app/app.component.ts
  src/app/core/components/common/audio-player/audio-player.component.ts
  src/app/core/components/common/breadcrumb/breadcrumb.component.ts
  src/app/core/components/error/forbidden/forbidden.component.spec.ts
  src/app/core/components/error/not-found/not-found.component.spec.ts
  src/app/core/components/layout/header/header.component.ts
  src/app/core/components/login/login.component.spec.ts
  src/app/core/components/login/login.component.ts
  src/app/core/interceptors/error/error.interceptor.spec.ts
  src/app/core/interceptors/error/error.interceptor.ts
  src/app/core/services/app-config/app-config.service.ts
  src/app/core/services/app-insights/app-insights.service.spec.ts
  src/app/core/services/app-insights/app-insights.service.ts
  src/app/core/services/error/error-handler.service.spec.ts
  src/app/core/services/error/error-handler.service.ts
  src/app/core/services/error/error-message.service.spec.ts
  src/app/core/services/error/error-message.service.ts
  src/app/dev/dev.component.spec.ts
  src/app/dev/dev.component.ts
  src/app/portal/components/audios/audio-view/audio-view.component.spec.ts
  src/app/portal/components/audios/audio-view/audio-view.component.ts
  src/app/portal/components/audios/audios.component.spec.ts
  src/app/portal/components/case/case-retention-date/case-retention-confirm/case-retention-confirm.component.spec.ts
  src/app/portal/components/case/case.component.spec.ts
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.spec.ts
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.ts
  src/app/portal/components/hearing/hearing.component.spec.ts
  src/app/portal/components/hearing/hearing.component.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.spec.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.spec.ts
  src/app/portal/components/search/results/results.component.ts
  src/app/portal/components/search/search-error/search-error.component.spec.ts
  src/app/portal/components/search/search-error/search-error.component.ts
  src/app/portal/components/search/search.component.spec.ts
  src/app/portal/components/transcriptions/approve-transcript/approve-transcript-buttons/approve-transcript-buttons.component.spec.ts
  src/app/portal/components/transcriptions/transcription-requests/transcription-requests.component.spec.ts
  src/app/portal/components/transcriptions/transcriptions.component.spec.ts
  src/app/portal/components/transcriptions/transcriptions.component.ts
  src/app/portal/components/transcriptions/view-transcript/approved-transcript/approved-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/case-hearing-transcript/case-hearing-transcript.component.spec.ts
  src/app/portal/components/your-work/your-work.component.spec.ts
  src/app/portal/portal.routes.ts
  src/app/portal/services/audio-preview/audio-preview.service.spec.ts
  src/app/portal/services/audio-preview/audio-preview.service.ts
  src/app/portal/services/audio-request/audio-request.service.ts
  src/app/portal/services/count-notification/count-notification.service.ts
  src/app/portal/services/transcription/transcription.service.ts
  src/app/types/index.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-811

#834 DMP-1614 - Annotation template
  server/controllers/download.ts
  server/controllers/index.ts
  server/downloads/AnnotationsTemplateExample.docx
  server/routes.ts
  src/app/portal/components/case/hearing-results/hearing-results.component.spec.ts
  src/app/portal/components/case/hearing-results/hearing-results.component.ts
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/hearing/hearing.component.spec.ts
  src/app/portal/components/hearing/hearing.component.ts
  src/app/portal/services/annotation/annotation.service.spec.ts
  src/app/portal/services/annotation/annotation.service.ts
  src/app/portal/services/annotations/annotations.service.spec.ts
  src/app/portal/services/annotations/annotations.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-834

#840 DMP-2203 Adding more validation for transcription request times
  Jenkinsfile_CNP
  cypress/e2e/functional/request-transcript-spec.cy.js
  package.json
  src/app/core/validators/before-time.validator.ts
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.html
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.spec.ts
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.html
  src/app/portal/components/hearing/request-transcript/request-transcript.component.spec.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.ts
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-840

#845 DMP-725 Courthouses admin screen
  cypress/e2e/functional/admin-portal/courthouses-spec.cy.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/courthouses/courthouse-search-form/courthouse-search-form.component.html
  src/app/admin/components/courthouses/courthouse-search-form/courthouse-search-form.component.scss
  src/app/admin/components/courthouses/courthouse-search-form/courthouse-search-form.component.spec.ts
  src/app/admin/components/courthouses/courthouse-search-form/courthouse-search-form.component.ts
  src/app/admin/components/courthouses/courthouses.component.html
  src/app/admin/components/courthouses/courthouses.component.scss
  src/app/admin/components/courthouses/courthouses.component.spec.ts
  src/app/admin/components/courthouses/courthouses.component.ts
  src/app/admin/models/courthouses/courthouse-search-form-values.type.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-845

#846 DMP-2161 [UPDATE] - Render new line characters in error messages
  cypress/e2e/functional/case-retention-spec.cy.js
  src/app/core/components/common/datepicker/datepicker.component.scss
  src/app/core/components/common/validation-error-summary/validation-error-summary.component.scss
  src/app/portal/components/case/case-retention-date/case-retention-change/case-retention-change.component.spec.ts
  src/app/portal/components/case/case-retention-date/case-retention-change/case-retention-change.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-846

#837 DMP 1756 - Dupe transcript page updates
  cypress/e2e/functional/request-transcript-spec.cy.js
  darts-api-stub/transcriptions/transcriptions.js
  src/app/portal/components/hearing/request-transcript/request-transcript-exists/request-transcript-exists.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-837

#854 DMP-2161 [UPDATE] - Add full stops
  cypress/e2e/functional/case-retention-spec.cy.js
  src/app/portal/components/case/case-retention-date/case-retention-change/case-retention-change.component.spec.ts
  src/app/portal/components/case/case-retention-date/case-retention-change/case-retention-change.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-854

#851 DMP-1623-Annotation-Confirmation-Screen
  cypress/e2e/functional/annotations-spec.cy.js
  src/app/portal/components/hearing/add-annotation/add-annotation-success/add-annotation-success.component.html
  src/app/portal/components/hearing/add-annotation/add-annotation-success/add-annotation-success.component.spec.ts
  src/app/portal/components/hearing/add-annotation/add-annotation-success/add-annotation-success.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-851

#859 DMP-1614 Fixing annotation document download for production builds
  package.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-859

#861 DMP-1834 Admin user search fixes
  src/app/admin/components/users/user-search-results/user-search-results.component.html
  src/app/admin/components/users/user-search-results/user-search-results.component.ts
  src/app/admin/components/users/users.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-861
