Repository hmcts/darts-portal, pull requests merged in 2024-05, with the labels that each got.

#1054 DMP-2604 add all roles default to groups admin
  src/app/admin/components/groups/groups.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1054

#1055 DMP-2525 small query param update
  darts-api-stub/admin/transcriptions/transcription-workflows.js
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1055

#1056 DMP-2525 get users transcription details update
  darts-api-stub/admin/users/users.js
  src/app/admin/services/user-admin/user-admin.service.spec.ts
  src/app/admin/services/user-admin/user-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1056

#1063 DMP-2525 Handle transcriptions without urgency
  cypress/e2e/functional/your-work-spec.cy.js
  darts-api-stub/transcriptions/transcriptions.js
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
  src/app/portal/components/transcriptions/assign-transcript/assign-transcript.component.ts
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.ts
  src/app/portal/models/transcriptions/transcription-urgency.interface.ts
  src/app/portal/models/transcriptions/user-transcription-request.interface.ts
  src/app/portal/services/transcription/transcription.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1063

#1064 DMP-2848: Remove role="radio" attribute from labels on login screen
  src/app/core/components/login/login.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1064

#1066 DMP-3029: Add redirect to transcript details page when only one search result
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  src/app/admin/components/transcripts/transcripts.component.spec.ts
  src/app/admin/components/transcripts/transcripts.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1066

#1065 DMP-2525 - Admin View Transcript Details - Defaults for current status items
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1065

#1068 DMP-2525 handle security groups without display names
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1068

#1067 DMP-3030: Fix date formats in search request
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.spec.ts
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1067

#1057 DMP-2669: View automated task
  cypress/e2e/functional/admin-portal/automated-tasks-spec.cy.js
  darts-api-stub/admin/automated-tasks/automated-tasks.js
  darts-api-stub/admin/users/users.js
  package.json
  src/app/admin/admin.routes.ts
  src/app/admin/components/automated-tasks/automated-task-status/automated-task-status.component.html
  src/app/admin/components/automated-tasks/automated-task-status/automated-task-status.component.scss
  src/app/admin/components/automated-tasks/automated-task-status/automated-task-status.component.spec.ts
  src/app/admin/components/automated-tasks/automated-task-status/automated-task-status.component.ts
  src/app/admin/components/automated-tasks/automated-tasks.component.html
  src/app/admin/components/automated-tasks/automated-tasks.component.ts
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.html
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.scss
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.spec.ts
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.ts
  src/app/admin/components/system-configuration/system-configuration.component.html
  src/app/admin/components/system-configuration/system-configuration.component.spec.ts
  src/app/admin/components/system-configuration/system-configuration.component.ts
  src/app/admin/models/automated-task/automated-task-status.ts
  src/app/admin/models/automated-task/automated-task.interface.ts
  src/app/admin/models/automated-task/automated-task.ts
  src/app/admin/services/automated-tasks/automated-tasks.service.spec.ts
  src/app/admin/services/automated-tasks/automated-tasks.service.ts
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1057

#1079 DMP-2992 - Remove audio files tab from user record screen
  cypress/e2e/functional/admin-portal/user-record-spec.cy.js
  src/app/admin/components/users/user-record/user-record.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1079

#1077 DMP-2987 - Updated nav bar, dummy search component, default admin path changed
  src/app/admin/admin.routes.ts
  src/app/admin/components/search/search.component.html
  src/app/admin/components/search/search.component.scss
  src/app/admin/components/search/search.component.spec.ts
  src/app/admin/components/search/search.component.ts
  src/app/admin/components/transcripts/transcripts.component.html
  src/app/admin/components/transcripts/transcripts.component.ts
  src/app/app.routes.ts
  src/app/core/components/layout/header/admin-navigation/admin-navigation.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1077

#1082 Edit courthouse null check fix
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1082

#1050 DMP-2319-Courthouse-Details-View-Users-Tab
  cypress/e2e/functional/admin-portal/courthouse-users-spec.cy.js
  darts-api-stub/admin/security-groups/security-groups.js
  darts-api-stub/admin/security-roles/security-roles.js
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.html
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.scss
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.spec.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.ts
  src/app/admin/components/courthouses/courthouse-users/courthouse-users.component.html
  src/app/admin/components/courthouses/courthouse-users/courthouse-users.component.scss
  src/app/admin/components/courthouses/courthouse-users/courthouse-users.component.spec.ts
  src/app/admin/components/courthouses/courthouse-users/courthouse-users.component.ts
  src/app/admin/models/index.ts
  src/app/admin/models/users/courthouse-user.type.ts
  src/app/admin/services/groups/groups.service.spec.ts
  src/app/admin/services/groups/groups.service.ts
  src/app/core/components/common/filters/filter.interface.ts
  src/app/core/components/common/filters/filters.component.html
  src/app/core/components/common/filters/filters.component.scss
  src/app/core/components/common/filters/filters.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1050

#1083 DMP-2784 set strict on same site darts_session
  server/middleware/session.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1083

#1074 DMP-2959: Search transcript validation errors
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.html
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.spec.ts
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.ts
  src/app/admin/components/transcripts/transcripts.component.html
  src/app/admin/components/transcripts/transcripts.component.ts
  src/app/admin/constants/transcript-search-form-error-messages.ts
  src/app/core/components/common/datepicker/datepicker.component.html
  src/app/core/components/common/datepicker/datepicker.component.ts
  src/app/core/components/common/specific-or-range-date-picker/specific-or-range-date-picker.component.html
  src/app/core/components/common/specific-or-range-date-picker/specific-or-range-date-picker.component.scss
  src/app/core/components/common/specific-or-range-date-picker/specific-or-range-date-picker.component.spec.ts
  src/app/core/components/common/specific-or-range-date-picker/specific-or-range-date-picker.component.ts
  src/app/core/validators/date-range.validator.ts
  src/app/core/validators/future-date.validator.ts
  src/app/core/validators/real-date.validator.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1074

#1090 Fixing path to assets
  server/server.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1090

#1099 DMP-3085 : Fix API call for transcript search by specific date and remove required validation
  src/app/admin/constants/transcript-search-form-error-messages.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
  src/app/core/components/common/specific-or-range-date-picker/specific-or-range-date-picker.component.spec.ts
  src/app/core/components/common/specific-or-range-date-picker/specific-or-range-date-picker.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1099

#1091 DMP-2783 Add hsts header
  server/server.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1091

#1101 DMP-2525: Add change link to 'Requested' and 'Approved' transcripts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1101

#1100 DMP-3088: Fix automated task screen
  cypress/e2e/functional/admin-portal/automated-tasks-spec.cy.js
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.html
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.scss
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1100

#1093 DMP-3012: Render all times in GMT/BST instead of UTC
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  cypress/e2e/functional/case-retention-spec.cy.js
  cypress/e2e/functional/request-audio-spec.cy.js
  cypress/e2e/functional/request-transcript-spec.cy.js
  cypress/e2e/functional/transcript-requests-spec.cy.js
  cypress/e2e/functional/your-work-spec.cy.js
  darts-api-stub/data/securityRoles.json
  package.json
  setup-jest.ts
  src/app/admin/services/retention-policies/retention-policies.service.spec.ts
  src/app/admin/services/retention-policies/retention-policies.service.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/core/components/common/data-table/data-table.component.spec.ts
  src/app/core/components/common/data-table/data-table.component.ts
  src/app/core/pipes/dateTime.pipe.spec.ts
  src/app/core/pipes/luxon-date.pipe.spec.ts
  src/app/portal/components/audios/audio-view/audio-view.component.spec.ts
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.spec.ts
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.ts
  src/app/portal/components/hearing/hearing.component.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.spec.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.spec.ts
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.ts
  src/app/portal/components/transcriptions/transcriptions.component.spec.ts
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.spec.ts
  src/app/portal/components/your-work/your-work.component.spec.ts
  src/app/portal/services/audio-request/audio-request.service.spec.ts
  src/app/portal/services/audio-request/audio-request.service.ts
  src/app/portal/services/case/case.service.spec.ts
  src/app/portal/services/case/case.service.ts
  src/app/portal/services/transcription/transcription.service.spec.ts
  src/main.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1093

#1102 DMP-3037 - Event mappings change, new form and search results, filters
  cypress/e2e/functional/admin-portal/event-mappings-spec.cy.js
  darts-api-stub/admin/event-mappings/event-handlers.js
  darts-api-stub/admin/event-mappings/event-mappings.js
  darts-api-stub/data/.gitignore
  darts-api-stub/data/eventMappings.json
  darts-api-stub/data/securityRoles.json
  darts-api-stub/index.js
  server/controllers/stub-data.ts
  server/stubs/event-mappings.ts
  server/stubs/index.ts
  src/app/admin/admin.routes.ts
  src/app/admin/components/system-configuration/event-mappings/event-mapping-form/event-mapping-form.component.html
  src/app/admin/components/system-configuration/event-mappings/event-mapping-form/event-mapping-form.component.scss
  src/app/admin/components/system-configuration/event-mappings/event-mapping-form/event-mapping-form.component.spec.ts
  src/app/admin/components/system-configuration/event-mappings/event-mapping-form/event-mapping-form.component.ts
  src/app/admin/components/system-configuration/event-mappings/event-mappings.component.html
  src/app/admin/components/system-configuration/event-mappings/event-mappings.component.scss
  src/app/admin/components/system-configuration/event-mappings/event-mappings.component.spec.ts
  src/app/admin/components/system-configuration/event-mappings/event-mappings.component.ts
  src/app/admin/components/system-configuration/system-configuration.component.html
  src/app/admin/components/system-configuration/system-configuration.component.spec.ts
  src/app/admin/components/system-configuration/system-configuration.component.ts
  src/app/admin/models/event-mappings/event-mapping.interface.ts
  src/app/admin/models/event-mappings/event-mapping.type.ts
  src/app/admin/services/event-mappings/event-mappings.service.spec.ts
  src/app/admin/services/event-mappings/event-mappings.service.ts
  src/app/core/components/common/data-table/data-table.component.html
  src/app/core/components/common/data-table/data-table.component.scss
  src/app/core/components/common/data-table/data-table.component.spec.ts
  src/app/core/components/common/data-table/data-table.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1102

#1106 DMP-3093
  src/app/admin/components/transcripts/change-transcript-status/change-transcript-status.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1106

#1094 DMP-2931-Courthouse-Details-Remove-Users
  cypress/e2e/functional/admin-portal/courthouse-record-spec.cy.js
  cypress/e2e/functional/admin-portal/courthouse-users-spec.cy.js
  darts-api-stub/admin/security-groups/security-groups.js
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.html
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.scss
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.spec.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.ts
  src/app/admin/components/courthouses/courthouse-users/courthouse-users.component.html
  src/app/admin/components/courthouses/courthouse-users/courthouse-users.component.spec.ts
  src/app/admin/components/courthouses/courthouse-users/courthouse-users.component.ts
  src/app/admin/models/users/courthouse-user.type.ts
  src/app/admin/services/user-admin/user-admin.service.ts
  src/app/core/components/common/delete/delete.component.html
  src/app/core/components/common/delete/delete.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1094

#1105 DMP-754 Remove eventmappings from stub
  darts-api-stub/admin/event-mappings/event-mappings.js
  darts-api-stub/data/.gitignore
  server/controllers/stub-data.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1105

#1112 DMP-3038/2746 - Add event mapping
  cypress/e2e/functional/admin-portal/event-mappings-spec.cy.js
  darts-api-stub/admin/event-mappings/event-mappings.js
  darts-api-stub/data/securityRoles.json
  server/stubs/event-mappings.ts
  server/stubs/index.ts
  src/app/admin/admin.routes.ts
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.html
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.scss
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.spec.ts
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.ts
  src/app/admin/components/system-configuration/event-mappings/event-mapping-form/event-mapping-form.component.html
  src/app/admin/components/system-configuration/event-mappings/event-mappings.component.html
  src/app/admin/components/system-configuration/event-mappings/event-mappings.component.ts
  src/app/admin/components/system-configuration/system-configuration.component.html
  src/app/admin/components/system-configuration/system-configuration.component.ts
  src/app/admin/constants/event-mapping-error-messages.ts
  src/app/admin/models/event-mappings/event-mapping-form-values.interface.ts
  src/app/admin/models/event-mappings/event-mapping.interface.ts
  src/app/admin/services/event-mappings/event-mappings.service.ts
  src/app/core/services/error/error-message.service.ts
  src/app/core/services/form/form.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1112

#1113 DMP-2525: [BUG] Hide associated groups for approved/requested transcript
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1113

#1115 DMP-2525: Hide groups on awaiting auth or requested status
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1115

#1122 DMP-3146 DMP-3136 DMP-3147 DMP-3150 Accessibility fixes
  cypress/e2e/functional/admin-portal/courthouse-record-spec.cy.js
  cypress/e2e/functional/admin-portal/user-record-spec.cy.js
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.html
  src/app/admin/components/users/user-record/user-record.component.html
  src/app/core/components/common/details-table/details-table.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1122

#1114 DMP-3043: Transformed media search results
  cypress/e2e/functional/admin-portal/transformed-media-spec.cy.js
  darts-api-stub/admin/transformed-media/transformed-media.js
  darts-api-stub/index.js
  server/controllers/stub-data.ts
  server/stubs/index.ts
  server/stubs/transformed-media.ts
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.html
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.spec.ts
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.ts
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.html
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.scss
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.spec.ts
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.ts
  src/app/admin/models/transformed-media/transformed-media-admin-data.interface.ts
  src/app/admin/models/transformed-media/transformed-media-admin.ts
  src/app/admin/models/transformed-media/transformed-media-search-form.values.ts
  src/app/admin/services/transformed-media/transformed-media.service.spec.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
  src/app/core/components/common/data-table/data-table.component.html
  src/app/core/components/common/data-table/data-table.component.scss
  src/app/core/components/common/data-table/data-table.component.ts
  src/app/core/pipes/bytes.pipe.spec.ts
  src/app/core/pipes/bytes.pipe.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1114

#1130 DMP-2746 fixed input error class
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1130

#1129 DMP-3079 Adding task name to task status banner
  cypress/e2e/functional/admin-portal/automated-tasks-spec.cy.js
  src/app/admin/components/automated-tasks/automated-task-status/automated-task-status.component.spec.ts
  src/app/admin/components/automated-tasks/automated-task-status/automated-task-status.component.ts
  src/app/admin/components/automated-tasks/automated-tasks.component.html
  src/app/admin/components/automated-tasks/automated-tasks.component.spec.ts
  src/app/admin/components/automated-tasks/automated-tasks.component.ts
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.html
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.spec.ts
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.ts
  src/app/admin/models/automated-task/automated-task-status.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1129

#1118 DMP-3044: View transformed media screen
  cypress/e2e/functional/admin-portal/transformed-media-spec.cy.js
  darts-api-stub/admin/media-requests/media-requests.js
  darts-api-stub/admin/medias/medias.js
  darts-api-stub/admin/transformed-media/transformed-media.js
  darts-api-stub/index.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.spec.ts
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.ts
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.html
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.spec.ts
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.ts
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.html
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.scss
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.spec.ts
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.ts
  src/app/admin/models/transformed-media/associated-media-data.interface.ts
  src/app/admin/models/transformed-media/associated-media.ts
  src/app/admin/models/transformed-media/transformed-media-request-data.interface.ts
  src/app/admin/models/transformed-media/transformed-media-request.ts
  src/app/admin/services/transformed-media/transformed-media.service.spec.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
  src/app/core/components/common/govuk-heading/govuk-heading.component.scss
Labels: ns:darts-modernisation, prd:darts

#1133 DMP-3190 Amending transcript and audio captions
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.html
  src/app/portal/components/audios/audio-view/audio-view.component.html
Labels: ns:darts-modernisation, prd:darts

#1138 DMP-754 Bug remove change link for inactive event mappings
  src/app/admin/components/system-configuration/event-mappings/event-mappings.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1138

#1140 DMP-2746 Bug, sub type to null if empty string, event mappings add
  src/app/admin/models/event-mappings/event-mapping.interface.ts
  src/app/admin/services/event-mappings/event-mappings.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1140

#1111 DMP-2229-Admin-View-Users-Transcript-Requests
  cypress/e2e/functional/admin-portal/user-record-spec.cy.js
  darts-api-stub/admin/transcriptions/transcriptions.js
  src/app/admin/components/transcripts/transcripts.component.spec.ts
  src/app/admin/components/transcripts/transcripts.component.ts
  src/app/admin/components/users/user-record/user-record.component.html
  src/app/admin/components/users/user-record/user-record.component.ts
  src/app/admin/components/users/user-transcripts/user-transcripts.component.html
  src/app/admin/components/users/user-transcripts/user-transcripts.component.scss
  src/app/admin/components/users/user-transcripts/user-transcripts.component.spec.ts
  src/app/admin/components/users/user-transcripts/user-transcripts.component.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1111

#1132 Dmp 3045: Change media request owner from transformed media
  cypress/e2e/functional/admin-portal/transformed-media-spec.cy.js
  darts-api-stub/admin/media-requests/media-requests.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/transformed-media/change-owner-transformed-media/change-owner-transformed-media.component.html
  src/app/admin/components/transformed-media/change-owner-transformed-media/change-owner-transformed-media.component.scss
  src/app/admin/components/transformed-media/change-owner-transformed-media/change-owner-transformed-media.component.spec.ts
  src/app/admin/components/transformed-media/change-owner-transformed-media/change-owner-transformed-media.component.ts
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.html
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.spec.ts
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.ts
  src/app/admin/services/transformed-media/transformed-media.service.spec.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1132

#1139 DMP-3100 & DMP-3101: Add search for completed transcript documents
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  darts-api-stub/admin/transcriptions/transcription-documents.js
  darts-api-stub/index.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/transcripts/search-completed-transcripts-results/search-completed-transcripts-results.component.html
  src/app/admin/components/transcripts/search-completed-transcripts-results/search-completed-transcripts-results.component.scss
  src/app/admin/components/transcripts/search-completed-transcripts-results/search-completed-transcripts-results.component.spec.ts
  src/app/admin/components/transcripts/search-completed-transcripts-results/search-completed-transcripts-results.component.ts
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.html
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.ts
  src/app/admin/components/transcripts/search-transcripts-results/search-transcripts-results.component.ts
  src/app/admin/components/transcripts/transcripts.component.html
  src/app/admin/components/transcripts/transcripts.component.spec.ts
  src/app/admin/components/transcripts/transcripts.component.ts
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.html
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.scss
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.spec.ts
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.ts
  src/app/admin/models/transcription/index.ts
  src/app/admin/models/transcription/transcription-document-data.interface.ts
  src/app/admin/models/transcription/transcription-document.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1139

#1143 DMP-2229 Bug fix for click link
  src/app/admin/components/users/user-transcripts/user-transcripts.component.html
  src/app/admin/components/users/user-transcripts/user-transcripts.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1143

#1142 DMP-2763 Edit event mapping changes
  cypress/e2e/functional/admin-portal/event-mappings-spec.cy.js
  darts-api-stub/admin/event-mappings/event-mappings.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.html
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.scss
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.spec.ts
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.ts
  src/app/admin/components/system-configuration/event-mappings/event-mappings.component.html
  src/app/admin/components/system-configuration/system-configuration.component.html
  src/app/admin/components/system-configuration/system-configuration.component.ts
  src/app/admin/models/event-mappings/event-mapping-form-values.interface.ts
  src/app/admin/services/event-mappings/event-mappings.service.spec.ts
  src/app/admin/services/event-mappings/event-mappings.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1142
