Repository hmcts/darts-portal, pull requests merged in 2024-09, with the labels that each got.

#1441 DMP-3757: Isolate datatable column sorting
  src/app/core/components/common/data-table/data-table.component.spec.ts
  src/app/core/components/common/data-table/data-table.component.ts
  tsconfig.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1441

#1447 DMP-3881 audio link for associated audio table
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.html
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1447

#1442 DMP-2909/2910 expired case search result and case file
  cypress/e2e/functional/case-file-spec.cy.js
  cypress/e2e/functional/case-search-spec.cy.js
  darts-api-stub/cases/case.js
  src/app/core/components/common/govuk-banner/govuk-banner.component.scss
  src/app/core/services/error/error-message.service.ts
  src/app/portal/components/case/case-file/case-file.component.html
  src/app/portal/components/case/case-file/case-file.component.scss
  src/app/portal/components/case/case-file/case-file.component.ts
  src/app/portal/components/case/case.component.html
  src/app/portal/components/case/case.component.spec.ts
  src/app/portal/components/case/case.component.ts
  src/app/portal/components/search/case-search-results/case-search-results.component.html
  src/app/portal/components/search/case-search-results/case-search-results.component.scss
  src/app/portal/models/case/case.interface.ts
  src/app/portal/models/case/case.type.ts
  src/app/portal/services/case/case.service.spec.ts
  src/app/portal/services/case/case.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1442

#1454 DMP-2909/2910/3618 Add expired prefix to expiry banner
  src/app/portal/components/case/case-file/case-file.component.html
  src/app/portal/components/search/case-search-results/case-search-results.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1454

#1458 DMP-3309: Set default name for system users
  src/app/admin/components/events/advanced-event-details/advanced-event-details.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1458

#1453 DMP-3891 Audio file back link fix
  src/app/admin/components/audio-file/audio-file.component.html
  src/app/admin/components/audio-file/audio-file.component.spec.ts
  src/app/admin/components/audio-file/audio-file.component.ts
  src/app/admin/components/file-deletion/file-hide-or-delete-success/file-hide-or-delete-success.component.spec.ts
  src/app/admin/components/file-deletion/file-hide-or-delete-success/file-hide-or-delete-success.component.ts
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.html
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.spec.ts
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.ts
  src/app/admin/components/transformed-media/associated-audio-hide-delete/associated-audio-hide-delete.component.html
  src/app/admin/components/transformed-media/associated-audio-hide-delete/associated-audio-hide-delete.component.spec.ts
  src/app/admin/components/transformed-media/associated-audio-hide-delete/associated-audio-hide-delete.component.ts
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.html
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.ts
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.html
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1453

#1455 DMP-3895 sort events by ascending order in hearing service
  darts-api-stub/hearings/hearings.js
  src/app/portal/services/hearing/hearing.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1455

#1462 DMP-3902 remove outside time validation, default end time if one event selected
  cypress/e2e/functional/request-transcript-spec.cy.js
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.spec.ts
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1462

#1463 Adding event logging for redis
  server/middleware/session.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1463

#1464 Using "ioredis" client
  package.json
  server/middleware/session.ts
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1464

#1466 DMP-3878:Add SUPER_USER role to deactivate user route
  src/app/admin/admin.routes.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1466

#1465 Handle 409 case on hide associated audio
  darts-api-stub/admin/medias/medias.js
  src/app/admin/components/transformed-media/associated-audio-hide-delete/associated-audio-hide-delete.component.spec.ts
  src/app/admin/components/transformed-media/associated-audio-hide-delete/associated-audio-hide-delete.component.ts
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.ts
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.spec.ts
  src/app/admin/models/transformed-media/associated-media-data.interface.ts
  src/app/admin/models/transformed-media/associated-media.ts
  src/app/admin/services/transformed-media/transformed-media.service.spec.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
  src/app/core/services/error/error-message.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1465

#1470 DMP-3653 & DMP-3657: Add expired banners to view audio file and view transcript file
  cypress/e2e/functional/admin-portal/audio-file-details-spec.cy.js
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  darts-api-stub/admin/medias/medias.js
  darts-api-stub/admin/transcriptions/transcription-documents.js
  src/app/admin/components/audio-file/audio-file.component.html
  src/app/admin/components/audio-file/audio-file.component.ts
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.html
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.ts
  src/app/core/components/common/expired-banner/expired-banner.component.html
  src/app/core/components/common/expired-banner/expired-banner.component.scss
  src/app/core/components/common/expired-banner/expired-banner.component.spec.ts
  src/app/core/components/common/expired-banner/expired-banner.component.ts
  src/app/portal/components/case/case-file/case-file.component.html
  src/app/portal/components/case/case-file/case-file.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1470

#1469 DMP-3789: Fix view audio hard refresh / deep link bug
  src/app/portal/components/audios/audio-view/audio-view.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1469

#1475 DMP-3769: Remove heading tags
  src/app/admin/components/search/search-form/search-form.component.html
  src/app/core/components/common/specific-or-range-date-picker/specific-or-range-date-picker.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1475

#1479 DMP-3777: Bugfix - Audio archived. Preview is not available message
  cypress/e2e/functional/request-audio-spec.cy.js
  darts-api-stub/audios/index.js
  package.json
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.html
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.scss
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1479

#1483 DMP-3926: Add missing default option for transcription status selector
  src/app/admin/components/transcripts/change-transcript-status/change-transcript-status.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1483

#1486 DMP-3910: Add expired banner to view event screen
  darts-api-stub/admin/events/events.js
  src/app/admin/components/events/advanced-event-details/advanced-event-details.component.spec.ts
  src/app/admin/components/events/view-event/view-event.component.html
  src/app/admin/components/events/view-event/view-event.component.spec.ts
  src/app/admin/components/events/view-event/view-event.component.ts
  src/app/admin/facades/events/events-facade.service.spec.ts
  src/app/admin/models/events/event-data.interface.ts
  src/app/admin/models/events/event.ts
  src/app/admin/services/events/events.service.spec.ts
  src/app/admin/services/events/events.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1486

#1482 DMP-3904 & DMP-3905: Add redirects to approve transcript component
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  cypress/e2e/functional/transcript-requests-spec.cy.js
  darts-api-stub/transcriptions/transcriptions.js
  src/app/admin/models/transcription/transcription-details.ts
  src/app/portal/components/transcriptions/approve-transcript/approve-transcript.component.spec.ts
  src/app/portal/components/transcriptions/approve-transcript/approve-transcript.component.ts
  src/app/portal/models/transcriptions/transcription-details.type.ts
  src/app/portal/services/mapping/mapping.service.ts
  src/app/portal/services/transcription/transcription.service.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1482

#1476 DMP-3879: Fix courthouse user filter
  cypress/e2e/functional/admin-portal/courthouse-record-spec.cy.js
  cypress/e2e/functional/admin-portal/courthouse-users-spec.cy.js
  cypress/e2e/functional/admin-portal/groups-spec.cy.js
  cypress/e2e/functional/case-retention-spec.cy.js
  cypress/e2e/functional/request-audio-spec.cy.js
  cypress/e2e/functional/view-transcript-spec.cy.js
  cypress/e2e/functional/your-transcripts-spec.cy.js
  darts-api-stub/admin/security-roles/security-roles.js
  darts-api-stub/data/securityRoles.json
  darts-api-stub/users.js
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.spec.ts
  src/app/admin/components/courthouses/courthouse-users/courthouse-users.component.spec.ts
  src/app/admin/components/courthouses/courthouse-users/courthouse-users.component.ts
  src/app/admin/components/transcripts/view-transcript/transcript-details/transcript-details.component.spec.ts
  src/app/admin/facades/transcript/transcript-facade.service.spec.ts
  src/app/core/components/common/filters/filters.component.html
  src/app/portal/components/transcriptions/transcriptions.component.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1476

#1493 Courthouse record - Bug fix - ensure unique user ids are passed into getUsers
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.spec.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1493

#1494 Fixing overflow of long email address in the filter component
  src/app/core/components/common/filters/filters.component.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1494

#1495 DMP-3639 - Add expired banner to event search
  cypress/e2e/functional/admin-portal/search-spec.cy.js
  darts-api-stub/admin/events/events.js
  src/app/admin/components/search/event-search-results/event-search-results.component.html
  src/app/admin/components/search/event-search-results/event-search-results.component.scss
  src/app/admin/components/search/event-search-results/event-search-results.component.ts
  src/app/admin/models/search/admin-event-search-result-data.interface.ts
  src/app/admin/models/search/admin-event-search-result.ts
  src/app/admin/services/admin-search/admin-search.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1495

#1497 DMP-3921: Add empty column headers back in
  src/app/admin/components/automated-tasks/automated-tasks.component.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1497

#1504 Details table - displaying multiple array items on new lines
  src/app/core/components/common/details-table/details-table.component.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1504

#1496 DMP-3927: Fix view transcript back link
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  src/app/admin/components/transcripts/change-transcript-status/change-transcript-status.component.html
  src/app/admin/components/transcripts/change-transcript-status/change-transcript-status.component.ts
  src/app/admin/components/transcripts/search-transcripts-results/search-transcripts-results.component.html
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.html
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.spec.ts
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.ts
  src/app/admin/components/users/user-transcripts/user-transcripts.component.html
  src/app/admin/components/users/user-transcripts/user-transcripts.component.ts
  src/app/core/components/app/app.component.spec.ts
  src/app/core/components/app/app.component.ts
  src/app/core/services/history/history.service.spec.ts
  src/app/core/services/history/history.service.ts
  src/app/core/utils/index.ts
  src/app/core/utils/transform.utils.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1496

#1501 DMP-3913: Update titles dynamically when route does not change
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.html
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.spec.ts
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.ts
  src/app/portal/components/audios/audios.component.html
  src/app/portal/components/audios/audios.component.spec.ts
  src/app/portal/components/audios/audios.component.ts
  src/app/portal/components/case/case-retention-date/case-retention-date.component.ts
  src/app/portal/components/hearing/hearing.component.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.ts
  src/app/portal/components/transcriptions/transcriptions.component.html
  src/app/portal/components/transcriptions/transcriptions.component.spec.ts
  src/app/portal/components/transcriptions/transcriptions.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1501

#1505 DMP-3953: Change your audio column from expiry to last accessed
  src/app/portal/components/audios/audios.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1505

#1506 Fixing transcription file upload allowed types
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1506

#1507 DMP-3949: Update breadcrumb to use transcript request id instead of case id
  src/app/portal/components/transcriptions/assign-transcript/assign-transcript.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1507

#1508 Showing error screen if file upload fails
  src/app/portal/components/hearing/add-annotation/add-annotation.component.spec.ts
  src/app/portal/components/hearing/add-annotation/add-annotation.component.ts
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.spec.ts
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1508

#1509 DMP-3958 Fix angular warnings and group link, non clickable unless admin
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.spec.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.ts
  src/app/core/components/common/details-table/details-table.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1509

#1512 DMP-3953: Fix 'Your Audio' columns
  src/app/portal/components/audios/audios.component.html
  src/app/portal/components/audios/audios.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1512

#1521 DMP-3921 fixing duplicate labels for start/end-hour-input
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1521

#1518 fixes console warnings on multiple pages
  src/app/core/components/common/details-table/details-table.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1518

#1527 Fixing event text for audio playback screen
  src/app/portal/components/audios/audio-view/audio-view.component.spec.ts
  src/app/portal/components/audios/audio-view/audio-view.component.ts
  src/app/portal/models/hearing/hearing-event.interface.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1527
