Repository hmcts/darts-portal, pull requests merged in 2024-10, with the labels that each got.

#1534 DMP-4005/6 - deletion banner logic change for audio/transcription
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  darts-api-stub/admin/transcriptions/transcription-documents.js
  src/app/admin/components/audio-file/audio-file.component.html
  src/app/admin/components/audio-file/audio-file.component.spec.ts
  src/app/admin/components/audio-file/audio-file.component.ts
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.html
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.spec.ts
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.ts
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.html
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.spec.ts
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.ts
  src/app/admin/models/common/hidden-file-banner.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1534

#1535 DMP-3939 - Permissions updated for your transcripts
  src/app/core/components/layout/header/portal-navigation/portal-navigation.component.html
  src/app/portal/components/transcriptions/transcriptions.component.html
  src/app/portal/components/transcriptions/transcriptions.component.spec.ts
  src/app/portal/components/transcriptions/transcriptions.component.ts
  src/app/portal/portal.routes.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1535

#1536 Fixing audio request time validation
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.spec.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1536

#1537 DMP-4005 user mapping for deletion is now hidden by
  cypress/e2e/functional/admin-portal/audio-file-details-spec.cy.js
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.html
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1537

#1539 DMP-3939 permission updates for your transcripts view
  src/app/portal/components/transcriptions/transcriptions.component.html
  src/app/portal/components/transcriptions/transcriptions.component.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1539

#1517 DMP-2989 Expired case guard implementation
  cypress/e2e/functional/case-file-spec.cy.js
  darts-api-stub/cases/case.js
  src/app/admin/admin.routes.ts
  src/app/app.routes.spec.ts
  src/app/app.routes.ts
  src/app/core/components/error/not-found/expired-case/expired-case.component.html
  src/app/core/components/error/not-found/expired-case/expired-case.component.scss
  src/app/core/components/error/not-found/expired-case/expired-case.component.spec.ts
  src/app/core/components/error/not-found/expired-case/expired-case.component.ts
  src/app/core/guards/auth/auth.guard.spec.ts
  src/app/core/guards/auth/auth.guard.ts
  src/app/core/guards/expired-case/expired-case.guard.spec.ts
  src/app/core/guards/expired-case/expired-case.guard.ts
  src/app/core/services/error/error-message.service.ts
  src/app/portal/portal.routes.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1517

#1549 Case file - standardise date formats
  src/app/portal/components/case/case-file/case-events-table/case-events-table.component.html
  src/app/portal/components/case/case-file/case-hearings-table/case-hearings-table.component.html
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1549

#1555 Adding redirect URI for handleoauthcode
  server/controllers/authentication.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1555

#1560 Create CODEOWNERS
  .github/workflows/CODEOWNERS
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1560

#1551 DMP-3975 allowing sorting on event ts on event search
  src/app/admin/components/search/event-search-results/event-search-results.component.html
  src/app/admin/components/search/event-search-results/event-search-results.component.ts
  src/app/core/components/common/data-table/data-table.component.spec.ts
  src/app/core/components/common/data-table/data-table.component.ts
  src/app/core/models/data-table/data-table-column.interface.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1551

#1561 Update eslint to v8.8.1
  package.json
  src/app/admin/components/events/view-event/view-event.component.spec.ts
  src/app/admin/components/file-deletion/audio-file-delete/audio-file-delete.component.spec.ts
  src/app/admin/components/file-deletion/audio-file-delete/audio-file-delete.component.ts
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.ts
  src/app/admin/components/retention-policies/retention-policy-form/retention-policy-form.component.ts
  src/app/admin/components/transcripts/transcripts.component.spec.ts
  src/app/core/components/common/filters/filters.component.ts
  src/app/core/services/cookies/cookies.service.ts
  src/app/core/services/dynatrace/dynatrace.service.spec.ts
  src/app/core/services/dynatrace/dynatrace.service.ts
  src/app/core/services/error/error-message.service.spec.ts
  src/app/core/services/error/error-message.service.ts
  src/app/portal/components/audios/audio-view/audio-view.component.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.ts
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1561

#1569 DMP-3639 Anonymised banner text change, search events
  cypress/e2e/functional/admin-portal/search-spec.cy.js
  cypress/e2e/functional/hearing-screen-spec.cy.js
  darts-api-stub/admin/events/events.js
  src/app/admin/components/search/event-search-results/event-search-results.component.html
  src/app/admin/models/search/admin-event-search-result-data.interface.ts
  src/app/admin/models/search/admin-event-search-result.ts
  src/app/admin/services/admin-search/admin-search.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1569

#1548 DMP-3991: Hide "File deletion" screen when manual deletion is not enabled
  charts/darts-portal/Chart.yaml
  charts/darts-portal/values.dev.template.yaml
  charts/darts-portal/values.stg.template.yaml
  config/custom-environment-variables.json
  config/default.json
  config/development.json
  cypress/e2e/functional/admin-portal/file-deletion-spec.cy.js
  cypress/e2e/functional/admin-portal/manual-deletion.spec.cy.js
  server/app-config.ts
  src/app/admin/admin.routes.ts
  src/app/app.routes.spec.ts
  src/app/core/components/layout/header/admin-navigation/admin-navigation.component.html
  src/app/core/components/layout/header/admin-navigation/admin-navigation.component.spec.ts
  src/app/core/components/layout/header/admin-navigation/admin-navigation.component.ts
  src/app/core/components/layout/header/header.component.spec.ts
  src/app/core/guards/manual-deletion/manual-deletion.guard.spec.ts
  src/app/core/guards/manual-deletion/manual-deletion.guard.ts
  src/app/core/services/app-config/app-config.service.spec.ts
  src/app/core/services/app-config/app-config.service.ts
  src/app/core/services/app-config/feature-flag.service.spec.ts
  src/app/core/services/app-config/feature-flag.service.ts
  src/app/core/services/dynatrace/dynatrace.service.spec.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1548

#1541 DMP-3971/2 legacy comments added to portal and admin portal
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  darts-api-stub/admin/transcriptions/transcription-documents.js
  darts-api-stub/transcriptions/transcriptions.js
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-advanced-detail/transcript-file-advanced-detail.component.html
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-advanced-detail/transcript-file-advanced-detail.component.ts
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.html
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
  src/app/portal/models/transcriptions/transcription-details.interface.ts
  src/app/portal/models/transcriptions/transcription-details.type.ts
  src/app/portal/services/mapping/mapping.service.ts
  src/app/portal/services/transcription/transcription.service.spec.ts
  src/app/portal/services/transcription/transcription.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1541

#1580 DMP-4086 permission update request transcript
  src/app/portal/components/hearing/hearing.component.ts
  src/app/portal/portal.routes.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1580

#1575 DMP-4074 Tab order for hidden file banner links
  charts/darts-portal/values.dev.template.yaml
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.html
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.spec.ts
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1575

#1572 DMP-4069 sorting workflow history by time and status
  src/app/admin/facades/transcript/transcript-facade.service.spec.ts
  src/app/admin/facades/transcript/transcript-facade.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1572

#1582 DMP-3962: Amend Heading and Remove Request ID Row in Transcript Details
  src/app/portal/components/transcriptions/view-transcript/case-hearing-transcript/case-hearing-transcript.component.html
  src/app/portal/services/transcription/transcription.service.spec.ts
  src/app/portal/services/transcription/transcription.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1582

#1581 DMP-4084: Add 'Is current' to event advanced details
  cypress/e2e/functional/admin-portal/search-spec.cy.js
  darts-api-stub/admin/events/events.js
  src/app/admin/components/events/advanced-event-details/advanced-event-details.component.html
  src/app/admin/components/events/advanced-event-details/advanced-event-details.component.spec.ts
  src/app/admin/components/events/view-event/view-event.component.spec.ts
  src/app/admin/facades/events/events-facade.service.spec.ts
  src/app/admin/models/events/event-data.interface.ts
  src/app/admin/models/events/event.ts
  src/app/admin/services/events/events.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1581

#1584 DMP-4079 Desc ordering on time stamp in case events (court logs)
  darts-api-stub/retentions/retention.js
  src/app/admin/components/search/event-search-results/event-search-results.component.ts
  src/app/core/components/common/data-table/data-table.component.spec.ts
  src/app/core/components/common/data-table/data-table.component.ts
  src/app/core/models/data-table/data-table-column.interface.ts
  src/app/portal/components/case/case-file/case-events-table/case-events-table.component.ts
  src/app/portal/components/case/case-retention-date/case-retention-date.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1584

#1592 express v4 to v5, unnamed wildcard routes no longer allowed
  package.json
  server/server.ts
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1592

#1602 DMP-4150 tab persistance on your transcript, cypress tests made idempotent
  cypress/e2e/functional/your-transcripts-spec.cy.js
  darts-api-stub/transcriptions/transcriptions.js
  src/app/portal/components/transcriptions/transcriptions.component.html
  src/app/portal/components/transcriptions/transcriptions.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1602

#1578 DMP-3482: Show Automated Job Batch Size in Admin Portal
  cypress/e2e/functional/admin-portal/automated-tasks-spec.cy.js
  darts-api-stub/admin/automated-tasks/automated-tasks.js
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.spec.ts
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.ts
  src/app/admin/models/automated-task/automated-task.interface.ts
  src/app/admin/models/automated-task/automated-task.ts
  src/app/admin/services/automated-tasks/automated-tasks.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1578

#1577 DMP-3660 & DMP-3910 Add event text obfuscation flow
  cypress/e2e/functional/admin-portal/event-details-spec.cy.js
  darts-api-stub/admin/events/events.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/events/advanced-event-details/advanced-event-details.component.spec.ts
  src/app/admin/components/events/basic-event-details/basic-event-details.component.html
  src/app/admin/components/events/basic-event-details/basic-event-details.component.spec.ts
  src/app/admin/components/events/obfuscate-event-text/obfuscate-event-text.component.html
  src/app/admin/components/events/obfuscate-event-text/obfuscate-event-text.component.scss
  src/app/admin/components/events/obfuscate-event-text/obfuscate-event-text.component.spec.ts
  src/app/admin/components/events/obfuscate-event-text/obfuscate-event-text.component.ts
  src/app/admin/components/events/view-event/view-event.component.html
  src/app/admin/components/events/view-event/view-event.component.scss
  src/app/admin/components/events/view-event/view-event.component.spec.ts
  src/app/admin/components/events/view-event/view-event.component.ts
  src/app/admin/facades/events/events-facade.service.spec.ts
  src/app/admin/facades/events/events-facade.service.ts
  src/app/admin/models/events/event.ts
  src/app/admin/services/events/events.service.spec.ts
  src/app/admin/services/events/events.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1577

#1616 DMP-4096 & 4149: Fix heading tags, remove h2 from footer
  src/app/admin/components/groups/group-record/group-record.component.html
  src/app/admin/components/groups/group-record/group-record.component.scss
  src/app/core/components/layout/footer/footer.component.html
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1616
