Repository hmcts/darts-portal, pull requests merged in 2024-06, with the labels that each got.

#1141 DMP-2729: Transcription file details page
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  darts-api-stub/admin/medias/medias.js
  darts-api-stub/admin/transcriptions/transcription-documents.js
  darts-api-stub/transcriptions/transcriptions.js
  src/app/admin/components/transcripts/search-completed-transcripts-results/search-completed-transcripts-results.component.spec.ts
  src/app/admin/components/transcripts/search-completed-transcripts-results/search-completed-transcripts-results.component.ts
  src/app/admin/components/transcripts/transcripts.component.spec.ts
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.html
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.scss
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.spec.ts
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.ts
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.html
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.scss
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.spec.ts
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.ts
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.html
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.spec.ts
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.ts
  src/app/admin/models/transcription/index.ts
  src/app/admin/models/transcription/transcription-document-data.interface.ts
  src/app/admin/models/transcription/transcription-document-search-result-data.interface.ts
  src/app/admin/models/transcription/transcription-document-search-result.ts
  src/app/admin/models/transcription/transcription-document.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
  src/app/admin/services/transformed-media/transformed-media.service.spec.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1141

#1144 DMP-2764 Delete event mapping
  cypress/e2e/functional/admin-portal/event-mappings-spec.cy.js
  darts-api-stub/admin/event-mappings/event-mappings.js
  darts-api-stub/data/eventMappings.json
  src/app/admin/admin.routes.ts
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.html
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.ts
  src/app/admin/components/system-configuration/event-mappings/delete-event-mapping/delete-event-mapping.component.html
  src/app/admin/components/system-configuration/event-mappings/delete-event-mapping/delete-event-mapping.component.scss
  src/app/admin/components/system-configuration/event-mappings/delete-event-mapping/delete-event-mapping.component.spec.ts
  src/app/admin/components/system-configuration/event-mappings/delete-event-mapping/delete-event-mapping.component.ts
  src/app/admin/components/system-configuration/system-configuration.component.html
  src/app/admin/components/system-configuration/system-configuration.component.ts
  src/app/admin/models/event-mappings/event-mapping.interface.ts
  src/app/admin/models/event-mappings/event-mapping.type.ts
  src/app/admin/services/event-mappings/event-mappings.service.ts
  src/app/core/components/common/delete/delete.component.html
  src/app/core/components/common/delete/delete.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1144

#1146 DMP-2888 handle 409 for retention policies
  darts-api-stub/admin/retention-policies/retention-policies.js
  src/app/core/services/error/error-message.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1146

#1147 DMP-2678 mapping to null for empty string, transformed media search
  src/app/admin/components/transformed-media/search-transformed-media-form/search-transformed-media-form.component.html
  src/app/admin/components/transformed-media/search-transformed-media-form/search-transformed-media-form.component.ts
  src/app/admin/constants/transcript-search-form-error-messages.ts
  src/app/admin/services/transformed-media/transformed-media.service.spec.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1147

#1148 Moving B2C template routes to before session middleware
  server/routes.ts
  server/server.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1148

#1145 DMP-3028 - Type subtype validation on add event mapping
  cypress/e2e/functional/admin-portal/event-mappings-spec.cy.js
  darts-api-stub/data/eventMappings.json
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.html
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.spec.ts
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1145

#1149 DMP-2679 - Fix transformed media view
  darts-api-stub/admin/medias/medias.js
  darts-api-stub/admin/security-groups/security-groups.js
  darts-api-stub/admin/transformed-media/transformed-media.js
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.spec.ts
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.spec.ts
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.ts
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.ts
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.ts
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.spec.ts
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.ts
  src/app/admin/models/transformed-media/associated-media-data.interface.ts
  src/app/admin/models/transformed-media/associated-media.ts
  src/app/admin/models/transformed-media/transformed-media-admin-data.interface.ts
  src/app/admin/models/transformed-media/transformed-media-admin.ts
  src/app/admin/services/transformed-media/transformed-media.service.spec.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1149

#1150 DMP-3139 Fixes for completed transcript search
  src/app/admin/components/transcripts/search-completed-transcripts-results/search-completed-transcripts-results.component.ts
  src/app/admin/models/transcription/transcription-search-request.interface.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1150

#1152 DMP-3274 - Transformed Media - Redirect to view page if 1 result returned
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.spec.ts
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1152

#1154 DMP-3133: Map 'Approved' status to 'With Transcriber' in portal
  darts-api-stub/transcriptions/transcriptions.js
  src/app/portal/services/case/case.service.spec.ts
  src/app/portal/services/case/case.service.ts
  src/app/portal/services/transcription/transcription.service.spec.ts
  src/app/portal/services/transcription/transcription.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1154

#1155 Removing debug log messages
  server/controllers/authentication.ts
  server/middleware/is-authenticated.ts
  server/server.ts
  server/utils/authentication-utils.ts
  src/app/core/services/auth/auth.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1155

#1156 DMP-3035 Updating support contact details
  config/default.json
  cypress/e2e/functional/error-spec.cy.js
  cypress/e2e/functional/request-audio-spec.cy.js
  cypress/e2e/functional/your-audio-spec.cy.js
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1156

#1161 DMP-2679 Associated audio courtroom spelling
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1161

#1151 DMP-1662 Hide or delete file flow
  cypress/e2e/functional/admin-portal/hide-or-delete-file-spec.cy.js
  darts-api-stub/admin/transcriptions/hidden-reasons.js
  darts-api-stub/admin/transcriptions/transcription-documents.js
  darts-api-stub/index.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/file-deletion/file-hide-or-delete-success/file-hide-or-delete-success.component.html
  src/app/admin/components/file-deletion/file-hide-or-delete-success/file-hide-or-delete-success.component.scss
  src/app/admin/components/file-deletion/file-hide-or-delete-success/file-hide-or-delete-success.component.spec.ts
  src/app/admin/components/file-deletion/file-hide-or-delete-success/file-hide-or-delete-success.component.ts
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.html
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.scss
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.spec.ts
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.ts
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.html
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.scss
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.ts
  src/app/admin/constants/file-hide-or-delete-error-messages.ts
  src/app/admin/models/hidden-reasons/file-hide-data.interface.ts
  src/app/admin/models/hidden-reasons/file-hide-or-delete-form-values.ts
  src/app/admin/models/hidden-reasons/file-hide.ts
  src/app/admin/models/hidden-reasons/hidden-reason-data.interface.ts
  src/app/admin/models/hidden-reasons/hidden-reason.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1151

#1165 DMP-2794: a11y - Add visually hidden headers to empty <th>
  src/app/admin/components/automated-tasks/automated-tasks.component.ts
  src/app/core/components/common/data-table/data-table.component.html
  src/app/core/models/data-table/data-table-column.interface.ts
  src/app/portal/components/audios/audios.component.ts
  src/app/portal/components/transcriptions/transcription-requests/transcription-requests.component.ts
  src/app/portal/components/transcriptions/transcriptions.component.ts
  src/app/portal/components/your-work/your-work.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1165

#1162 DMP-2791: a11y - Add missing checkbox labels
  package.json
  src/app/admin/components/groups/group-users/group-users.component.spec.ts
  src/app/admin/components/groups/group-users/group-users.component.ts
  src/app/core/components/common/data-table/data-table.component.html
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.spec.ts
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.ts
  src/app/portal/models/hearing/hearing-audio-event.interface.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1162

#1164 Removing audit known issues
  yarn-audit-known-issues
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1164

#1170 DMP-2794: Add <th> hidden text
  src/app/portal/components/hearing/request-transcript/request-transcript.component.ts
  yarn-audit-known-issues
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1170

#1121 DMP-3216: Update angular and deps to v18.0.0
  angular.json
  package.json
  tsconfig.json
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1121

#1182 Update dependencies
  package.json
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.html
  src/app/admin/components/courthouses/edit-courthouse/edit-courthouse.component.html
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.html
  src/app/portal/components/case/case-retention-date/case-retention-date.component.html
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.html
  src/app/portal/components/hearing/request-transcript/request-transcript-confirmation/request-transcript-confirmation.component.html
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1182

#1176 DMP-2709: Add audio file details screen
  cypress/e2e/functional/admin-portal/audio-file-details.spec.cy.js
  darts-api-stub/admin/medias/medias.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/audio-cache/audio-cache.component.html
  src/app/admin/components/audio-cache/audio-cache.component.spec.ts
  src/app/admin/components/audio-cache/audio-cache.component.ts
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.html
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.scss
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.spec.ts
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.ts
  src/app/admin/components/audio-file/associated-cases-table/associated-cases-table.component.html
  src/app/admin/components/audio-file/associated-cases-table/associated-cases-table.component.scss
  src/app/admin/components/audio-file/associated-cases-table/associated-cases-table.component.spec.ts
  src/app/admin/components/audio-file/associated-cases-table/associated-cases-table.component.ts
  src/app/admin/components/audio-file/audio-file.component.html
  src/app/admin/components/audio-file/audio-file.component.scss
  src/app/admin/components/audio-file/audio-file.component.spec.ts
  src/app/admin/components/audio-file/audio-file.component.ts
  src/app/admin/components/audio-file/basic-audio-file-details/basic-audio-file-details.component.html
  src/app/admin/components/audio-file/basic-audio-file-details/basic-audio-file-details.component.scss
  src/app/admin/components/audio-file/basic-audio-file-details/basic-audio-file-details.component.spec.ts
  src/app/admin/components/audio-file/basic-audio-file-details/basic-audio-file-details.component.ts
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.html
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.scss
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.spec.ts
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.ts
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.html
  src/app/admin/models/common/hidden-file-banner.ts
  src/app/admin/models/hidden-reasons/file-hide.ts
  src/app/admin/models/index.ts
  src/app/admin/models/transformed-media/associated-case.ts
  src/app/admin/models/transformed-media/audio-file-data.interface.ts
  src/app/admin/models/transformed-media/audio-file.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
  src/app/core/components/common/notification-banner/notification-banner.component.html
  src/app/core/components/common/notification-banner/notification-banner.component.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1176

#1183 DMP-3263 Fixing multiple idential courtrooms showing as "Multiple" in case search
  src/app/portal/services/case/case.service.spec.ts
  src/app/portal/services/case/case.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1183

#1175 DMP-3247 transcript file banner and table updates
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  darts-api-stub/admin/transcriptions/transcription-documents.js
  darts-api-stub/transcriptions/transcriptions.js
  jest.config.ts
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.html
  src/app/admin/components/audio-file/audio-file.component.spec.ts
  src/app/admin/components/audio-file/audio-file.component.ts
  src/app/admin/components/audio-file/basic-audio-file-details/basic-audio-file-details.component.spec.ts
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.html
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.spec.ts
  src/app/admin/components/transcripts/view-transcript/transcript-details/transcript-details.component.spec.ts
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.spec.ts
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-advanced-detail/transcript-file-advanced-detail.component.html
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-advanced-detail/transcript-file-advanced-detail.component.scss
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-advanced-detail/transcript-file-advanced-detail.component.spec.ts
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-advanced-detail/transcript-file-advanced-detail.component.ts
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.html
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.scss
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.spec.ts
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.ts
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.html
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.spec.ts
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.ts
  src/app/admin/models/common/hidden-file-banner.ts
  src/app/admin/models/transcription/transcription-document-data.interface.ts
  src/app/admin/models/transcription/transcription-document.ts
  src/app/admin/models/transformed-media/admin-action-data.interface.ts
  src/app/admin/models/transformed-media/admin-action.ts
  src/app/admin/models/transformed-media/audio-file-data.interface.ts
  src/app/admin/models/transformed-media/audio-file.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
  src/app/core/components/common/notification-banner/notification-banner.component.html
  src/app/core/components/common/notification-banner/notification-banner.component.ts
  src/app/portal/components/transcriptions/approve-transcript/approve-transcript.component.spec.ts
  src/app/portal/components/transcriptions/assign-transcript/assign-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/approved-transcript/approved-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/case-hearing-transcript/case-hearing-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/rejected-transcript/rejected-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/view-transcript.component.spec.ts
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.spec.ts
  src/app/portal/models/transcriptions/transcription-details.interface.ts
  src/app/portal/models/transcriptions/transcription-details.type.ts
  src/app/portal/services/mapping/mapping.service.ts
  src/app/portal/services/transcription/transcription.service.spec.ts
  tsconfig.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1175

#1188 DMP-1662 API reference character change
  darts-api-stub/index.js
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1188

#1189 Revert "DMP-1662 API reference character change"
  darts-api-stub/index.js
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1189

#1191 DMP-3234 admin/user portal links, fix deprecated RouterTestingModule, unit tests
  src/app/core/components/layout/header/header.component.html
  src/app/core/components/layout/header/header.component.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1191

#1190 DMP-1190: ADMIN - Add search form for cases, hearings, events and audio
  cypress/e2e/functional/admin-portal/search.spec.cy.js
  src/app/admin/components/search/search-form/search-form.component.html
  src/app/admin/components/search/search-form/search-form.component.scss
  src/app/admin/components/search/search-form/search-form.component.spec.ts
  src/app/admin/components/search/search-form/search-form.component.ts
  src/app/admin/components/search/search.component.html
  src/app/admin/components/search/search.component.spec.ts
  src/app/admin/components/search/search.component.ts
  src/app/admin/services/courthouses/courthouse.service.spec.ts
  src/app/admin/services/courthouses/courthouses.service.ts
  src/app/core/components/common/courthouse/courthouse.component.html
  src/app/core/components/common/courthouse/courthouse.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1190

#1200 DMP-3304 Adding "-" for missing prosecutor, defence and defendant values
  src/app/core/pipes/join.spec.ts
  src/app/core/pipes/join.ts
  src/app/portal/components/case/case-file/case-file.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1200

#1207 Hide transcript document screen fixes
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-advanced-detail/transcript-file-advanced-detail.component.html
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1207

#1202 DMP-2728 Changes for associated audio hide flow, unit tests
  cypress/e2e/functional/admin-portal/hide-or-delete-file-spec.cy.js
  cypress/e2e/functional/admin-portal/transformed-media-spec.cy.js
  darts-api-stub/admin/medias/medias.js
  src/app/admin/components/audio-file/audio-file.component.html
  src/app/admin/components/audio-file/audio-file.component.ts
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.html
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.spec.ts
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.ts
  src/app/admin/components/transformed-media/associated-audio-hide-delete/associated-audio-hide-delete.component.html
  src/app/admin/components/transformed-media/associated-audio-hide-delete/associated-audio-hide-delete.component.scss
  src/app/admin/components/transformed-media/associated-audio-hide-delete/associated-audio-hide-delete.component.spec.ts
  src/app/admin/components/transformed-media/associated-audio-hide-delete/associated-audio-hide-delete.component.ts
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.html
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.ts
  src/app/admin/models/hidden-reasons/file-hide-data.interface.ts
  src/app/admin/models/hidden-reasons/file-hide.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
  src/app/admin/services/transformed-media/transformed-media.service.spec.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1202

#1198 DMP-3129: ADMIN - Search cases
  cypress/e2e/functional/admin-portal/search.spec.cy.js
  darts-api-stub/admin/cases/cases.js
  darts-api-stub/index.js
  src/app/admin/components/search/search-form/search-form.component.html
  src/app/admin/components/search/search-form/search-form.component.scss
  src/app/admin/components/search/search-form/search-form.component.spec.ts
  src/app/admin/components/search/search-form/search-form.component.ts
  src/app/admin/components/search/search.component.html
  src/app/admin/components/search/search.component.spec.ts
  src/app/admin/components/search/search.component.ts
  src/app/admin/constants/admin-search-form-error-messages.ts
  src/app/admin/models/search/admin-case-search-result-data.interface.ts
  src/app/admin/models/search/admin-case-search-result.ts
  src/app/admin/services/admin-search/admin-search.service.spec.ts
  src/app/admin/services/admin-search/admin-search.service.ts
  src/app/admin/services/courthouses/courthouses.service.ts
  src/app/core/components/common/govuk-tabs/govuk-tabs.component.html
  src/app/core/components/common/govuk-tabs/govuk-tabs.component.scss
  src/app/core/components/common/govuk-tabs/govuk-tabs.component.spec.ts
  src/app/core/components/common/govuk-tabs/govuk-tabs.component.ts
  src/app/core/components/common/tabs/tabs.component.html
  src/app/core/components/common/tabs/tabs.component.spec.ts
  src/app/core/components/common/tabs/tabs.component.ts
  src/app/core/services/error/error-message.service.ts
  src/app/portal/components/search/case-search-results/case-search-results.component.html
  src/app/portal/components/search/case-search-results/case-search-results.component.scss
  src/app/portal/components/search/case-search-results/case-search-results.component.spec.ts
  src/app/portal/components/search/case-search-results/case-search-results.component.ts
  src/app/portal/components/search/search.component.html
  src/app/portal/components/search/search.component.spec.ts
  src/app/portal/components/search/search.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1198

#1212 DMP-2975: Add isActive flag to userState
  darts-api-stub/authentication/index.js
  darts-api-stub/users.js
  darts-api-stub/views/login.ejs
  server/controllers/authentication.ts
  server/types/classes/userState.ts
  src/app/app.routes.spec.ts
  src/app/core/models/user/user-state.interface.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/portal/components/hearing/hearing.component.spec.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1212

#1201 DMP-3316: ADMIN - Search events
  cypress/e2e/functional/admin-portal/search.spec.cy.js
  darts-api-stub/admin/cases/cases.js
  darts-api-stub/admin/events/events.js
  darts-api-stub/index.js
  server/controllers/stub-data.ts
  server/stubs/events.ts
  server/stubs/index.ts
  src/app/admin/components/search/event-search-results/event-search-results.component.html
  src/app/admin/components/search/event-search-results/event-search-results.component.scss
  src/app/admin/components/search/event-search-results/event-search-results.component.spec.ts
  src/app/admin/components/search/event-search-results/event-search-results.component.ts
  src/app/admin/components/search/search.component.html
  src/app/admin/components/search/search.component.spec.ts
  src/app/admin/components/search/search.component.ts
  src/app/admin/models/search/admin-event-search-result-data.interface.ts
  src/app/admin/models/search/admin-event-search-result.ts
  src/app/admin/services/admin-search/admin-search.service.spec.ts
  src/app/admin/services/admin-search/admin-search.service.ts
  src/app/core/components/common/govuk-tabs/govuk-tabs.component.html
  src/app/core/services/error/error-message.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1201

#1213 DMP-3390: Update JUDGE role name to JUDICIARY
  darts-api-stub/admin/security-roles/security-roles.js
  darts-api-stub/data/securityRoles.json
  darts-api-stub/roles.js
  server/controllers/download.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.spec.ts
  src/app/core/models/user/role-name.type.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/portal/portal.routes.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1213

#1208 DMP-3315: ADMIN - Search hearings
  cypress/e2e/functional/admin-portal/search.spec.cy.js
  darts-api-stub/admin/hearings/hearings.js
  darts-api-stub/index.js
  server/controllers/stub-data.ts
  server/stubs/hearings.ts
  server/stubs/index.ts
  src/app/admin/components/search/hearing-search-results/hearing-search-results.component.html
  src/app/admin/components/search/hearing-search-results/hearing-search-results.component.scss
  src/app/admin/components/search/hearing-search-results/hearing-search-results.component.spec.ts
  src/app/admin/components/search/hearing-search-results/hearing-search-results.component.ts
  src/app/admin/components/search/search.component.html
  src/app/admin/components/search/search.component.spec.ts
  src/app/admin/components/search/search.component.ts
  src/app/admin/models/search/admin-hearing-search-result-data.interface.ts
  src/app/admin/models/search/admin-hearing-search-result.ts
  src/app/admin/services/admin-search/admin-search.service.spec.ts
  src/app/admin/services/admin-search/admin-search.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1208

#1214 DMP-3247 - transcript file updates
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-advanced-detail/transcript-file-advanced-detail.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1214

#1209 DMP-3317: ADMIN - Seach audio
  cypress/e2e/functional/admin-portal/search.spec.cy.js
  darts-api-stub/admin/medias/medias.js
  server/controllers/stub-data.ts
  server/stubs/index.ts
  server/stubs/medias.ts
  src/app/admin/components/search/audio-search-results/audio-search-results.component.html
  src/app/admin/components/search/audio-search-results/audio-search-results.component.scss
  src/app/admin/components/search/audio-search-results/audio-search-results.component.spec.ts
  src/app/admin/components/search/audio-search-results/audio-search-results.component.ts
  src/app/admin/components/search/search.component.html
  src/app/admin/components/search/search.component.spec.ts
  src/app/admin/components/search/search.component.ts
  src/app/admin/models/search/admin-media-search-result-data.inerface.ts
  src/app/admin/models/search/admin-media-search-result.ts
  src/app/admin/services/admin-search/admin-search.service.spec.ts
  src/app/admin/services/admin-search/admin-search.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1209

#1219 DMP-2796 ally fixes for heading levels
  src/app/portal/components/case/case-file/case-file.component.html
  src/app/portal/components/case/case.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1219

#1218 DMP-3370 - Bug fix - courthouse autocomplete across transcript, media forms
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.html
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.ts
  src/app/admin/components/transcripts/transcripts.component.html
  src/app/admin/components/transcripts/transcripts.component.spec.ts
  src/app/admin/components/transformed-media/search-transformed-media-form/search-transformed-media-form.component.html
  src/app/admin/components/transformed-media/search-transformed-media-form/search-transformed-media-form.component.ts
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.html
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.spec.ts
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1218

#1220 DMP-3232: Handle 409 error on user activation
  cypress/e2e/functional/admin-portal/user-record-spec.cy.js
  darts-api-stub/admin/users/users.js
  darts-api-stub/users.js
  src/app/admin/components/users/activate-user/activate-user.component.spec.ts
  src/app/admin/components/users/activate-user/activate-user.component.ts
  src/app/admin/components/users/user-record/user-record.component.html
  src/app/admin/components/users/user-record/user-record.component.spec.ts
  src/app/admin/components/users/user-record/user-record.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1220

#1221 DMP-3430 Fixing annotation document download
  server/controllers/download.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1221
