Repository hmcts/darts-portal, pull requests merged in 2024-11, with the labels that each got.

#1611 DMP-4097 Audio details - hide link if user does not exist
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.html
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1611

#1597 DMP-4095 checkboxLabel set for checkbox tables
  src/app/admin/components/users/user-groups/assign-groups/assign-groups.component.spec.ts
  src/app/admin/components/users/user-groups/assign-groups/assign-groups.component.ts
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.ts
  src/app/portal/components/audios/audios.component.ts
  src/app/portal/components/transcriptions/transcriptions.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1597

#1631 DMP-4229 - Bug - Set b2c banner logo to base url href
  server/controllers/auth.ts
  server/views/azuread-b2c-login.html
  src/app/core/components/error/not-found/expired-case/expired-case.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1631

#1632 DMP-4229 - remove baseUrl, add b2c hostname
  server/controllers/auth.ts
  server/views/azuread-b2c-login.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1632

#1562 update read me
  README.md
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1562

#1607 DMP-3880 Request playback audio - added incorrect format validation
  cypress/e2e/functional/request-audio-spec.cy.js
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1607

#1630 DMP-4222: System configuration - Duplicate network call bug on tab change
  src/app/admin/components/retention-policies/retention-policies.component.ts
  src/app/admin/components/system-configuration/system-configuration.component.spec.ts
  src/app/admin/components/system-configuration/system-configuration.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1630

#1601 DMP-4121: Fix last playing event highlight in audio view
  src/app/portal/components/audios/audio-view/audio-view.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1601

#1625 DMP-4213 Accessibility - Table captions outside table
  cypress/e2e/functional/admin-portal/transformed-media-spec.cy.js
  src/app/admin/components/search/audio-search-results/audio-search-results.component.spec.ts
  src/app/admin/components/search/audio-search-results/audio-search-results.component.ts
  src/app/admin/components/search/event-search-results/event-search-results.component.spec.ts
  src/app/admin/components/search/event-search-results/event-search-results.component.ts
  src/app/admin/components/search/hearing-search-results/hearing-search-results.component.spec.ts
  src/app/admin/components/search/hearing-search-results/hearing-search-results.component.ts
  src/app/admin/components/system-configuration/event-mappings/event-mappings.component.html
  src/app/admin/components/system-configuration/event-mappings/event-mappings.component.ts
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.html
  src/app/core/components/common/data-table/data-table.component.html
  src/app/core/components/common/data-table/data-table.component.scss
  src/app/portal/components/search/case-search-results/case-search-results.component.spec.ts
  src/app/portal/components/search/case-search-results/case-search-results.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1625

#1609 DMP-3980: Change batch size of automated task
  cypress/e2e/functional/admin-portal/automated-tasks-spec.cy.js
  darts-api-stub/admin/automated-tasks/automated-tasks.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/automated-tasks/change-batch-size/change-batch-size.component.html
  src/app/admin/components/automated-tasks/change-batch-size/change-batch-size.component.scss
  src/app/admin/components/automated-tasks/change-batch-size/change-batch-size.component.spec.ts
  src/app/admin/components/automated-tasks/change-batch-size/change-batch-size.component.ts
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.html
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.spec.ts
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.ts
  src/app/admin/services/automated-tasks/automated-tasks.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1609

#1608 DMP-4073 case number breadcrumb on rejected transcripts
  src/app/portal/components/transcriptions/view-transcript/rejected-transcript/rejected-transcript.component.html
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1608

#1638 DMP-4249: Add EVENT_OBFUSCATION_ENABLED feature flag
  charts/darts-portal/values.dev.template.yaml
  charts/darts-portal/values.stg.template.yaml
  config/custom-environment-variables.json
  config/default.json
  config/development.json
  src/app/admin/admin.routes.ts
  src/app/admin/components/events/view-event/view-event.component.spec.ts
  src/app/admin/components/events/view-event/view-event.component.ts
  src/app/app.routes.spec.ts
  src/app/core/guards/event-obfuscation/event-obfuscation-guard.spec.ts
  src/app/core/guards/event-obfuscation/event-obfuscation-guard.ts
  src/app/core/services/app-config/app-config.service.spec.ts
  src/app/core/services/app-config/app-config.service.ts
  src/app/core/services/app-config/feature-flag.service.spec.ts
  src/app/core/services/app-config/feature-flag.service.ts
  src/app/core/services/dynatrace/dynatrace.service.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1638

#1637 Chore: Update angular, eslint and fix linting issue
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.html
  src/app/admin/components/courthouses/create-courthouse/create-courthouse.component.html
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.html
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.spec.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.ts
  src/app/admin/components/courthouses/edit-courthouse/edit-courthouse.component.html
  src/app/admin/components/groups/create-edit-group/create-edit-group.component.html
  src/app/admin/components/groups/group-form/group-form.component.spec.ts
  src/app/admin/components/groups/group-form/group-form.component.ts
  src/app/admin/components/retention-policies/create-edit-retention-policy/create-edit-retention-policy.component.html
  src/app/admin/components/retention-policies/retention-policy-form/retention-policy-form.component.html
  src/app/admin/components/retention-policies/retention-policy-form/retention-policy-form.component.ts
  src/app/admin/components/system-configuration/event-mappings/delete-event-mapping/delete-event-mapping.component.html
  src/app/admin/components/users/create-user/create-update-user-confirmation/create-update-user-confirmation.component.html
  src/app/admin/components/users/create-user/create-update-user-confirmation/create-update-user-confirmation.component.spec.ts
  src/app/admin/components/users/create-user/create-update-user-confirmation/create-update-user-confirmation.component.ts
  src/app/admin/components/users/create-user/create-update-user-form/create-update-user-form.component.spec.ts
  src/app/admin/components/users/create-user/create-update-user-form/create-update-user-form.component.ts
  src/app/admin/components/users/create-user/create-user.component.html
  src/app/admin/components/users/edit-user/edit-email-confirmation/edit-email-confirmation.component.html
  src/app/admin/components/users/edit-user/edit-email-confirmation/edit-email-confirmation.component.ts
  src/app/admin/components/users/edit-user/edit-user.component.html
  src/app/admin/components/users/user-groups/assign-groups/assign-groups.component.html
  src/app/admin/components/users/user-groups/assign-groups/security-group-selector/security-group-selector.component.html
  src/app/admin/components/users/user-groups/assign-groups/security-group-selector/security-group-selector.component.ts
  src/app/core/components/common/delete/delete.component.html
  src/app/core/components/common/delete/delete.component.ts
  src/app/portal/components/audios/audio-view/audio-view.component.html
  src/app/portal/components/audios/audios.component.html
  src/app/portal/components/case/case.component.html
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.spec.ts
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.ts
  src/app/portal/components/hearing/request-transcript/request-transcript-confirmation/request-transcript-confirmation.component.spec.ts
  src/app/portal/components/hearing/request-transcript/request-transcript-confirmation/request-transcript-confirmation.component.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.html
  src/app/portal/components/transcriptions/transcriptions.component.html
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1637

#1576 DMP-3993 anonymised text for case events
  cypress/e2e/functional/case-file-spec.cy.js
  cypress/e2e/functional/request-audio-spec.cy.js
  darts-api-stub/cases/case.js
  darts-api-stub/hearings/hearings.js
  src/app/portal/components/case/case-file/case-events-table/case-events-table.component.html
  src/app/portal/components/case/case-file/case-events-table/case-events-table.component.scss
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.html
  src/app/portal/models/events/case-event-data.interface.ts
  src/app/portal/models/events/case-event.ts
  src/app/portal/models/hearing/hearing-event.interface.ts
  src/app/portal/services/case/case.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1576

#1643 DMP-4160 upper case applied to courtroom / courthouse values in request
  src/app/admin/services/admin-search/admin-search.service.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
  src/app/admin/services/transformed-media/transformed-media.service.spec.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
  src/app/portal/services/case/case.service.spec.ts
  src/app/portal/services/case/case.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1643

#1641 DMP-4234 Hidden table captions added for a11y
  src/app/admin/components/audio-file/associated-cases-table/associated-cases-table.component.html
  src/app/admin/components/automated-tasks/automated-tasks.component.html
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.html
  src/app/admin/components/courthouses/courthouse-users/courthouse-users.component.html
  src/app/admin/components/file-deletion/audio-file-results/audio-file-results.component.html
  src/app/admin/components/file-deletion/transcripts-for-deletion/transcripts-for-deletion.component.html
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.html
  src/app/admin/components/groups/group-users/group-users.component.html
  src/app/admin/components/groups/groups.component.html
  src/app/admin/components/retention-policies/retention-policies.component.html
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.html
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.html
  src/app/portal/components/case/case-retention-date/case-retention-date.component.html
  src/app/portal/components/transcriptions/transcription-requests/transcription-requests.component.html
  src/app/portal/components/transcriptions/transcriptions.component.html
  src/app/portal/components/your-work/your-work.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1641

#1642 DMP-3817 Show ARM RPO attributes for automated task
  .eslintrc.json
  cypress/e2e/functional/admin-portal/automated-tasks-spec.cy.js
  darts-api-stub/admin/automated-tasks/automated-tasks.js
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.html
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.spec.ts
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.ts
  src/app/admin/components/system-configuration/system-configuration.component.html
  src/app/admin/components/system-configuration/system-configuration.component.spec.ts
  src/app/admin/components/system-configuration/system-configuration.component.ts
  src/app/admin/models/automated-task/automated-task.interface.ts
  src/app/admin/models/automated-task/automated-task.ts
  src/app/admin/services/automated-tasks/automated-tasks.service.ts
  src/app/core/components/common/details-table/details-table.component.ts
  src/app/core/components/common/tabs/tabs.component.ts
  src/app/core/directives/govuk-summary-list/govuk-summary-action.directive.spec.ts
  src/app/core/directives/govuk-summary-list/govuk-summary-action.directive.ts
  src/app/core/directives/govuk-summary-list/govuk-summary-key.directive.spec.ts
  src/app/core/directives/govuk-summary-list/govuk-summary-key.directive.ts
  src/app/core/directives/govuk-summary-list/govuk-summary-list-row.directive.spec.ts
  src/app/core/directives/govuk-summary-list/govuk-summary-list-row.directive.ts
  src/app/core/directives/govuk-summary-list/govuk-summary-list.directive.spec.ts
  src/app/core/directives/govuk-summary-list/govuk-summary-list.directive.ts
  src/app/core/directives/govuk-summary-list/govuk-summary-value.directive.spec.ts
  src/app/core/directives/govuk-summary-list/govuk-summary-value.directive.ts
  src/app/core/directives/govuk-summary-list/govuk-summary.directive.ts
  src/app/core/directives/govuk-summary-list/index.ts
  src/styles.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1642

#1644 DMP-4094 Adding table cell headers
  cypress/e2e/functional/admin-portal/file-deletion-spec.cy.js
  src/app/admin/components/file-deletion/audio-file-results/audio-file-results.component.ts
  src/app/admin/components/file-deletion/transcripts-for-deletion/transcripts-for-deletion.component.ts
  src/app/admin/components/retention-policies/retention-policies.component.ts
  src/app/admin/components/system-configuration/event-mappings/event-mappings.component.ts
  src/app/admin/components/users/user-search-results/user-search-results.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1644

#1645 DMP-4304 Fixing transcript search multiple h1 headings
  src/app/admin/components/transcripts/transcripts.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1645

#1646 DMP-4234 Small spelling fix
  src/app/portal/components/your-work/your-work.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1646

#1648 DMP-4308 Replacing date picker with MoJ date picker
  angular.json
  cypress/e2e/functional/admin-portal/search-spec.cy.js
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  cypress/e2e/functional/admin-portal/transformed-media-spec.cy.js
  jest.config.ts
  package.json
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.html
  src/app/admin/components/transformed-media/search-transformed-media-form/search-transformed-media-form.component.html
  src/app/core/components/common/datepicker/datepicker.component.html
  src/app/core/components/common/datepicker/datepicker.component.scss
  src/app/core/components/common/datepicker/datepicker.component.spec.ts
  src/app/core/components/common/datepicker/datepicker.component.ts
  src/app/core/components/common/specific-or-range-date-picker/specific-or-range-date-picker.component.html
  src/assets/datepicker.scss
  src/styles.scss
  src/types.d.ts
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1648

#1647 DMP-4228 ARM RPO Update fields
  cypress/e2e/functional/admin-portal/automated-tasks-spec.cy.js
  darts-api-stub/admin/automated-tasks/automated-tasks.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/automated-tasks/change-batch-size/change-batch-size.component.html
  src/app/admin/components/automated-tasks/change-batch-size/change-batch-size.component.spec.ts
  src/app/admin/components/automated-tasks/change-batch-size/change-batch-size.component.ts
  src/app/admin/components/automated-tasks/edit-automated-task/edit-automated-task.component.html
  src/app/admin/components/automated-tasks/edit-automated-task/edit-automated-task.component.scss
  src/app/admin/components/automated-tasks/edit-automated-task/edit-automated-task.component.spec.ts
  src/app/admin/components/automated-tasks/edit-automated-task/edit-automated-task.component.ts
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.html
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.ts
  src/app/admin/constants/automated-task-edit-error-messages.ts
  src/app/admin/models/automated-task/automated-task.ts
  src/app/admin/services/automated-tasks/automated-tasks.service.ts
  src/app/portal/components/hearing/request-playback-audio/time-input/time-input.component.html
  src/app/portal/components/hearing/request-playback-audio/time-input/time-input.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1647

#1652 Allowing redis connection string to be read from injected env var
  config/custom-environment-variables.json
  config/default.json
  server/middleware/session.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1652

#1656 DMP-4209 - Back links added across user, group, courthouse records
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.html
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.ts
  src/app/admin/components/groups/group-record/group-record.component.html
  src/app/admin/components/groups/group-record/group-record.component.ts
  src/app/admin/components/users/user-record/user-record.component.html
  src/app/admin/components/users/user-record/user-record.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1656

#1655 DMP-4208 - Add back link to view automated task
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1655

#1657 DMP-4210 utilised history service to detect query param back urls
  src/app/admin/components/audio-file/audio-file.component.ts
  src/app/admin/components/file-deletion/transcripts-for-deletion/transcripts-for-deletion.component.html
  src/app/admin/components/search/audio-search-results/audio-search-results.component.html
  src/app/admin/components/transcripts/search-completed-transcripts-results/search-completed-transcripts-results.component.html
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.html
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.spec.ts
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.ts
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.html
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1657

#1585 DMP-4101 Increase session timeout to 8 hours
  config/default.json
  server/middleware/session.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1585

#1666 DMP-4209: Add state persistence to user, group and courthouse admin search forms
  .eslintrc.json
  src/app/admin/components/courthouses/courthouse-search-form/courthouse-search-form.component.spec.ts
  src/app/admin/components/courthouses/courthouse-search-form/courthouse-search-form.component.ts
  src/app/admin/components/courthouses/courthouses.component.html
  src/app/admin/components/courthouses/courthouses.component.ts
  src/app/admin/components/groups/groups.component.ts
  src/app/admin/components/users/user-search-form/user-search-form.component.spec.ts
  src/app/admin/components/users/user-search-form/user-search-form.component.ts
  src/app/admin/components/users/user-search-results/user-search-results.component.ts
  src/app/admin/components/users/users.component.html
  src/app/admin/components/users/users.component.spec.ts
  src/app/admin/components/users/users.component.ts
  src/app/core/services/form-state.service.spec.ts
  src/app/core/services/form-state.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1666

#1668 DMP-4280: Add configurable aria label to govuk banner component
  src/app/admin/components/events/view-event/view-event.component.html
  src/app/core/components/common/govuk-banner/govuk-banner.component.html
  src/app/core/components/common/govuk-banner/govuk-banner.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1668

#1675 DMP-4311 Update favicon to the new MoJ crest
  darts-api-stub/views/login.ejs
  server/assets/images/moj-logotype-crest-2024.png
  server/views/azuread-b2c-login.html
  src/index.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1675

#1677 DMP-4240 Add 'Is current?' property to audio file details screen
  cypress/e2e/functional/admin-portal/audio-file-details-spec.cy.js
  darts-api-stub/admin/medias/medias.js
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.html
  src/app/admin/models/transformed-media/audio-file-data.interface.ts
  src/app/admin/models/transformed-media/audio-file.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1677

#1667 DMP-4217: Add confirmation screen when running an inactive automated task
  cypress/e2e/functional/admin-portal/automated-tasks-spec.cy.js
  darts-api-stub/admin/automated-tasks/automated-tasks.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/automated-tasks/automated-task-status/automated-task-status.component.html
  src/app/admin/components/automated-tasks/automated-task-status/automated-task-status.component.spec.ts
  src/app/admin/components/automated-tasks/automated-task-status/automated-task-status.component.ts
  src/app/admin/components/automated-tasks/automated-tasks.component.html
  src/app/admin/components/automated-tasks/automated-tasks.component.spec.ts
  src/app/admin/components/automated-tasks/automated-tasks.component.ts
  src/app/admin/components/automated-tasks/run-automated-task/run-automated-task.component.html
  src/app/admin/components/automated-tasks/run-automated-task/run-automated-task.component.scss
  src/app/admin/components/automated-tasks/run-automated-task/run-automated-task.component.spec.ts
  src/app/admin/components/automated-tasks/run-automated-task/run-automated-task.component.ts
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.html
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.spec.ts
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.ts
  src/app/admin/components/system-configuration/system-configuration.component.html
  src/app/admin/components/system-configuration/system-configuration.component.spec.ts
  src/app/admin/components/system-configuration/system-configuration.component.ts
  src/app/admin/models/automated-task/automated-task-status.ts
  src/app/admin/services/automated-tasks/automated-tasks.service.spec.ts
  src/app/admin/services/automated-tasks/automated-tasks.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1667

#1685 DMP-4321 Fix date range validation error messages
  src/app/core/components/common/specific-or-range-date-picker/specific-or-range-date-picker.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1685

#1689 DMP-4240 Remove 'isCurrent' check in template
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1689

#1690 DMP-4250: Remove th padding to fix table alignment
  src/styles.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1690

#1699 Updating header SVG to latest crest
  src/app/core/components/layout/header/header.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1699

#1682 DMP-4261 Expire user session gracefully
  src/app/core/interceptors/error/error.interceptor.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, DO NOT MERGE YET, rel:darts-portal-pr-1682
