Repository hmcts/darts-portal, pull requests merged in 2024-08, with the labels that each got.

#1343 DMP-3607 hide controls on completed transcript requests in your work
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.html
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.ts
  src/app/portal/components/your-work/your-work.component.html
  src/app/portal/components/your-work/your-work.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1343

#1350 DMP-3604: Redirect user to 404 if hearing doesn't exist
  src/app/core/components/common/notification-banner/notification-banner.component.scss
  src/app/portal/components/case/case.component.ts
  src/app/portal/components/hearing/add-annotation/add-annotation.component.html
  src/app/portal/components/hearing/add-annotation/add-annotation.component.spec.ts
  src/app/portal/components/hearing/add-annotation/add-annotation.component.ts
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/hearing/hearing.component.spec.ts
  src/app/portal/components/hearing/hearing.component.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.ts
  src/app/portal/portal.routes.ts
  src/main.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1350

#1351 DMP-3680 adding / removing headers for clickjacking x-frame
  server/server.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1351

#1362 DMP-3734: Fix annotation upload validation error messages
  src/app/core/components/common/file-upload/file-upload.component.html
  src/app/core/components/common/file-upload/file-upload.component.ts
  src/app/core/validators/max-file-size.validator.ts
  src/app/portal/components/hearing/add-annotation/add-annotation.component.html
  src/app/portal/components/hearing/add-annotation/add-annotation.component.spec.ts
  src/app/portal/components/hearing/add-annotation/add-annotation.component.ts
  src/app/portal/services/annotation/annotation.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1362

#1356 DMP-3605: Handle mismatching case/hearing and transcription IDs in URL
  darts-api-stub/transcriptions/transcriptions.js
  src/app/portal/components/transcriptions/view-transcript/approved-transcript/approved-transcript.component.scss
  src/app/portal/components/transcriptions/view-transcript/view-transcript.component.html
  src/app/portal/components/transcriptions/view-transcript/view-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/view-transcript.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1356

#1357 DMP-3543: Fix tab order
  src/app/admin/components/search/search-form/search-form.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1357

#1364 DMP-3294: Fix labels on tranformed media search form
  src/app/admin/components/transformed-media/search-transformed-media-form/search-transformed-media-form.component.html
  src/app/core/components/common/specific-or-range-date-picker/specific-or-range-date-picker.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1364

#1363 DMP-3611: Fix typos, prevent empty links
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.html
  src/app/admin/components/audio-file/associated-cases-table/associated-cases-table.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1363

#1369 DMP-3756 Bug - validation to check if times are outside audio times
  cypress/e2e/functional/request-audio-spec.cy.js
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.spec.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1369

#1368 DMP-2716 Audio file deletion results, marked user validation
  cypress/e2e/functional/admin-portal/file-deletion-spec.cy.js
  darts-api-stub/admin/medias/medias.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/file-deletion/audio-file-delete/audio-file-delete.component.html
  src/app/admin/components/file-deletion/audio-file-delete/audio-file-delete.component.scss
  src/app/admin/components/file-deletion/audio-file-delete/audio-file-delete.component.spec.ts
  src/app/admin/components/file-deletion/audio-file-delete/audio-file-delete.component.ts
  src/app/admin/components/file-deletion/audio-file-results/audio-file-results.component.html
  src/app/admin/components/file-deletion/audio-file-results/audio-file-results.component.scss
  src/app/admin/components/file-deletion/audio-file-results/audio-file-results.component.spec.ts
  src/app/admin/components/file-deletion/audio-file-results/audio-file-results.component.ts
  src/app/admin/components/file-deletion/file-deletion.component.html
  src/app/admin/components/file-deletion/file-deletion.component.spec.ts
  src/app/admin/components/file-deletion/file-deletion.component.ts
  src/app/admin/models/file-deletion/audio-file-marked-deletion.interface.ts
  src/app/admin/models/file-deletion/audio-file-marked-deletion.type.ts
  src/app/admin/services/file-deletion/file-deletion.service.spec.ts
  src/app/admin/services/file-deletion/file-deletion.service.ts
  src/app/core/services/user/user.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1368

#1374 DMP-3756 Bug - Ensure unique error summary for outside time validation
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1374

#1367 DMP-3589: Reinstate test
  cypress/e2e/functional/your-audio-spec.cy.js
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1367

#1375 DMP-3761: Remove update to unassiged transcript count on unassigned request call
  src/app/portal/services/transcription/transcription.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1375

#1376 DMP-2716 Change mapping for file deletion audio, to hiddenById
  darts-api-stub/admin/medias/medias.js
  src/app/admin/components/file-deletion/audio-file-results/audio-file-results.component.spec.ts
  src/app/admin/components/file-deletion/audio-file-results/audio-file-results.component.ts
  src/app/admin/components/file-deletion/file-deletion.component.spec.ts
  src/app/admin/models/file-deletion/audio-file-marked-deletion.type.ts
  src/app/admin/services/file-deletion/file-deletion.service.spec.ts
  src/app/admin/services/file-deletion/file-deletion.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1376

#1370 DMP-3724: Refactor case search and bug fixing
  cypress/e2e/functional/case-search-spec.cy.js
  jest.config.ts
  server/index.ts
  src/app/admin/components/courthouses/courthouse-search-form/courthouse-search-form.component.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.ts
  src/app/admin/components/groups/group-form/group-form.component.ts
  src/app/admin/components/transformed-media/associated-audio-hide-delete/associated-audio-hide-delete.component.ts
  src/app/admin/components/users/create-user/create-update-user-form/create-update-user-form.component.ts
  src/app/admin/components/users/user-search-form/user-search-form.component.ts
  src/app/admin/constants/case-search-form-error-messages.ts
  src/app/admin/constants/event-mapping-error-messages.ts
  src/app/admin/constants/file-hide-or-delete-error-messages.ts
  src/app/admin/constants/retention-policy-form-error-messages.ts
  src/app/admin/services/admin-search/admin-search.service.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
  src/app/core/components/common/datepicker/datepicker.component.html
  src/app/core/components/common/specific-or-range-date-picker/specific-or-range-date-picker.component.ts
  src/app/core/models/error/field-errors.interface.ts
  src/app/core/models/error/form-error-messages.type.ts
  src/app/core/models/index.ts
  src/app/core/models/utils/nested-keys.type.ts
  src/app/core/models/utils/unwrap-form-values.type.ts
  src/app/core/services/form/form.service.spec.ts
  src/app/core/services/form/form.service.ts
  src/app/core/utils/date.utils.spec.ts
  src/app/core/utils/date.utils.ts
  src/app/core/utils/index.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
  src/app/portal/components/search/case-search-form/case-search-form.component.html
  src/app/portal/components/search/case-search-form/case-search-form.component.scss
  src/app/portal/components/search/case-search-form/case-search-form.component.spec.ts
  src/app/portal/components/search/case-search-form/case-search-form.component.ts
  src/app/portal/components/search/search.component.html
  src/app/portal/components/search/search.component.scss
  src/app/portal/components/search/search.component.spec.ts
  src/app/portal/components/search/search.component.ts
  src/app/portal/models/annotations/index.ts
  src/app/portal/models/case/case-search-form.type.ts
  src/app/portal/models/case/case-search-request.interface.ts
  src/app/portal/models/case/index.ts
  src/app/portal/models/events/index.ts
  src/app/portal/models/hearing/index.ts
  src/app/portal/models/index.ts
  src/app/portal/models/media/index.ts
  src/app/portal/models/media/media-request-data.interface.ts
  src/app/portal/models/media/media-request.type.ts
  src/app/portal/models/media/requested-media.interface.ts
  src/app/portal/models/media/requested-media.type.ts
  src/app/portal/models/media/transformed-media-data.interface.ts
  src/app/portal/models/media/transformed-media-type.ts
  src/app/portal/models/transcriptions/index.ts
  src/app/portal/services/case-search/case-search.service.spec.ts
  src/app/portal/services/case-search/case-search.service.ts
  src/app/portal/services/case/case.service.spec.ts
  src/app/portal/services/case/case.service.ts
  tsconfig.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1370

#1382 DMP-2718 Audio file deletion
  cypress/e2e/functional/admin-portal/file-deletion-spec.cy.js
  darts-api-stub/admin/medias/medias.js
  server/controllers/stub-data.ts
  server/stubs/medias.ts
  src/app/admin/components/audio-file/audio-file.component.html
  src/app/admin/components/audio-file/audio-file.component.ts
  src/app/admin/components/file-deletion/audio-file-delete/audio-file-delete.component.html
  src/app/admin/components/file-deletion/audio-file-delete/audio-file-delete.component.scss
  src/app/admin/components/file-deletion/audio-file-delete/audio-file-delete.component.spec.ts
  src/app/admin/components/file-deletion/audio-file-delete/audio-file-delete.component.ts
  src/app/admin/components/file-deletion/audio-file-results/audio-file-results.component.html
  src/app/admin/components/file-deletion/audio-file-results/audio-file-results.component.spec.ts
  src/app/admin/components/file-deletion/audio-file-results/audio-file-results.component.ts
  src/app/admin/components/file-deletion/file-deletion.component.html
  src/app/admin/components/file-deletion/file-deletion.component.ts
  src/app/admin/services/file-deletion/file-deletion.service.spec.ts
  src/app/admin/services/file-deletion/file-deletion.service.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
  src/app/portal/services/mapping/mapping.service.ts
  yarn-audit-known-issues
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1382

#1381 DMP-3776: Fix duplicate transcriber counts call
  src/app/core/components/layout/header/header.component.spec.ts
  src/app/core/components/layout/header/portal-navigation/portal-navigation.component.spec.ts
  src/app/core/components/layout/header/portal-navigation/portal-navigation.component.ts
  src/app/portal/models/transcriptions/index.ts
  src/app/portal/models/transcriptions/transcription-request-counts.interface.ts
  src/app/portal/services/audio-request/audio-request.service.spec.ts
  src/app/portal/services/count-notification/count-notification.service.spec.ts
  src/app/portal/services/count-notification/count-notification.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1381

#1385 DMP-3790: Language shop User Authorisation bug
  package.json
  src/app/core/components/app/app.component.spec.ts
  src/app/core/components/app/app.component.ts
  yarn-audit-known-issues
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1385

#1390 DMP-3792: Add no audio error/warning message to hearing screen
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/hearing/hearing.component.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1390

#1394 DMP-3745: Fix error messages on add annotation
  darts-api-stub/annotations/annotations.js
  src/app/core/validators/max-file-size.validator.ts
  src/app/portal/components/hearing/add-annotation/add-annotation.component.html
  src/app/portal/components/hearing/add-annotation/add-annotation.component.spec.ts
  src/app/portal/components/hearing/add-annotation/add-annotation.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1394

#1326 feat-preview-env-test
  .github/workflows/close-pr.yml
  .github/workflows/on-pr.yml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1326

#1395 DMP-3680: Fix headers
  darts-api-stub/index.js
  server/middleware/set-headers.ts
  server/server.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1395

#1397 DMP-2596: Fix courthouse cache and routerLink
  src/app/admin/components/courthouses/courthouse-search-results/courthouse-search-results.component.html
  src/app/admin/components/courthouses/create-courthouse/create-courthouse.component.ts
  src/app/admin/services/courthouses/courthouses.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1397

#1400 DMP-3822 Remove pagination for case courtlogs
  src/app/portal/components/case/case-file/case-events-table/case-events-table.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1400

#1402 DMP-3832: Change cancel button to link
  src/app/admin/components/groups/group-form/group-form.component.html
  src/app/admin/components/groups/group-form/group-form.component.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1402

#1401 DMP-3892: Fix typo in error message
  src/app/admin/components/groups/group-form/group-form.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1401

#1399 DMP-3823: Fix missing Case ID field on transcript form bug
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1399

#1404 Fixes for dev/preview deployment logins
  .github/workflows/close-pr.yml
  .github/workflows/on-pr.yml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1404

#1405 Dev preview fixes external
  .github/workflows/b2c-callback-urls.yml
Labels: enable_keep_helm

#1406 DMP-3837: Hide button based on permissions
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/hearing/hearing.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1406

#1407 DMP-3829: Transcript request tab text change
  src/app/admin/components/transcripts/transcripts.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1407

#1408 DMP-3759 Add back button to request audio 409 error screen
  src/app/portal/components/hearing/hearing.component.html
  yarn-audit-known-issues
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1408

#1413 DMP-3846: Hide 'Assign to me and upload a transcript' for automated transcripts
  src/app/core/components/common/auto-complete/auto-complete.component.scss
  src/app/portal/components/transcriptions/assign-transcript/assign-transcript.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1413

#1412 DMP-3760: Update view transcript title to filename
  src/app/portal/components/transcriptions/view-transcript/approved-transcript/approved-transcript.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1412

#1416 DMP-3847: Add display name column to retention policies table
  src/app/admin/components/retention-policies/retention-policies.component.html
  src/app/admin/components/retention-policies/retention-policies.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1416

#1423 force http-proxy-middleware to use micromatch 4.0.8 vuln fix
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1423

#1396 DMP-3810 Super user permission updates
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  darts-api-stub/admin/courthouses/courthouses.js
  darts-api-stub/admin/regions/regions.js
  darts-api-stub/admin/transcriptions/transcriptions.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/audio-file/audio-file.component.html
  src/app/admin/components/audio-file/audio-file.component.spec.ts
  src/app/admin/components/audio-file/audio-file.component.ts
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.html
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.spec.ts
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.html
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.ts
  src/app/admin/components/courthouses/courthouse-users/courthouse-users.component.html
  src/app/admin/components/courthouses/courthouse-users/courthouse-users.component.spec.ts
  src/app/admin/components/courthouses/courthouse-users/courthouse-users.component.ts
  src/app/admin/components/courthouses/courthouses.component.html
  src/app/admin/components/courthouses/courthouses.component.ts
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.html
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.html
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.spec.ts
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.ts
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.html
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.spec.ts
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.ts
  src/app/admin/components/users/user-record/user-record.component.html
  src/app/admin/components/users/user-record/user-record.component.ts
  src/app/admin/components/users/users.component.html
  src/app/admin/components/users/users.component.ts
  src/app/core/components/layout/header/admin-navigation/admin-navigation.component.html
  src/app/core/components/layout/header/admin-navigation/admin-navigation.component.spec.ts
  src/app/core/components/layout/header/admin-navigation/admin-navigation.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1396

#1425 DMP-3857: Default to system user if name cannot be resolved
  src/app/core/components/common/timeline/timeline.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1425

#1424 DMP-3856: Fix duplicate search request
  src/app/admin/components/transcripts/transcripts.component.html
  src/app/admin/components/transcripts/transcripts.component.spec.ts
  src/app/admin/components/transcripts/transcripts.component.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1424

#1428 Adding B2C callback URLs to PR action
  .github/workflows/b2c-callback-urls.yml
  .github/workflows/close-pr.yml
  .github/workflows/on-pr.yml
  .github/workflows/update-pr.yml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1428

#1430 DMP-3811: Update error message to 1000 from 500
  cypress/e2e/functional/admin-portal/search-spec.cy.js
  src/app/admin/services/admin-search/admin-search.service.spec.ts
  src/app/admin/services/admin-search/admin-search.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1430

#1435 DMP-3845 Audio time request validation change
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.spec.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1435

#1437 DMP-3267 Request transcript times converted to utc before making request
  darts-api-stub/transcriptions/transcriptions.js
  src/app/portal/components/hearing/request-transcript/request-transcript.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1437

#1433 DMP-3828: Hide case search results when loading
  src/app/admin/components/search/search.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1433

#1436 DMP-3721: Fix back link
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.html
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.ts
  src/app/admin/components/users/user-transcripts/user-transcripts.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1436
