Repository hmcts/darts-portal, pull requests merged in 2024-04, with the labels that each got.

#962 DMP-2659 Fixing Translation QA get transcripts
  darts-api-stub/cases/case.js
  darts-api-stub/hearings/hearings.js
  darts-api-stub/users.js
  src/app/core/services/error/error-message.service.ts
  src/app/portal/components/case/case.component.ts
  src/app/portal/components/case/hearing-results/hearing-results.component.html
  src/app/portal/components/case/hearing-results/hearing-results.component.ts
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/hearing/hearing.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-962

#959 Increased test coverage
  src/app/admin/components/courthouses/courthouses.component.spec.ts
  src/app/admin/components/courthouses/create-courthouse/create-courthouse.component.spec.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.spec.ts
  src/app/admin/components/courthouses/edit-courthouse/edit-courthouse.component.spec.ts
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.spec.ts
  src/app/admin/components/groups/group-form/group-form.component.ts
  src/app/admin/components/groups/group-record/group-record.component.spec.ts
  src/app/admin/components/groups/groups.component.spec.ts
  src/app/admin/components/users/user-groups/remove-groups/remove-groups.component.spec.ts
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.spec.ts
  src/app/admin/services/groups/groups.service.spec.ts
  src/app/admin/services/user-admin/user-admin.service.spec.ts
  src/app/admin/services/user-admin/user-admin.service.ts
  src/app/core/components/common/audio-player/audio-player.component.spec.ts
  src/app/core/components/common/filters/filters.component.spec.ts
  src/app/core/services/app-config/app-config.service.spec.ts
  src/app/portal/services/audio-request/audio-request.service.spec.ts
  src/app/portal/services/case/case.service.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-959

#970 DMP-2711: Fix button event handler in group and user forms
  src/app/admin/components/groups/group-form/group-form.component.html
  src/app/admin/components/users/create-user/create-update-user-form/create-update-user-form.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-970

#961 DMP-2317: Create New Group
  cypress/e2e/functional/admin-portal/groups-spec.cy.js
  darts-api-stub/admin/security-groups/security-groups.js
  darts-api-stub/admin/security-roles/security-roles.js
  src/app/admin/components/groups/create-edit-group/create-edit-group.component.html
  src/app/admin/components/groups/create-edit-group/create-edit-group.component.spec.ts
  src/app/admin/components/groups/create-edit-group/create-edit-group.component.ts
  src/app/admin/components/groups/group-form/group-form.component.html
  src/app/admin/components/groups/group-form/group-form.component.spec.ts
  src/app/admin/components/groups/group-form/group-form.component.ts
  src/app/admin/components/groups/group-record/group-record.component.html
  src/app/admin/components/groups/group-record/group-record.component.spec.ts
  src/app/admin/components/groups/group-record/group-record.component.ts
  src/app/admin/components/groups/groups.component.html
  src/app/admin/components/groups/groups.component.spec.ts
  src/app/admin/components/users/user-groups/assign-groups/assign-groups.component.spec.ts
  src/app/admin/components/users/user-groups/assign-groups/assign-groups.component.ts
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.html
  src/app/admin/models/groups/security-group-form-values.type.ts
  src/app/admin/models/users/security-role.interface.ts
  src/app/admin/models/users/security-role.type.ts
  src/app/admin/services/groups/groups.service.spec.ts
  src/app/admin/services/groups/groups.service.ts
  src/app/admin/services/user-admin/user-admin.service.spec.ts
  src/app/core/components/layout/header/admin-navigation/admin-navigation.component.ts
  src/app/core/components/layout/header/portal-navigation/portal-navigation.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-961

#971 DMP-2563 No validation bug on Request Audio for end time before start time
  cypress/e2e/functional/request-audio-spec.cy.js
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.html
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
  src/app/portal/components/hearing/request-playback-audio/time-input/time-input.component.ts
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-971

#978 DMP-2727 Fixing accessibility issue on admin group screen
  src/app/admin/components/groups/group-record/group-record.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-978

#979 DMP-2638 Refresh UserState on each route change
  darts-api-stub/admin/courthouses/courthouses.js
  darts-api-stub/admin/regions/regions.js
  darts-api-stub/admin/retention-policies/retention-policies.js
  darts-api-stub/annotations/annotations.js
  darts-api-stub/authentication/userstate.js
  darts-api-stub/index.js
  darts-api-stub/retentions/retention.js
  darts-api-stub/users.js
  server/controllers/user.ts
  src/app/core/components/app/app.component.spec.ts
  src/app/core/components/app/app.component.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-979

#981 DMP-2739 Accessibility fix for autocomplete labels
  src/app/core/components/common/auto-complete/auto-complete.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-981

#985 DMP-2534 Cookies page
  config/default.json
  jest.config.ts
  package.json
  server/app-config.ts
  src/app/app.routes.ts
  src/app/core/components/app/app.component.spec.ts
  src/app/core/components/app/app.component.ts
  src/app/core/components/cookies/cookies.component.html
  src/app/core/components/cookies/cookies.component.scss
  src/app/core/components/cookies/cookies.component.spec.ts
  src/app/core/components/cookies/cookies.component.ts
  src/app/core/components/layout/footer/footer.component.html
  src/app/core/services/app-config/app-config.service.spec.ts
  src/app/core/services/app-config/app-config.service.ts
  src/app/core/services/app-insights/app-insights.service.spec.ts
  src/app/core/services/app-insights/app-insights.service.ts
  src/app/core/services/cookies/cookies.service.spec.ts
  src/app/core/services/cookies/cookies.service.ts
  src/app/core/services/dynatrace/dynatrace.service.spec.ts
  src/app/core/services/dynatrace/dynatrace.service.ts
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-985

#989 DMP-2534 - same site strict set on cookie_policy
  src/app/core/services/cookies/cookies.service.spec.ts
  src/app/core/services/cookies/cookies.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-989

#993 DMP-2534 Cookies, dynatrace script url moved outside of secrets
  config/custom-environment-variables.json
  config/default.json
  server/app-config.ts
  src/app/core/services/app-config/app-config.service.spec.ts
  src/app/core/services/app-config/app-config.service.ts
  src/app/core/services/dynatrace/dynatrace.service.spec.ts
  src/app/core/services/dynatrace/dynatrace.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-993

#994 DMP-2558 Don't check playback audio for a download audio request
  src/app/portal/components/audios/audio-view/audio-view.component.spec.ts
  src/app/portal/components/audios/audio-view/audio-view.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-994

#998 DMP-2475: fix duration string bug
  src/app/admin/services/retention-policies/retention-policies.service.spec.ts
  src/app/admin/services/retention-policies/retention-policies.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-998

#997 DMP-2534 Dynatrace dtrum cookie changes
  package.json
  src/app/core/components/app/app.component.spec.ts
  src/app/core/services/dynatrace/dynatrace.service.ts
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-997

#992 DMP-2714: Admin portal navigation updates
  cypress/e2e/functional/admin-portal/retention-policies-spec.cy.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/audio-cache/audio-cache.component.html
  src/app/admin/components/audio-cache/audio-cache.component.scss
  src/app/admin/components/audio-cache/audio-cache.component.spec.ts
  src/app/admin/components/audio-cache/audio-cache.component.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.html
  src/app/admin/components/events/events.component.html
  src/app/admin/components/events/events.component.scss
  src/app/admin/components/events/events.component.spec.ts
  src/app/admin/components/events/events.component.ts
  src/app/admin/components/file-deletion/file-deletion.component.html
  src/app/admin/components/file-deletion/file-deletion.component.scss
  src/app/admin/components/file-deletion/file-deletion.component.spec.ts
  src/app/admin/components/file-deletion/file-deletion.component.ts
  src/app/admin/components/retention-policies/create-edit-retention-policy/create-edit-retention-policy.component.html
  src/app/admin/components/retention-policies/create-edit-retention-policy/create-edit-retention-policy.component.spec.ts
  src/app/admin/components/retention-policies/create-edit-retention-policy/create-edit-retention-policy.component.ts
  src/app/admin/components/retention-policies/retention-policies.component.html
  src/app/admin/components/retention-policies/retention-policies.component.ts
  src/app/admin/components/retention-policies/retention-policy-form/retention-policy-form.component.html
  src/app/admin/components/system-configuration/system-configuration.component.html
  src/app/admin/components/system-configuration/system-configuration.component.scss
  src/app/admin/components/system-configuration/system-configuration.component.spec.ts
  src/app/admin/components/system-configuration/system-configuration.component.ts
  src/app/admin/components/transcripts/transcripts.component.html
  src/app/admin/components/transcripts/transcripts.component.scss
  src/app/admin/components/transcripts/transcripts.component.spec.ts
  src/app/admin/components/transcripts/transcripts.component.ts
  src/app/app.routes.ts
  src/app/core/components/layout/header/admin-navigation/admin-navigation.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-992

#1004 DMP-2815: Update retention form to match Figma design
  src/app/admin/components/retention-policies/retention-policy-form/retention-policy-form.component.html
  src/app/admin/components/retention-policies/retention-policy-form/retention-policy-form.component.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1004

#1007 DMP-2815: Update submit button text based on context
  cypress/e2e/functional/admin-portal/retention-policies-spec.cy.js
  src/app/admin/components/retention-policies/retention-policy-form/retention-policy-form.component.html
  src/app/admin/components/retention-policies/retention-policy-form/retention-policy-form.component.scss
  src/app/admin/components/retention-policies/retention-policy-form/retention-policy-form.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1007

#999 DMP-2639 Loading annotations role checks for judge/admin
  darts-api-stub/annotations/annotations.js
  darts-api-stub/cases/case.js
  darts-api-stub/retentions/retention.js
  darts-api-stub/roles.js
  darts-api-stub/users.js
  src/app/core/models/user/role.interface.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/portal/components/case/case.component.spec.ts
  src/app/portal/components/case/case.component.ts
  src/app/portal/components/hearing/hearing.component.spec.ts
  src/app/portal/components/hearing/hearing.component.ts
  src/app/portal/models/case/case.interface.ts
  src/app/portal/models/case/case.type.ts
  src/app/portal/services/case/case.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-999

#1009 DMP-2620 Cookie banner
  cypress/e2e/functional/case-file-spec.cy.js
  cypress/e2e/functional/case-retention-spec.cy.js
  cypress/e2e/functional/commands.js
  src/app/core/components/app/app.component.html
  src/app/core/components/app/app.component.ts
  src/app/core/components/cookies/cookie-banner/cookie-banner.component.html
  src/app/core/components/cookies/cookie-banner/cookie-banner.component.scss
  src/app/core/components/cookies/cookie-banner/cookie-banner.component.spec.ts
  src/app/core/components/cookies/cookie-banner/cookie-banner.component.ts
  src/app/core/services/cookies/cookies.service.spec.ts
  src/app/core/services/cookies/cookies.service.ts
  src/app/portal/components/case/case-retention-date/case-retention-date.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1009

#1010 DMP-2474: Create retention policy revision
  cypress/e2e/functional/admin-portal/retention-policies-spec.cy.js
  darts-api-stub/admin/retention-policies/retention-policies.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/retention-policies/create-edit-retention-policy/create-edit-retention-policy.component.spec.ts
  src/app/admin/components/retention-policies/create-edit-retention-policy/create-edit-retention-policy.component.ts
  src/app/admin/components/retention-policies/retention-policies.component.html
  src/app/admin/components/retention-policies/retention-policies.component.ts
  src/app/admin/components/retention-policies/retention-policy-form/retention-policy-form.component.html
  src/app/admin/components/retention-policies/retention-policy-form/retention-policy-form.component.spec.ts
  src/app/admin/components/retention-policies/retention-policy-form/retention-policy-form.component.ts
  src/app/admin/components/system-configuration/system-configuration.component.html
  src/app/admin/components/system-configuration/system-configuration.component.ts
  src/app/admin/constants/retention-policy-error-codes.ts
  src/app/admin/constants/retention-policy-form-error-messages.ts
  src/app/admin/services/retention-policies/retention-policies.service.ts
  src/app/core/validators/past-datetime-validator.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1010

#1011 DMP-2769: Update case search 102 error message text
  cypress/e2e/functional/case-search-spec.cy.js
  src/app/portal/components/search/search-error/search-error.component.html
  src/app/portal/components/search/search-error/search-error.component.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1011

#1012 DMP-2640 - Audio download request courthouse transcriber, global admin/superuser
  darts-api-stub/roles.js
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/hearing/hearing.component.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.html
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.spec.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1012

#1014 DMP-2886: Emit error summary and clear error on save
  src/app/admin/components/retention-policies/create-edit-retention-policy/create-edit-retention-policy.component.ts
  src/app/admin/components/retention-policies/retention-policy-form/retention-policy-form.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1014

#1015 DMP-2721 Title updates for routes
  server/views/azuread-b2c-login.html
  src/app/admin/admin.routes.ts
  src/app/app.routes.ts
  src/app/portal/portal.routes.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1015

#1013 DMP-2795: Refactor details-table component to use GDS summary list
  cypress/e2e/functional/admin-portal/courthouse-record-spec.cy.js
  cypress/e2e/functional/admin-portal/user-record-spec.cy.js
  cypress/e2e/functional/case-retention-spec.cy.js
  cypress/e2e/functional/transcript-requests-spec.cy.js
  cypress/e2e/functional/your-transcripts-spec.cy.js
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.html
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.spec.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.ts
  src/app/core/components/common/details-table/details-table.component.html
  src/app/core/components/common/details-table/details-table.component.scss
  src/app/core/components/common/details-table/details-table.component.ts
  src/app/core/components/common/summary-list/summary-list.component.ts
  src/app/portal/components/case/case-retention-date/case-retention-confirm/case-retention-confirm.component.html
  src/app/portal/components/case/case-retention-date/case-retention-confirm/case-retention-confirm.component.scss
  src/app/portal/components/case/case-retention-date/case-retention-confirm/case-retention-confirm.component.spec.ts
  src/app/portal/components/case/case-retention-date/case-retention-confirm/case-retention-confirm.component.ts
  src/app/portal/components/case/case-retention-date/case-retention-date.component.html
  src/app/portal/components/hearing/request-transcript/request-transcript-confirmation/request-transcript-confirmation.component.html
  src/app/portal/components/hearing/request-transcript/request-transcript-confirmation/request-transcript-confirmation.component.spec.ts
  src/app/portal/components/hearing/request-transcript/request-transcript-confirmation/request-transcript-confirmation.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1013

#967 Some sonar fixes
  src/app/admin/models/courthouses/region.interface.ts
  src/app/core/components/common/file-upload/file-upload.component.ts
  src/app/core/components/common/filters/checkbox-list/checkbox-list.component.ts
  src/app/portal/components/audios/audios.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-967

#1019 DMP-2504: ADMIN - Add search transcript form
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.html
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.scss
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.spec.ts
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.ts
  src/app/admin/components/transcripts/transcripts.component.html
  src/app/admin/components/transcripts/transcripts.component.spec.ts
  src/app/admin/components/transcripts/transcripts.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1019

#1032 DMP-2930 - Bugfix missing validation summary message
  src/app/admin/components/retention-policies/retention-policy-form/retention-policy-form.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1032

#1022 DMP-2740: Add requestor.user_full_name to transcription service call
  darts-api-stub/transcriptions/transcriptions.js
  src/app/core/components/common/summary-list/summary-list.component.ts
  src/app/portal/components/transcriptions/approve-transcript/approve-transcript.component.spec.ts
  src/app/portal/components/transcriptions/assign-transcript/assign-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/approved-transcript/approved-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/case-hearing-transcript/case-hearing-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/rejected-transcript/rejected-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/view-transcript.component.spec.ts
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.spec.ts
  src/app/portal/models/transcriptions/transcription-details.interface.ts
  src/app/portal/models/transcriptions/transcription-details.type.ts
  src/app/portal/services/transcription/transcription.service.spec.ts
  src/app/portal/services/transcription/transcription.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1022

#1024 DMP-2540: Make user selected group count screen readable
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.html
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1024

#1026 DMP-2708: Make group courthouse screen readable
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1026

#1027 DMP-2905: Mark form as touched when setting input value
  src/app/portal/components/search/search.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1027

#1028 DMP-2722: Fix multiple H1s
  cypress/e2e/functional/annotations-spec.cy.js
  cypress/e2e/functional/request-transcript-spec.cy.js
  darts-api-stub/cases/case.js
  src/app/admin/components/groups/group-form/group-form.component.html
  src/app/core/components/common/govuk-heading/govuk-heading.component.html
  src/app/core/components/common/govuk-heading/govuk-heading.component.scss
  src/app/portal/components/case/case-file/case-file.component.html
  src/app/portal/components/case/case-file/case-file.component.ts
  src/app/portal/components/hearing/hearing-file/hearing-file.component.html
  src/app/portal/components/hearing/hearing-file/hearing-file.component.ts
  src/app/portal/components/hearing/order-confirmation/order-confirmation.component.html
  src/app/portal/components/hearing/order-confirmation/order-confirmation.component.ts
  src/app/portal/components/hearing/request-transcript/request-transcript-confirmation/request-transcript-confirmation.component.html
  src/app/portal/components/hearing/request-transcript/request-transcript-confirmation/request-transcript-confirmation.component.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.html
  src/app/portal/components/hearing/request-transcript/request-transcript.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1028

#1033 Fixing the size of the admin "File deletion" heading
  src/app/admin/components/file-deletion/file-deletion.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1033

#1035 Supress CVE
  yarn-audit-known-issues
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1035

#1036 DMP-2864
  src/app/core/components/cookies/cookies.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1036

#1037 DMP-2866: Cookies page two main landmarks
  src/app/core/components/cookies/cookies.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1037

#1038 DMP-2936: Fix label
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1038

#1041 DMP-2864: Missing/Orphaned form labels on cookies page
  src/app/core/components/cookies/cookies.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1041

#1048 DMP-2143 - Use new transcription urgency object
  darts-api-stub/transcriptions/transcriptions.js
  src/app/admin/components/transcripts/view-transcript/transcript-details/transcript-details.component.spec.ts
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
  src/app/core/components/common/details-table/details-table.component.html
  src/app/portal/components/transcriptions/approve-transcript/approve-transcript.component.spec.ts
  src/app/portal/components/transcriptions/assign-transcript/assign-transcript.component.spec.ts
  src/app/portal/components/transcriptions/assign-transcript/assign-transcript.component.ts
  src/app/portal/components/transcriptions/view-transcript/approved-transcript/approved-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/case-hearing-transcript/case-hearing-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/rejected-transcript/rejected-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/view-transcript.component.spec.ts
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.spec.ts
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.ts
  src/app/portal/models/transcriptions/transcription-details.interface.ts
  src/app/portal/models/transcriptions/transcription-details.type.ts
  src/app/portal/models/transcriptions/user-transcription-request.interface.ts
  src/app/portal/services/mapping/mapping.service.ts
  src/app/portal/services/transcription/transcription.service.spec.ts
  src/app/portal/services/transcription/transcription.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1048

#1043 DMP-2538: Add history tab to transcript request screen
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  darts-api-stub/admin/transcriptions/transcription-workflows.js
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.html
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.spec.ts
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.ts
  src/app/core/components/common/timeline/timeline.component.html
  src/app/core/components/common/timeline/timeline.component.spec.ts
  src/app/core/models/timeline/timeline.type.ts
  src/app/dev/dev.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1043

#1049 DMP-1265: Change transcript status in admin portal
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  darts-api-stub/admin/transcriptions/transcription-status.js
  darts-api-stub/admin/transcriptions/transcriptions.js
  darts-api-stub/index.js
  darts-api-stub/transcriptions/transcriptions.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/transcripts/change-transcript-status/change-transcript-status.component.html
  src/app/admin/components/transcripts/change-transcript-status/change-transcript-status.component.scss
  src/app/admin/components/transcripts/change-transcript-status/change-transcript-status.component.spec.ts
  src/app/admin/components/transcripts/change-transcript-status/change-transcript-status.component.ts
  src/app/admin/components/transcripts/transcripts.component.spec.ts
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.html
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.scss
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.spec.ts
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.ts
  src/app/admin/models/transcription/index.ts
  src/app/admin/models/transcription/transcription-status-data.interface.ts
  src/app/admin/models/transcription/transcription-status.ts
  src/app/admin/models/transcription/update-transcript-status-request.interface.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
  src/app/core/components/common/details-table/details-table.component.html
  src/app/core/components/common/details-table/details-table.component.ts
  src/app/core/components/common/govuk-banner/govuk-banner.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1049

#1051 DMP-2668: Automated Tasks screen
  cypress/e2e/functional/admin-portal/automated-tasks-spec.cy.js
  darts-api-stub/admin/automated-tasks/automated-tasks.js
  darts-api-stub/index.js
  src/app/admin/components/automated-tasks/automated-tasks.component.html
  src/app/admin/components/automated-tasks/automated-tasks.component.scss
  src/app/admin/components/automated-tasks/automated-tasks.component.spec.ts
  src/app/admin/components/automated-tasks/automated-tasks.component.ts
  src/app/admin/components/system-configuration/system-configuration.component.html
  src/app/admin/components/system-configuration/system-configuration.component.ts
  src/app/admin/models/automated-task/automated-task.interface.ts
  src/app/admin/models/automated-task/automated-task.ts
  src/app/admin/services/automated-tasks/automated-tasks.service.spec.ts
  src/app/admin/services/automated-tasks/automated-tasks.service.ts
  src/app/core/services/error/error-message.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1051
