Repository hmcts/darts-portal, pull requests merged in 2024-07, with the labels that each got.

#1222 DMP-2797: Migrate font-size overrides from px to rem
  server/assets/stylesheets/change-password.css
  server/assets/stylesheets/login.css
  server/assets/stylesheets/mfa.css
  server/assets/stylesheets/reset-password.css
  src/app/core/components/common/data-table/data-table.component.scss
  src/app/portal/components/hearing/request-playback-audio/time-input/time-input.component.scss
  src/app/portal/components/search/case-search-results/case-search-results.component.scss
  src/assets/datepicker.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1222

#1225 DMP-3456 Bug - sort case hearings by asc
  src/app/portal/services/case/case.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1225

#1226 DMP-3369 Hide or delete file radio buttons, update label for attribute
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1226

#1227 DMP-2697 Transcript search, radio label a11y fixes
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1227

#1233 DMP-2966 - A11y - @input aria-label for datepicker component
  src/app/core/components/common/datepicker/datepicker.component.html
  src/app/core/components/common/datepicker/datepicker.component.ts
  src/app/core/components/common/specific-or-range-date-picker/specific-or-range-date-picker.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1233

#1235 DMP-3148: Add checkbox label to courthouse users
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.spec.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1235

#1241 DMP-3384 unhide audio file
  cypress/e2e/functional/admin-portal/hide-or-delete-file-spec.cy.js
  darts-api-stub/admin/medias/medias.js
  src/app/admin/components/audio-file/audio-file.component.html
  src/app/admin/components/audio-file/audio-file.component.spec.ts
  src/app/admin/components/audio-file/audio-file.component.ts
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.html
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.ts
  src/app/admin/services/transformed-media/transformed-media.service.spec.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1241

#1242 DMP-3315 & DMP-3317: Remove hearings and audio stubbed search results.
  server/controllers/stub-data.ts
  src/app/admin/components/search/search.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1242

#1243 DMP-3382 transcript document unhiding
  cypress/e2e/functional/admin-portal/hide-or-delete-file-spec.cy.js
  darts-api-stub/admin/transcriptions/transcription-documents.js
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.html
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.spec.ts
  src/app/admin/components/transcripts/view-transcription-document/view-transcription-document.component.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1243

#1244 DMP-3406: Add extra fields to transcript request details
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  darts-api-stub/transcriptions/transcriptions.js
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.html
  src/app/portal/models/transcriptions/transcription-details.interface.ts
  src/app/portal/models/transcriptions/transcription-details.type.ts
  src/app/portal/services/mapping/mapping.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1244

#1245 DMP-3429: Bug fix - Transformed media search loading spinner
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1245

#1250 DMP-3522 Bug fix - Rename courthouse form control across transcript/media searches
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.html
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.ts
  src/app/admin/components/transformed-media/search-transformed-media-form/search-transformed-media-form.component.html
  src/app/admin/components/transformed-media/search-transformed-media-form/search-transformed-media-form.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1250

#1249 DMP-3377 Resolve HttpClientTestingModule deprecated usage
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.spec.ts
  src/app/admin/components/courthouses/courthouses.component.spec.ts
  src/app/admin/components/courthouses/edit-courthouse/edit-courthouse.component.spec.ts
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.spec.ts
  src/app/admin/components/groups/groups.component.spec.ts
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.spec.ts
  src/app/admin/components/transcripts/view-transcript/transcript-details/transcript-details.component.spec.ts
  src/app/admin/components/users/edit-user/edit-user.component.spec.ts
  src/app/admin/components/users/user-groups/assign-groups/assign-groups.component.spec.ts
  src/app/admin/components/users/user-record/user-record.component.spec.ts
  src/app/admin/components/users/users.component.spec.ts
  src/app/admin/services/admin-search/admin-search.service.spec.ts
  src/app/admin/services/automated-tasks/automated-tasks.service.spec.ts
  src/app/admin/services/courthouses/courthouse.service.spec.ts
  src/app/admin/services/event-mappings/event-mappings.service.spec.ts
  src/app/admin/services/groups/groups.service.spec.ts
  src/app/admin/services/retention-policies/retention-policies.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/user-admin/user-admin.service.spec.ts
  src/app/app.routes.spec.ts
  src/app/core/auth/auth.guard.spec.ts
  src/app/core/components/app/app.component.spec.ts
  src/app/core/components/error/conflict/conflict.component.spec.ts
  src/app/core/components/layout/content/content.component.spec.ts
  src/app/core/services/auth/auth.service.spec.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/portal/components/audios/audio-view/audio-view.component.spec.ts
  src/app/portal/components/audios/audios.component.spec.ts
  src/app/portal/components/case/case-retention-date/case-retention-change/case-retention-change.component.spec.ts
  src/app/portal/components/case/case-retention-date/case-retention-confirm/case-retention-confirm.component.spec.ts
  src/app/portal/components/case/case-retention-date/case-retention-date.component.spec.ts
  src/app/portal/components/case/case.component.spec.ts
  src/app/portal/components/case/hearing-results/hearing-results.component.spec.ts
  src/app/portal/components/hearing/add-annotation/add-annotation.component.spec.ts
  src/app/portal/components/hearing/hearing.component.spec.ts
  src/app/portal/components/hearing/order-confirmation/order-confirmation.component.spec.ts
  src/app/portal/components/hearing/request-transcript/request-transcript-success/request-transcript-success.component.spec.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.spec.ts
  src/app/portal/components/search/search-error/search-error.component.spec.ts
  src/app/portal/components/transcriptions/approve-transcript/approve-transcript-buttons/approve-transcript-buttons.component.spec.ts
  src/app/portal/components/transcriptions/approve-transcript/approve-transcript.component.spec.ts
  src/app/portal/components/transcriptions/assign-transcript/assign-transcript.component.spec.ts
  src/app/portal/components/transcriptions/transcriptions.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/approved-transcript/approved-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/rejected-transcript/rejected-transcript.component.spec.ts
  src/app/portal/components/your-work/completed-transcript/completed-transcript.component.spec.ts
  src/app/portal/components/your-work/your-work.component.spec.ts
  src/app/portal/services/annotation/annotation.service.spec.ts
  src/app/portal/services/audio-preview/audio-preview.service.spec.ts
  src/app/portal/services/audio-request/audio-request.service.spec.ts
  src/app/portal/services/case/case.service.spec.ts
  src/app/portal/services/count-notification/count-notification.service.spec.ts
  src/app/portal/services/hearing/hearing.service.spec.ts
  src/app/portal/services/transcription/transcription.service.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1249

#1246 DMP-2963: Add court log tab to case screen
  cypress/e2e/functional/case-file-spec.cy.js
  darts-api-stub/cases/case.js
  server/stubs/events.ts
  src/app/portal/components/case/case-file/case-annotations-table/case-annotations-table.component.html
  src/app/portal/components/case/case-file/case-annotations-table/case-annotations-table.component.scss
  src/app/portal/components/case/case-file/case-annotations-table/case-annotations-table.component.spec.ts
  src/app/portal/components/case/case-file/case-annotations-table/case-annotations-table.component.ts
  src/app/portal/components/case/case-file/case-events-table/case-events-table.component.html
  src/app/portal/components/case/case-file/case-events-table/case-events-table.component.scss
  src/app/portal/components/case/case-file/case-events-table/case-events-table.component.spec.ts
  src/app/portal/components/case/case-file/case-events-table/case-events-table.component.ts
  src/app/portal/components/case/case-file/case-hearings-table/case-hearings-table.component.html
  src/app/portal/components/case/case-file/case-hearings-table/case-hearings-table.component.scss
  src/app/portal/components/case/case-file/case-hearings-table/case-hearings-table.component.spec.ts
  src/app/portal/components/case/case-file/case-hearings-table/case-hearings-table.component.ts
  src/app/portal/components/case/case-file/case-transcripts-table/case-transcripts-table.component.html
  src/app/portal/components/case/case-file/case-transcripts-table/case-transcripts-table.component.scss
  src/app/portal/components/case/case-file/case-transcripts-table/case-transcripts-table.component.spec.ts
  src/app/portal/components/case/case-file/case-transcripts-table/case-transcripts-table.component.ts
  src/app/portal/components/case/case.component.html
  src/app/portal/components/case/case.component.spec.ts
  src/app/portal/components/case/case.component.ts
  src/app/portal/components/case/hearing-results/hearing-results.component.html
  src/app/portal/components/case/hearing-results/hearing-results.component.scss
  src/app/portal/components/case/hearing-results/hearing-results.component.spec.ts
  src/app/portal/components/case/hearing-results/hearing-results.component.ts
  src/app/portal/models/events/case-event-data.interface.ts
  src/app/portal/models/events/case-event.ts
  src/app/portal/services/case/case.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1246

#1251 DMP-3428: View transcript bugs
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.html
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.ts
  src/app/portal/models/transcriptions/transcription-details.type.ts
  src/app/portal/services/mapping/mapping.service.ts
  src/styles.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1251

#1248 DMP-3526: Make functional tests idempotent: hide-or-delete-file-spec.cy.js
  cypress/e2e/functional/admin-portal/hide-or-delete-file-spec.cy.js
  darts-api-stub/admin/medias/medias.js
  darts-api-stub/admin/transcriptions/transcription-documents.js
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1248

#1253 DMP-2709 remove leading zero from audio file times
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.html
  src/app/admin/components/audio-file/basic-audio-file-details/basic-audio-file-details.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1253

#1257 DMP-3215 a11y fixes for Cypress
  cypress/e2e/functional/admin-portal/courthouse-record-spec.cy.js
  cypress/e2e/functional/admin-portal/transformed-media-spec.cy.js
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1257

#1255 DMP-3469: Add request ID column to completed transcript results
  src/app/admin/components/transcripts/search-completed-transcripts-results/search-completed-transcripts-results.component.html
  src/app/admin/components/transcripts/search-completed-transcripts-results/search-completed-transcripts-results.component.spec.ts
  src/app/admin/components/transcripts/search-completed-transcripts-results/search-completed-transcripts-results.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1255

#1256 DMP-3546: Add back button to audio file screen
  src/app/admin/components/audio-file/audio-file.component.html
  src/app/admin/components/audio-file/audio-file.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1256

#1259 DMP-3526 - Allow preview audio FT to pass in succession
  cypress/e2e/functional/request-audio-spec.cy.js
  darts-api-stub/audios/index.js
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1259

#1263 DMP-2963: Remove event / court log stub
  server/controllers/stub-data.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1263

#1261 DMP-3557 Transformed media - replace breadcrumb with back link
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1261

#1265 Small bugfixes
  src/app/admin/components/common/hidden-file-banner/hidden-file-banner.component.html
  src/app/admin/components/search/audio-search-results/audio-search-results.component.html
  src/app/admin/components/search/audio-search-results/audio-search-results.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1265

#1266 DMP-2796 - A11y heading levels changed
  cypress/e2e/functional/case-file-spec.cy.js
  cypress/e2e/functional/request-transcript-spec.cy.js
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.html
  src/app/admin/components/transformed-media/search-transformed-media-form/search-transformed-media-form.component.html
  src/app/core/components/common/reporting-restriction/reporting-restriction.component.html
  src/app/portal/components/case/case-file/case-file.component.html
  src/app/portal/components/hearing/hearing-file/hearing-file.component.html
  src/app/portal/components/hearing/request-transcript/request-transcript-confirmation/request-transcript-confirmation.component.html
  src/app/portal/components/hearing/request-transcript/request-transcript.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1266

#1267 DMP-3475: Admin Search - Persist form state and search results
  cypress/e2e/functional/admin-portal/search.spec.cy.js
  server/controllers/stub-data.ts
  src/app/admin/components/search/search-form/search-form.component.html
  src/app/admin/components/search/search-form/search-form.component.spec.ts
  src/app/admin/components/search/search-form/search-form.component.ts
  src/app/admin/components/search/search.component.html
  src/app/admin/components/search/search.component.spec.ts
  src/app/admin/components/search/search.component.ts
  src/app/admin/models/search/admin-search-results-tab.ts
  src/app/admin/services/admin-search/admin-search.service.spec.ts
  src/app/admin/services/admin-search/admin-search.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1267

#1272 DMP-3563: Transformed media search - Persist form state and search results
  cypress/e2e/functional/admin-portal/transformed-media-spec.cy.js
  src/app/admin/components/transformed-media/search-transformed-media-form/search-transformed-media-form.component.html
  src/app/admin/components/transformed-media/search-transformed-media-form/search-transformed-media-form.component.spec.ts
  src/app/admin/components/transformed-media/search-transformed-media-form/search-transformed-media-form.component.ts
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.html
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.spec.ts
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.ts
  src/app/admin/services/transformed-media/transformed-media.service.spec.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1272

#1273 Typo
  cypress/e2e/functional/admin-portal/hide-or-delete-file-spec.cy.js
  src/app/admin/components/file-deletion/file-hide-or-delete-success/file-hide-or-delete-success.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1273

#1274 DMP-3526 - Request transcripts, allow ft to run in isolation
  cypress/e2e/functional/transcript-requests-spec.cy.js
  cypress/e2e/functional/your-work-spec.cy.js
  darts-api-stub/transcriptions/transcriptions.js
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1274

#1277 Remove redundant stub api, remove some todos
  darts-api-stub/cases/case.js
  src/app/admin/components/courthouses/create-courthouse/create-courthouse.component.ts
  src/app/admin/components/users/create-user/create-user.component.ts
  src/app/core/components/common/data-table/data-table.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1277

#1281 Add seconds + AM/PM to transformed media time format
  cypress/e2e/functional/admin-portal/hide-or-delete-file-spec.cy.js
  cypress/e2e/functional/admin-portal/transformed-media-spec.cy.js
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.html
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1281

#1283 DMP-3590 - Courthouse autocomplete uses display name now
  src/app/core/components/common/courthouse/courthouse.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1283

#1282 DMP-3564 & DMP-3565: Persist transcript search form state and results
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  package.json
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.html
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.spec.ts
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.ts
  src/app/admin/components/transcripts/transcripts.component.html
  src/app/admin/components/transcripts/transcripts.component.spec.ts
  src/app/admin/components/transcripts/transcripts.component.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.html
  src/styles.scss
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1282

#1285 Rename and fix FTs without "-spec"
  cypress/e2e/functional/admin-portal/audio-file-details-spec.cy.js
  cypress/e2e/functional/admin-portal/group-record-spec.cy.js
  cypress/e2e/functional/admin-portal/search-spec.cy.js
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1285

#1287 DMP-3024: Fix collapsing gutters on smaller displays
  src/app/core/components/app/app.component.html
  src/app/core/components/layout/content/content.component.html
  src/styles.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1287

#1288 DMP-3588: Fix back button spacing
  src/app/portal/components/hearing/hearing.component.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1288

#1286 Functional test fixes for view/upload transcript
  cypress/e2e/functional/upload-transcript-spec.cy.js
  cypress/e2e/functional/view-transcript-spec.cy.js
  darts-api-stub/transcriptions/transcriptions.js
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1286

#1292 Fix transcript search bug
  src/app/admin/components/transcripts/transcripts.component.html
  src/app/admin/components/transcripts/transcripts.component.spec.ts
  src/app/admin/components/transcripts/transcripts.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1292

#1293 Fix intermittent failures on request-transcript-spec
  cypress/e2e/functional/request-transcript-spec.cy.js
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1293

#1294 DMP-3599 Refactoring mapping logic into service functions
  cypress/e2e/functional/transcript-requests-spec.cy.js
  src/app/portal/components/transcriptions/assign-transcript/assign-transcript.component.ts
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.html
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.spec.ts
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.ts
  src/app/portal/services/transcription/transcription.service.spec.ts
  src/app/portal/services/transcription/transcription.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1294

#1303 Remove show versions link from audio file adv details
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.html
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1303

#1302 DMP-3586 - Loading spinner updates
  src/app/admin/components/automated-tasks/automated-tasks.component.html
  src/app/admin/components/automated-tasks/automated-tasks.component.ts
  src/app/admin/components/retention-policies/retention-policies.component.html
  src/app/admin/components/retention-policies/retention-policies.component.ts
  src/app/admin/components/transcripts/transcripts.component.html
  src/app/admin/components/transcripts/transcripts.component.spec.ts
  src/app/admin/components/transcripts/transcripts.component.ts
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.html
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.ts
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.html
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.html
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.ts
  src/app/portal/components/transcriptions/assign-transcript/assign-transcript.component.html
  src/app/portal/components/transcriptions/assign-transcript/assign-transcript.component.ts
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.html
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1302

#1299 DMP-2846 Aria labels added to th in data table for sortable/non sortable columns
  src/app/core/components/common/data-table/data-table.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1299

#1289 DMP-3472: Fix start and end time null bug
  darts-api-stub/transcriptions/transcriptions.js
  src/app/portal/components/transcriptions/view-transcript/approved-transcript/approved-transcript.component.html
  src/app/portal/services/transcription/transcription.service.spec.ts
  src/app/portal/services/transcription/transcription.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1289

#1305 DMP-3471 Request transcript - Added outside times validation, ft
  cypress/e2e/functional/hearing-screen-spec.cy.js
  cypress/e2e/functional/request-transcript-spec.cy.js
  cypress/e2e/functional/view-transcript-spec.cy.js
  darts-api-stub/transcriptions/transcriptions.js
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.html
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.spec.ts
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.html
  src/app/portal/components/hearing/request-transcript/request-transcript.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1305

#1308 DMP-3270 Fixing accessibility issue with event handler select options
  cypress/e2e/functional/admin-portal/event-mappings-spec.cy.js
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.html
  src/app/admin/components/system-configuration/event-mappings/add-update-event-mapping/add-update-event-mapping.component.ts
  src/app/admin/components/system-configuration/event-mappings/event-mapping-form/event-mapping-form.component.html
  src/app/admin/components/system-configuration/event-mappings/event-mapping-form/event-mapping-form.component.ts
  src/app/admin/components/system-configuration/event-mappings/event-mappings.component.html
  src/app/admin/components/system-configuration/event-mappings/event-mappings.component.ts
  src/app/core/pipes/humanizeInitCap.spec.ts
  src/app/core/pipes/humanizeInitCap.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1308

#1310 DMP-3630 Bug Your Audio - present hyphen for null expiry date
  src/app/portal/models/hearing/media/transformed-media-type.ts
  src/app/portal/services/audio-request/audio-request.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1310

#1314 DMP-3596 - Courthouse caching
  src/app/admin/components/courthouses/create-courthouse/create-courthouse.component.ts
  src/app/admin/services/courthouses/courthouse.service.spec.ts
  src/app/admin/services/courthouses/courthouses.service.ts
  src/app/portal/components/search/search.component.spec.ts
  src/app/portal/components/search/search.component.ts
  src/app/portal/services/case/case.service.spec.ts
  src/app/portal/services/case/case.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1314

#1319 DMP-3516: Fix white space issue around back button
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.html
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1319

#1194 DMP-1360
  .github/workflows/close-pr.yml
  .github/workflows/on-pr.yml
  .github/workflows/update-pr.yml
  charts/darts-portal/Chart.yaml
  charts/darts-portal/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1194

#1320 DMP-3591: Add scroll to results or error on transcript search
  src/app/admin/components/transcripts/transcripts.component.html
  src/app/admin/components/transcripts/transcripts.component.spec.ts
  src/app/admin/components/transcripts/transcripts.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1320

#1321 DMP-3526 reset for security-groups, courthouses, updated courthouse record ft
  cypress/e2e/functional/admin-portal/automated-tasks-spec.cy.js
  cypress/e2e/functional/admin-portal/courthouse-record-spec.cy.js
  darts-api-stub/admin/automated-tasks/automated-tasks.js
  darts-api-stub/admin/courthouses/courthouses.js
  darts-api-stub/admin/security-groups/security-groups.js
  darts-api-stub/data/courthouses.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1321

#1322 DMP-3592: Persist active tabs
  cypress/e2e/functional/auth-spec.cy.js
  cypress/e2e/functional/commands.js
  src/app/core/components/common/notification-banner/notification-banner.component.scss
  src/app/core/services/active-tab/active-tab.service.spec.ts
  src/app/core/services/active-tab/active-tab.service.ts
  src/app/core/services/scroll/scroll.service.spec.ts
  src/app/core/services/scroll/scroll.service.ts
  src/app/portal/components/audios/audios.component.html
  src/app/portal/components/audios/audios.component.ts
  src/app/portal/components/case/case-file/case-annotations-table/case-annotations-table.component.html
  src/app/portal/components/case/case.component.html
  src/app/portal/components/case/case.component.ts
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/hearing/hearing.component.spec.ts
  src/app/portal/components/hearing/hearing.component.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.html
  src/app/portal/components/hearing/request-transcript/request-transcript.component.spec.ts
  src/app/portal/components/hearing/request-transcript/request-transcript.component.ts
  src/app/portal/components/search/search.component.html
  src/app/portal/components/search/search.component.ts
  src/app/portal/components/your-work/your-work.component.html
  src/app/portal/components/your-work/your-work.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1322

#1328 DMP-3526 - Reset endpoint in FT's
  cypress/e2e/functional/admin-portal/event-mappings-spec.cy.js
  cypress/e2e/functional/admin-portal/group-record-spec.cy.js
  darts-api-stub/admin/courthouses/courthouses.js
  darts-api-stub/admin/event-mappings/event-mappings.js
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1328

#1333 DMP-3526 - Reset added to FT's
  cypress/e2e/functional/admin-portal/groups-spec.cy.js
  cypress/e2e/functional/admin-portal/retention-policies-spec.cy.js
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  darts-api-stub/admin/retention-policies/retention-policies.js
  darts-api-stub/admin/transcriptions/transcriptions.js
  darts-api-stub/transcriptions/transcriptions.js
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1333

#1338 Minor bug fixes
  src/app/admin/components/search/event-search-results/event-search-results.component.ts
  src/styles.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1338

#1339 DMP-3471 Request time validation outside times, typo fix
  cypress/e2e/functional/request-transcript-spec.cy.js
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.spec.ts
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1339

#1340 DMP-3526 - Reset users to allow user-record to run in succession
  cypress/e2e/functional/admin-portal/user-record-spec.cy.js
  cypress/e2e/functional/admin-portal/users-spec.cy.js
  darts-api-stub/admin/users/users.js
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1340

#1342 Remove TBD comments
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1342

#1344 DMP-3632: Return default workflow actor when there are no transcript workflows
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1344
