Repository hmcts/darts-portal, pull requests merged in 2024-03, with the labels that each got.

#864 DMP-724 Admin Portal - Edit user
  cypress/e2e/functional/admin-portal/user-record-spec.cy.js
  cypress/e2e/functional/admin-portal/users-spec.cy.js
  darts-api-stub/admin/users/users.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/users/create-user/create-update-user-form/create-update-user-form.component.html
  src/app/admin/components/users/create-user/create-update-user-form/create-update-user-form.component.spec.ts
  src/app/admin/components/users/create-user/create-update-user-form/create-update-user-form.component.ts
  src/app/admin/components/users/edit-user/edit-email-confirmation/edit-email-confirmation.component.html
  src/app/admin/components/users/edit-user/edit-email-confirmation/edit-email-confirmation.component.scss
  src/app/admin/components/users/edit-user/edit-email-confirmation/edit-email-confirmation.component.spec.ts
  src/app/admin/components/users/edit-user/edit-email-confirmation/edit-email-confirmation.component.ts
  src/app/admin/components/users/edit-user/edit-user.component.html
  src/app/admin/components/users/edit-user/edit-user.component.scss
  src/app/admin/components/users/edit-user/edit-user.component.spec.ts
  src/app/admin/components/users/edit-user/edit-user.component.ts
  src/app/admin/components/users/user-record/user-record.component.html
  src/app/admin/components/users/user-record/user-record.component.spec.ts
  src/app/admin/components/users/user-record/user-record.component.ts
  src/app/admin/components/users/users.component.ts
  src/app/admin/models/users/create-update-user-form-values.type.ts
  src/app/admin/services/user-admin/user-admin.service.spec.ts
  src/app/admin/services/user-admin/user-admin.service.ts
  src/app/core/components/common/govuk-banner/govuk-banner.component.html
  src/app/core/components/common/govuk-banner/govuk-banner.component.scss
  src/app/core/components/common/govuk-banner/govuk-banner.component.spec.ts
  src/app/core/components/common/govuk-banner/govuk-banner.component.ts
  src/app/core/components/common/success-banner/success-banner.component.html
  src/app/core/services/error/error-message.service.ts
  src/app/portal/components/case/case-retention-date/case-retention-date.component.html
  src/app/portal/components/case/case-retention-date/case-retention-date.component.ts
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.spec.ts
  src/app/portal/services/case/case.service.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-864

#865 DMP-1192 - View Courthouse (Details Tab)
  .eslintrc.json
  cypress/e2e/functional/admin-portal/courthouses-spec.cy.js
  cypress/e2e/functional/admin-portal/user-record-spec.cy.js
  cypress/e2e/functional/admin-portal/users-spec.cy.js
  darts-api-stub/admin/courthouses/courthouses.js
  darts-api-stub/admin/regions/regions.js
  darts-api-stub/admin/security-groups/security-groups.js
  darts-api-stub/admin/users/users.js
  darts-api-stub/annotations/annotations.js
  darts-api-stub/authentication/index.js
  darts-api-stub/courthouses/courthouses.js
  darts-api-stub/index.js
  darts-api-stub/users.js
  darts-api-stub/views/login.ejs
  src/app/admin/admin.routes.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.html
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.scss
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.spec.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.ts
  src/app/admin/components/courthouses/courthouse-search-form/courthouse-search-form.component.spec.ts
  src/app/admin/components/courthouses/courthouse-search-results/courthouse-search-results.component.html
  src/app/admin/components/courthouses/courthouse-search-results/courthouse-search-results.component.spec.ts
  src/app/admin/components/users/user-search-form/user-search-form.component.spec.ts
  src/app/admin/components/users/user-search-form/user-search-form.component.ts
  src/app/admin/components/users/user-search-results/user-search-results.component.spec.ts
  src/app/admin/components/users/users.component.ts
  src/app/admin/models/courthouses/courthouse.type.ts
  src/app/admin/services/courthouses/courthouse.service.spec.ts
  src/app/admin/services/courthouses/courthouses.service.ts
  src/app/admin/services/user-admin/user-admin.service.spec.ts
  src/app/admin/services/user-admin/user-admin.service.ts
  src/app/core/components/common/courthouse/courthouse.component.ts
  src/app/core/components/common/details-table/details-table.component.html
  src/app/core/components/common/details-table/details-table.component.scss
  src/app/core/components/common/details-table/details-table.component.spec.ts
  src/app/core/components/common/details-table/details-table.component.ts
  src/app/core/models/courthouse/courthouse.interface.ts
  src/app/core/models/courthouse/security-groups.interface.ts
  src/app/core/models/details-table/details-table-array.interface.ts
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-865

#869 DMP-2456-Delete-Annotation-Case-Screen
  src/app/core/components/common/tabs/tabs.component.ts
  src/app/portal/components/case/case.component.html
  src/app/portal/components/case/case.component.spec.ts
  src/app/portal/components/case/case.component.ts
  src/app/portal/components/case/hearing-results/hearing-results.component.html
  src/app/portal/components/case/hearing-results/hearing-results.component.spec.ts
  src/app/portal/components/case/hearing-results/hearing-results.component.ts
  src/app/portal/components/hearing/hearing.component.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-869

#874 DMP-2398-Use-Tudor-Crown
  package.json
  server/assets/images/favicon.ico
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-874

#876 ADMIN => SUPER_ADMIN
  darts-api-stub/roles.js
  server/controllers/download.ts
  src/app/admin/admin.routes.ts
  src/app/core/auth/auth.guard.ts
  src/app/core/models/user/role-name.type.ts
  src/app/core/services/user/user.service.ts
  src/app/portal/portal.routes.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-876

#877 DMP-2269-Clear-Search
  src/app/admin/components/courthouses/courthouse-search-results/courthouse-search-results.component.html
  src/app/admin/components/courthouses/courthouse-search-results/courthouse-search-results.component.ts
  src/app/admin/components/courthouses/courthouses.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-877

#882 Fix admin portal FTs
  cypress/e2e/functional/admin-portal/courthouses-spec.cy.js
  cypress/e2e/functional/admin-portal/user-record-spec.cy.js
  cypress/e2e/functional/admin-portal/users-spec.cy.js
  darts-api-stub/admin/users/users.js
  package.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-882

#875 Update Sonar project name
  sonar-project.properties
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-875

#879 DMP-2497: Email in use validation error message text change
  cypress/e2e/functional/admin-portal/users-spec.cy.js
  src/app/admin/components/users/create-user/create-update-user-form/create-update-user-form.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-879

#884 DMP-2472: Manually unsubscribe from polling
  src/app/portal/components/audios/audios.component.ts
  src/app/portal/components/your-work/your-work.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-884

#878 DMP-2066 Assign groups component
  src/app/admin/components/users/groups/assign-groups/assign-groups.component.html
  src/app/admin/components/users/groups/assign-groups/assign-groups.component.scss
  src/app/admin/components/users/groups/assign-groups/assign-groups.component.spec.ts
  src/app/admin/components/users/groups/assign-groups/assign-groups.component.ts
  src/app/core/components/common/data-table/data-table.component.html
  src/app/core/components/common/data-table/data-table.component.scss
  src/app/core/components/common/data-table/data-table.component.ts
  src/app/core/components/common/filters/checkbox-list/checkbox-list-item.type.ts
  src/app/core/components/common/filters/checkbox-list/checkbox-list.component.html
  src/app/core/components/common/filters/checkbox-list/checkbox-list.component.scss
  src/app/core/components/common/filters/checkbox-list/checkbox-list.component.spec.ts
  src/app/core/components/common/filters/checkbox-list/checkbox-list.component.ts
  src/app/dev/dev.component.html
  src/app/dev/dev.component.scss
  src/app/dev/dev.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-878

#885 DMP-1842
  src/app/core/components/common/data-table/data-table.component.html
  src/app/core/components/common/data-table/data-table.component.ts
  src/app/portal/components/transcriptions/transcriptions.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-885

#890 DMP-1641-Text-Spacing
  src/app/core/components/common/data-table/data-table.component.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-890

#895 DMP-2480: Fix before-time validator
  src/app/core/validators/before-time.validator.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-895

#893 DMP-2497: Error message text change
  src/app/admin/components/users/create-user/create-update-user-form/create-update-user-form.component.html
  src/app/admin/components/users/create-user/create-update-user-form/create-update-user-form.component.spec.ts
  src/app/admin/components/users/create-user/create-update-user-form/create-update-user-form.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-893

#892 Setting a better session cookie name
  config/default.json
  server/middleware/session.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-892

#900 DMP-2551: Update email validation error message
  src/app/admin/components/users/create-user/create-update-user-form/create-update-user-form.component.spec.ts
  src/app/admin/components/users/create-user/create-update-user-form/create-update-user-form.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-900

#901 DMP-2550: Add screen reader text to tab component
  src/app/admin/components/users/user-record/user-record.component.html
  src/app/core/components/common/tabs/tabs.component.html
  src/app/core/components/common/tabs/tabs.component.spec.ts
  src/app/core/directives/tab.directive.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-901

#899 DMP-1694-Hiding-Transcriptions
  cypress/e2e/functional/your-transcripts-spec.cy.js
  darts-api-stub/transcriptions/transcriptions.js
  src/app/core/services/error/error-message.service.ts
  src/app/portal/components/transcriptions/error/partial-delete-error/partial-delete-error.component.html
  src/app/portal/components/transcriptions/error/partial-delete-error/partial-delete-error.component.scss
  src/app/portal/components/transcriptions/error/partial-delete-error/partial-delete-error.component.spec.ts
  src/app/portal/components/transcriptions/error/partial-delete-error/partial-delete-error.component.ts
  src/app/portal/components/transcriptions/transcriptions.component.spec.ts
  src/app/portal/components/transcriptions/transcriptions.component.ts
  src/app/portal/portal.routes.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-899

#894 DMP-2225: Assign groups
  cypress/e2e/functional/admin-portal/user-record-spec.cy.js
  darts-api-stub/admin/security-groups/security-groups.js
  darts-api-stub/admin/security-roles/security-roles.js
  darts-api-stub/admin/users/users.js
  darts-api-stub/index.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/users/assign-groups/assign-groups.component.html
  src/app/admin/components/users/assign-groups/assign-groups.component.scss
  src/app/admin/components/users/assign-groups/assign-groups.component.spec.ts
  src/app/admin/components/users/assign-groups/assign-groups.component.ts
  src/app/admin/components/users/assign-groups/security-group-selector/security-group-selector.component.html
  src/app/admin/components/users/assign-groups/security-group-selector/security-group-selector.component.scss
  src/app/admin/components/users/assign-groups/security-group-selector/security-group-selector.component.spec.ts
  src/app/admin/components/users/assign-groups/security-group-selector/security-group-selector.component.ts
  src/app/admin/components/users/user-record/user-record.component.html
  src/app/admin/components/users/user-record/user-record.component.scss
  src/app/admin/components/users/user-record/user-record.component.ts
  src/app/admin/models/users/security-role.type.ts
  src/app/admin/models/users/user.type.ts
  src/app/admin/services/user-admin/user-admin.service.spec.ts
  src/app/admin/services/user-admin/user-admin.service.ts
  src/app/core/components/common/data-table/data-table.component.html
  src/app/dev/dev.component.html
  src/app/dev/dev.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-894

#898 DMP-2224: Remove user groups
  cypress/e2e/functional/admin-portal/user-record-spec.cy.js
  cypress/e2e/functional/annotations-spec.cy.js
  cypress/e2e/functional/case-file-spec.cy.js
  cypress/e2e/functional/hearing-screen-spec.cy.js
  cypress/e2e/functional/your-work-spec.cy.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/users/user-groups/assign-groups/assign-groups.component.html
  src/app/admin/components/users/user-groups/assign-groups/assign-groups.component.scss
  src/app/admin/components/users/user-groups/assign-groups/assign-groups.component.spec.ts
  src/app/admin/components/users/user-groups/assign-groups/assign-groups.component.ts
  src/app/admin/components/users/user-groups/assign-groups/security-group-selector/security-group-selector.component.html
  src/app/admin/components/users/user-groups/assign-groups/security-group-selector/security-group-selector.component.scss
  src/app/admin/components/users/user-groups/assign-groups/security-group-selector/security-group-selector.component.spec.ts
  src/app/admin/components/users/user-groups/assign-groups/security-group-selector/security-group-selector.component.ts
  src/app/admin/components/users/user-groups/remove-groups/remove-groups.component.html
  src/app/admin/components/users/user-groups/remove-groups/remove-groups.component.scss
  src/app/admin/components/users/user-groups/remove-groups/remove-groups.component.spec.ts
  src/app/admin/components/users/user-groups/remove-groups/remove-groups.component.ts
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.html
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.scss
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.spec.ts
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.ts
  src/app/admin/components/users/user-record/user-record.component.html
  src/app/admin/components/users/user-record/user-record.component.scss
  src/app/admin/components/users/user-record/user-record.component.ts
  src/app/core/components/common/tabs/tabs.component.html
  src/app/dev/dev.component.html
  src/app/dev/dev.component.ts
  src/app/portal/components/case/hearing-results/hearing-results.component.html
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/your-work/your-work.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-898

#891 DMP-635 - Create a Courthouse Page
  cypress/e2e/functional/admin-portal/courthouse-record-spec.cy.js
  cypress/e2e/functional/admin-portal/courthouses-spec.cy.js
  cypress/e2e/functional/admin-portal/user-record-spec.cy.js
  darts-api-stub/admin/courthouses/courthouses.js
  darts-api-stub/admin/security-groups/security-groups.js
  darts-api-stub/admin/security-roles/security-roles.js
  darts-api-stub/admin/users/users.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.html
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.spec.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.ts
  src/app/admin/components/courthouses/courthouse-search-results/courthouse-search-results.component.html
  src/app/admin/components/courthouses/courthouses.component.html
  src/app/admin/components/courthouses/courthouses.component.ts
  src/app/admin/components/courthouses/create-courthouse/create-courthouse.component.html
  src/app/admin/components/courthouses/create-courthouse/create-courthouse.component.scss
  src/app/admin/components/courthouses/create-courthouse/create-courthouse.component.spec.ts
  src/app/admin/components/courthouses/create-courthouse/create-courthouse.component.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.html
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.scss
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.spec.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.html
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.scss
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.spec.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.ts
  src/app/admin/components/courthouses/edit-courthouse/edit-courthouse.component.html
  src/app/admin/components/courthouses/edit-courthouse/edit-courthouse.component.scss
  src/app/admin/components/courthouses/edit-courthouse/edit-courthouse.component.spec.ts
  src/app/admin/components/courthouses/edit-courthouse/edit-courthouse.component.ts
  src/app/admin/components/users/create-user/create-update-user-form/create-update-user-form.component.spec.ts
  src/app/admin/models/courthouses/courthouse.type.ts
  src/app/admin/models/courthouses/create-courthouse-request.type.ts
  src/app/admin/models/courthouses/create-update-courthouse-form-values.type.ts
  src/app/admin/models/courthouses/region.interface.ts
  src/app/admin/models/index.ts
  src/app/admin/models/users/security-group.interface.ts
  src/app/admin/models/users/security-group.type.ts
  src/app/admin/models/users/security-role.interface.ts
  src/app/admin/models/users/security-role.type.ts
  src/app/admin/services/courthouses/courthouse.service.spec.ts
  src/app/admin/services/courthouses/courthouses.service.ts
  src/app/admin/services/user-admin/user-admin.service.spec.ts
  src/app/admin/services/user-admin/user-admin.service.ts
  src/app/core/validators/courthouse.validator.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-891

#902 DMP-2435: Fix admin portal user record table header
  src/app/core/components/common/details-table/details-table.component.html
  src/app/core/components/common/details-table/details-table.component.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-902

#904 DMP-2210: Add accessibility text to retention change links
  src/app/portal/components/case/case-retention-date/case-retention-confirm/case-retention-confirm.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-904

#905 DMP-2455: Add label for annotation comments
  src/app/portal/components/hearing/add-annotation/add-annotation.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-905

#907 DMP-2300 Preview audio message for unavailable audio
  cypress/e2e/functional/request-audio-spec.cy.js
  darts-api-stub/audios/index.js
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.html
  src/app/portal/models/hearing/hearing-audio.interface.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-907

#906 DMP-2257: Remove tabIndex from headings and use aria role alert instead
  src/app/core/components/common/govuk-heading/govuk-heading.component.html
  src/app/core/components/common/govuk-heading/govuk-heading.component.ts
  src/app/core/components/error/conflict/conflict.component.html
  src/app/core/components/error/forbidden/forbidden.component.html
  src/app/core/components/error/internal-server/internal-error.component.html
  src/app/core/components/error/not-found/not-found.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-906

#909 DMP-2546: Add hint for service now incident number in change reason
  src/app/portal/components/case/case-retention-date/case-retention-change/case-retention-change.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-909

#911 DMP-2476: Rename LANGUAGE_SHOP_USER role to TRANSLATION_QA
  darts-api-stub/roles.js
  darts-api-stub/users.js
  src/app/core/models/user/role-name.type.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-911

#912 DMP:2220: Separate admin and portal navigation
  src/app/core/components/layout/header/admin-navigation/admin-navigation.component.html
  src/app/core/components/layout/header/admin-navigation/admin-navigation.component.scss
  src/app/core/components/layout/header/admin-navigation/admin-navigation.component.spec.ts
  src/app/core/components/layout/header/admin-navigation/admin-navigation.component.ts
  src/app/core/components/layout/header/header.component.html
  src/app/core/components/layout/header/header.component.spec.ts
  src/app/core/components/layout/header/header.component.ts
  src/app/core/components/layout/header/portal-navigation/portal-navigation.component.html
  src/app/core/components/layout/header/portal-navigation/portal-navigation.component.scss
  src/app/core/components/layout/header/portal-navigation/portal-navigation.component.spec.ts
  src/app/core/components/layout/header/portal-navigation/portal-navigation.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-912

#916 DMP-2404 Fixes for Super User role
  darts-api-stub/roles.js
  darts-api-stub/users.js
  src/app/admin/admin.routes.ts
  src/app/core/components/layout/header/header.component.spec.ts
  src/app/core/components/layout/header/header.component.ts
  src/app/core/components/layout/header/portal-navigation/portal-navigation.component.html
  src/app/core/components/layout/header/portal-navigation/portal-navigation.component.spec.ts
  src/app/core/models/user/role-name.type.ts
  src/app/core/services/user/user.service.spec.ts
  src/app/core/services/user/user.service.ts
  src/app/portal/components/case/case-file/case-file.component.html
  src/app/portal/components/transcriptions/transcriptions.component.html
  src/app/portal/components/transcriptions/transcriptions.component.spec.ts
  src/app/portal/components/transcriptions/transcriptions.component.ts
  src/app/portal/portal.routes.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-916

#924 Title case "service now" text
  src/app/portal/components/case/case-retention-date/case-retention-change/case-retention-change.component.html
  yarn-audit-known-issues
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-924

#923 DMP-2278: Groups admin screen
  cypress/e2e/functional/admin-portal/groups-spec.cy.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.spec.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.spec.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.spec.ts
  src/app/admin/components/groups/groups.component.html
  src/app/admin/components/groups/groups.component.scss
  src/app/admin/components/groups/groups.component.spec.ts
  src/app/admin/components/groups/groups.component.ts
  src/app/admin/components/users/user-groups/assign-groups/assign-groups.component.spec.ts
  src/app/admin/components/users/user-groups/assign-groups/assign-groups.component.ts
  src/app/admin/components/users/user-groups/remove-groups/remove-groups.component.spec.ts
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.spec.ts
  src/app/admin/models/users/security-group.interface.ts
  src/app/admin/models/users/security-group.type.ts
  src/app/admin/services/courthouses/courthouses.service.ts
  src/app/admin/services/groups/groups.service.spec.ts
  src/app/admin/services/groups/groups.service.ts
  src/app/admin/services/user-admin/user-admin.service.spec.ts
  src/app/admin/services/user-admin/user-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-923

#922 DMP-2252 + 2263 - Edit and check a courthouse
  cypress/e2e/functional/admin-portal/user-record-spec.cy.js
  darts-api-stub/admin/courthouses/courthouses.js
  darts-api-stub/admin/security-groups/security-groups.js
  darts-api-stub/admin/security-roles/security-roles.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.html
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.ts
  src/app/admin/components/courthouses/create-courthouse/create-courthouse.component.spec.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.html
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.scss
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.spec.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.html
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.spec.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.ts
  src/app/admin/components/courthouses/edit-courthouse/edit-courthouse.component.html
  src/app/admin/components/courthouses/edit-courthouse/edit-courthouse.component.spec.ts
  src/app/admin/components/courthouses/edit-courthouse/edit-courthouse.component.ts
  src/app/admin/components/users/create-user/create-user.component.ts
  src/app/admin/models/courthouses/create-update-courthouse-form-values.type.ts
  src/app/admin/models/users/security-group.type.ts
  src/app/admin/services/courthouses/courthouse.service.spec.ts
  src/app/admin/services/courthouses/courthouses.service.ts
  src/app/core/components/common/details-table/details-table.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-922

#917 DMP-2562 Super user/admin can select request type on audio request
  cypress/e2e/functional/request-audio-spec.cy.js
  darts-api-stub/admin/courthouses/courthouses.js
  darts-api-stub/admin/regions/regions.js
  darts-api-stub/annotations/annotations.js
  darts-api-stub/retentions/retention.js
  darts-api-stub/roles.js
  darts-api-stub/users.js
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.html
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.spec.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-917

#932 DMP-2299: Add view group details screen
  cypress/e2e/functional/admin-portal/group-record.spec.cy.js
  cypress/e2e/functional/admin-portal/groups-spec.cy.js
  darts-api-stub/admin/security-groups/security-groups.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.spec.ts
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.html
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.scss
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.spec.ts
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.ts
  src/app/admin/components/groups/group-record/group-record.component.html
  src/app/admin/components/groups/group-record/group-record.component.scss
  src/app/admin/components/groups/group-record/group-record.component.spec.ts
  src/app/admin/components/groups/group-record/group-record.component.ts
  src/app/admin/components/groups/group-users/group-users.component.html
  src/app/admin/components/groups/group-users/group-users.component.scss
  src/app/admin/components/groups/group-users/group-users.component.spec.ts
  src/app/admin/components/groups/group-users/group-users.component.ts
  src/app/admin/components/groups/groups.component.html
  src/app/admin/components/groups/groups.component.spec.ts
  src/app/admin/components/groups/groups.component.ts
  src/app/admin/components/users/user-groups/assign-groups/assign-groups.component.spec.ts
  src/app/admin/models/users/security-group.interface.ts
  src/app/admin/models/users/security-group.type.ts
  src/app/admin/services/courthouses/courthouses.service.ts
  src/app/admin/services/groups/groups.service.spec.ts
  src/app/admin/services/groups/groups.service.ts
  src/app/admin/services/user-admin/user-admin.service.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-932

#928 DMP-2466-Retention-Policies-Primary-Page
  cypress/e2e/functional/admin-portal/retention-policies-spec.cy.js
  darts-api-stub/admin/retention-policies/retention-policies.js
  darts-api-stub/index.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/retention-policies/retention-policies.component.html
  src/app/admin/components/retention-policies/retention-policies.component.scss
  src/app/admin/components/retention-policies/retention-policies.component.spec.ts
  src/app/admin/components/retention-policies/retention-policies.component.ts
  src/app/admin/models/index.ts
  src/app/admin/models/retention-policies/retention-policy-data.interface.ts
  src/app/admin/models/retention-policies/retention-policy.type.ts
  src/app/admin/services/retention-policies/retention-policies.service.spec.ts
  src/app/admin/services/retention-policies/retention-policies.service.ts
  src/app/core/pipes/duration.pipe.spec.ts
  src/app/core/pipes/duration.pipe.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-928

#935 DMP-2303, DMP-2581 & DMP-2305 - Group details - Users tab
  cypress/e2e/functional/admin-portal/group-record.spec.cy.js
  darts-api-stub/admin/users/users.js
  darts-api-stub/users.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.html
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.scss
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.ts
  src/app/admin/components/groups/group-record/group-record.component.html
  src/app/admin/components/groups/group-record/group-record.component.spec.ts
  src/app/admin/components/groups/group-record/group-record.component.ts
  src/app/admin/components/groups/group-users/group-users.component.html
  src/app/admin/components/groups/group-users/group-users.component.scss
  src/app/admin/components/groups/group-users/group-users.component.spec.ts
  src/app/admin/components/groups/group-users/group-users.component.ts
  src/app/admin/components/groups/remove-group-users/remove-group-users.component.html
  src/app/admin/components/groups/remove-group-users/remove-group-users.component.scss
  src/app/admin/components/groups/remove-group-users/remove-group-users.component.spec.ts
  src/app/admin/components/groups/remove-group-users/remove-group-users.component.ts
  src/app/admin/services/groups/groups.service.ts
  src/app/admin/services/user-admin/user-admin.service.ts
  src/app/core/components/common/auto-complete/auto-complete.component.html
  src/app/core/components/common/auto-complete/auto-complete.component.scss
  src/app/core/components/common/auto-complete/auto-complete.component.spec.ts
  src/app/core/components/common/auto-complete/auto-complete.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-935

#937 DMP-2252 + DMP-2186 fixes
  cypress/e2e/functional/admin-portal/courthouse-record-spec.cy.js
  cypress/e2e/functional/admin-portal/courthouses-spec.cy.js
  darts-api-stub/admin/courthouses/courthouses.js
  darts-api-stub/admin/security-groups/security-groups.js
  darts-api-stub/admin/security-roles/security-roles.js
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.ts
  src/app/admin/components/courthouses/create-courthouse/create-courthouse.component.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.html
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-confirmation/create-update-courthouse-confirmation.component.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.html
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.spec.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.ts
  src/app/admin/components/courthouses/edit-courthouse/edit-courthouse.component.html
  src/app/admin/components/courthouses/edit-courthouse/edit-courthouse.component.ts
  src/app/admin/models/courthouses/courthouse.type.ts
  src/app/admin/models/courthouses/create-update-courthouse-form-values.type.ts
  src/app/admin/services/courthouses/courthouse.service.spec.ts
  src/app/admin/services/courthouses/courthouses.service.ts
  src/app/core/models/courthouse/courthouse.interface.ts
  src/app/core/validators/courthouse.validator.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-937

#949 DMP-2521-Audio-Requests-Playback-And-Download
  darts-api-stub/audios/audio-requests.js
  src/app/portal/components/hearing/hearing.component.spec.ts
  src/app/portal/components/hearing/hearing.component.ts
  src/app/portal/services/audio-request/audio-request.service.spec.ts
  src/app/portal/services/audio-request/audio-request.service.ts
  src/app/portal/services/hearing/hearing.service.spec.ts
  src/app/portal/services/hearing/hearing.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-949

#942 Minor tweaks
  darts-api-stub/authentication/index.js
  darts-api-stub/index.js
  package.json
  src/app/core/components/app/app.component.spec.ts
  src/app/core/components/app/app.component.ts
  src/app/core/services/app-insights/app-insights.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-942

#948 DMP-2302: Admin portal - Edit group details
  cypress/e2e/functional/admin-portal/group-record.spec.cy.js
  darts-api-stub/admin/security-groups/security-groups.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.spec.ts
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.ts
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.ts
  src/app/admin/components/courthouses/edit-courthouse/edit-courthouse.component.spec.ts
  src/app/admin/components/groups/create-edit-group/create-edit-group.component.html
  src/app/admin/components/groups/create-edit-group/create-edit-group.component.scss
  src/app/admin/components/groups/create-edit-group/create-edit-group.component.spec.ts
  src/app/admin/components/groups/create-edit-group/create-edit-group.component.ts
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.scss
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.ts
  src/app/admin/components/groups/group-form/group-form.component.html
  src/app/admin/components/groups/group-form/group-form.component.scss
  src/app/admin/components/groups/group-form/group-form.component.spec.ts
  src/app/admin/components/groups/group-form/group-form.component.ts
  src/app/admin/components/groups/group-record/group-record.component.html
  src/app/admin/components/groups/group-record/group-record.component.ts
  src/app/admin/components/groups/groups.component.html
  src/app/admin/components/groups/groups.component.ts
  src/app/admin/components/groups/remove-group-users/remove-group-users.component.spec.ts
  src/app/admin/models/courthouses/courthouse.type.ts
  src/app/admin/models/groups/security-group-form-values.type.ts
  src/app/admin/models/groups/security-group.interface.ts
  src/app/admin/models/groups/security-group.type.ts
  src/app/admin/models/index.ts
  src/app/admin/models/users/user.type.ts
  src/app/admin/services/courthouses/courthouse.service.spec.ts
  src/app/admin/services/courthouses/courthouses.service.ts
  src/app/admin/services/groups/groups.service.ts
  src/app/admin/services/user-admin/user-admin.service.spec.ts
  src/app/admin/services/user-admin/user-admin.service.ts
  src/app/core/validators/group-name.validator.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-948

#936 DMP-2558 Audio Preview Polling
  cypress/e2e/functional/request-audio-spec.cy.js
  darts-api-stub/audios/index.js
  src/app/core/components/common/audio-player/audio-player.component.html
  src/app/core/components/common/audio-player/audio-player.component.spec.ts
  src/app/core/components/common/audio-player/audio-player.component.ts
  src/app/portal/components/audios/audio-view/audio-view.component.html
  src/app/portal/components/audios/audio-view/audio-view.component.spec.ts
  src/app/portal/components/audios/audio-view/audio-view.component.ts
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.html
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.spec.ts
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.ts
  src/app/portal/models/hearing/hearing-audio-event.interface.ts
  src/app/portal/services/audio-preview/audio-preview.service.spec.ts
  src/app/portal/services/audio-preview/audio-preview.service.ts
  src/app/portal/services/audio-request/audio-request.service.spec.ts
  src/app/portal/services/audio-request/audio-request.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-936

#950 DMP 2561 - Preview hint text
  src/app/core/components/common/audio-player/audio-player.component.html
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-950

#953 DMP-2659-Translation-User-Changes
  src/app/core/services/error/error-message.service.ts
  src/app/portal/components/case/case.component.spec.ts
  src/app/portal/components/case/hearing-results/hearing-results.component.html
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/hearing/hearing.component.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-953

#954 DMP-2646 - Case Search - bug fix for stored error messages
  src/app/portal/components/search/search.component.spec.ts
  src/app/portal/components/search/search.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-954

#960 DMP-2299
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-960
