Repository hmcts/darts-portal, pull requests merged in 2024-12, with the labels that each got.

#1703 DMP-4101 Using a different 8 hour session implementation
  server/controllers/authentication.ts
  server/middleware/is-authenticated.ts
  server/middleware/session.ts
  server/types/session.d.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1703

#1719 DMP-4161 Admin portal Courthouse name upper case fixes
  cypress/e2e/functional/admin-portal/courthouse-record-spec.cy.js
  package.json
  src/app/admin/components/courthouses/courthouse-record/courthouse-record.component.html
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.html
  src/app/admin/components/courthouses/create-courthouse/create-update-courthouse-form/create-update-courthouse-form.component.spec.ts
  src/app/admin/services/courthouses/courthouse.service.spec.ts
  src/app/admin/services/courthouses/courthouses.service.ts
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1719

#1720 DMP-4428 DMP-4429 DMP-4454: Fix and refactor ARM RPO start/end hour fields
  cypress/e2e/functional/admin-portal/automated-tasks-spec.cy.js
  darts-api-stub/admin/automated-tasks/automated-tasks.js
  package.json
  src/app/admin/components/automated-tasks/edit-automated-task/edit-automated-task.component.html
  src/app/admin/components/automated-tasks/edit-automated-task/edit-automated-task.component.spec.ts
  src/app/admin/components/automated-tasks/edit-automated-task/edit-automated-task.component.ts
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.html
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.spec.ts
  src/app/admin/components/automated-tasks/view-automated-tasks/view-automated-tasks.component.ts
  src/app/admin/constants/automated-task-edit-error-messages.ts
  src/app/admin/models/automated-task/automated-task.interface.ts
  src/app/admin/models/automated-task/automated-task.ts
  src/app/admin/services/automated-tasks/automated-tasks.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1720

#1728 Only use secure cookies if host is secure
  server/middleware/session.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1728

#1688 DMP-4523 Update the associated audio files for marking for deletion
  cypress/e2e/functional/admin-portal/file-deletion-spec.cy.js
  cypress/e2e/functional/admin-portal/hide-or-delete-file-spec.cy.js
  cypress/e2e/functional/admin-portal/transformed-media-spec.cy.js
  darts-api-stub/admin/medias/medias.js
  setup-jest.ts
  src/app/admin/components/file-deletion/audio-file-results/audio-file-results.component.ts
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.html
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.spec.ts
  src/app/admin/components/file-deletion/file-hide-or-delete/file-hide-or-delete.component.ts
  src/app/admin/components/transformed-media/associated-audio-hide-delete/associated-audio-hide-delete.component.html
  src/app/admin/components/transformed-media/associated-audio-hide-delete/associated-audio-hide-delete.component.spec.ts
  src/app/admin/components/transformed-media/associated-audio-hide-delete/associated-audio-hide-delete.component.ts
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.html
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.spec.ts
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.ts
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.spec.ts
  src/app/admin/models/transformed-media/associated-media-data.interface.ts
  src/app/admin/models/transformed-media/associated-media.ts
  src/app/admin/services/transformed-media/transformed-media.service.spec.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
  src/app/core/components/common/govuk-heading/govuk-heading.component.scss
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1688

#1734 DMP-4106 Audio Preview - Add no audio message if start/end timestamps are the same
  cypress/e2e/functional/request-audio-spec.cy.js
  darts-api-stub/audios/index.js
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.html
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.spec.ts
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1734

#1731 DMP-4257: New associated audio files screen for unmarking for deletion/unhiding
  cypress/e2e/functional/admin-portal/hide-or-delete-file-spec.cy.js
  darts-api-stub/admin/medias/medias.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/audio-file/audio-file.component.html
  src/app/admin/components/audio-file/audio-file.component.spec.ts
  src/app/admin/components/audio-file/audio-file.component.ts
  src/app/admin/components/file-deletion/file-unhide-or-undelete/file-unhide-or-undelete.component.html
  src/app/admin/components/file-deletion/file-unhide-or-undelete/file-unhide-or-undelete.component.scss
  src/app/admin/components/file-deletion/file-unhide-or-undelete/file-unhide-or-undelete.component.spec.ts
  src/app/admin/components/file-deletion/file-unhide-or-undelete/file-unhide-or-undelete.component.ts
  src/app/admin/components/transformed-media/associated-audio-hide-delete/associated-audio-hide-delete.component.html
  src/app/admin/components/transformed-media/associated-audio-hide-delete/associated-audio-hide-delete.component.ts
  src/app/admin/components/transformed-media/associated-audio-table/associated-audio-table.component.ts
  src/app/admin/services/transformed-media/transformed-media.service.spec.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1731
