Repository hmcts/darts-portal, pull requests merged in 2025-08, with the labels that each got.

#2078 DMP-5073 Fixing Created By field when marking automated task as inactive
  cypress/e2e/functional/admin-portal/automated-tasks-spec.cy.js
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-2078

#2089 DMP-5080 Back URL View transcript admin screen
  src/app/admin/components/groups/group-record/group-record.component.html
  src/app/admin/components/groups/group-record/group-record.component.ts
  src/app/admin/components/transcripts/view-transcript/transcript-details/transcript-details.component.html
  src/app/admin/components/transcripts/view-transcript/transcript-details/transcript-details.component.ts
  src/app/admin/components/transcripts/view-transcript/view-transcript.component.html
  src/app/admin/components/users/user-record/user-record.component.html
  src/app/admin/components/users/user-record/user-record.component.ts
  src/app/core/components/common/timeline/timeline.component.html
  src/app/core/components/common/timeline/timeline.component.ts
  src/app/core/directives/govuk-summary-list/govuk-summary-action.directive.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-2089

#2125 DMP-5109/5173 defer loading of nav components
  src/app/core/components/layout/header/header.component.html
  src/app/core/components/layout/header/header.component.spec.ts
  src/app/core/components/layout/header/header.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-2125

#2126 DMP-3222 Audio tab for case file screen Admin portal
  charts/darts-portal/values.dev.template.yaml
  config/custom-environment-variables.json
  config/default.json
  cypress/e2e/functional/admin-portal/case-file-spec.cy.js
  darts-api-stub/admin/cases/cases.js
  src/app/admin/components/case/case-file/case-audio/case-audio.component.html
  src/app/admin/components/case/case-file/case-audio/case-audio.component.scss
  src/app/admin/components/case/case-file/case-audio/case-audio.component.spec.ts
  src/app/admin/components/case/case-file/case-audio/case-audio.component.ts
  src/app/admin/components/case/case.component.html
  src/app/admin/components/case/case.component.spec.ts
  src/app/admin/components/case/case.component.ts
  src/app/admin/models/case/case-audio/case-audio.interface.ts
  src/app/admin/models/case/case-audio/case-audio.type.ts
  src/app/admin/services/admin-case/admin-case.service.spec.ts
  src/app/admin/services/admin-case/admin-case.service.ts
  src/app/admin/services/case-audio-loader/case-audio-loader.service.spec.ts
  src/app/admin/services/case-audio-loader/case-audio-loader.service.ts
  src/app/core/services/app-config/app-config.service.ts
  src/app/core/services/dynatrace/dynatrace.service.spec.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-2126

#2133 DMP-5089 self edits on users are now disallowed
  .nvmrc
  cypress/e2e/functional/admin-portal/automated-tasks-spec.cy.js
  cypress/e2e/functional/admin-portal/group-record-spec.cy.js
  cypress/e2e/functional/admin-portal/user-record-spec.cy.js
  darts-api-stub/admin/security-groups/security-groups.js
  src/app/admin/components/groups/group-record/group-record.component.html
  src/app/admin/components/groups/group-record/group-record.component.spec.ts
  src/app/admin/components/groups/group-record/group-record.component.ts
  src/app/admin/components/groups/group-users/group-users.component.spec.ts
  src/app/admin/components/groups/group-users/group-users.component.ts
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.html
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.ts
  src/app/admin/components/users/user-record/user-record.component.html
  src/app/admin/components/users/user-record/user-record.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-2133
