Repository hmcts/darts-portal, pull requests merged in 2025-06, with the labels that each got.

#2076 DMP-5135 increase stop server timeout from 20s to 60s
  charts/darts-portal/Chart.yaml
  charts/darts-portal/values.yaml
  server/index.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-2076

#2080 DMP-5144 Introduce 32 length check for case id
  cypress/e2e/functional/admin-portal/search-spec.cy.js
  cypress/e2e/functional/case-search-spec.cy.js
  src/app/admin/components/search/search-form/search-form.component.html
  src/app/admin/components/search/search-form/search-form.component.ts
  src/app/admin/constants/admin-search-form-error-messages.ts
  src/app/admin/constants/case-search-form-error-messages.ts
  src/app/portal/components/search/case-search-form/case-search-form.component.html
  src/app/portal/components/search/case-search-form/case-search-form.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-2080

#2079 DMP-5139 Applied disabled logic on confirmation to delete component
  src/app/core/components/common/delete/delete.component.html
  src/app/core/components/common/delete/delete.component.spec.ts
  src/app/core/components/common/delete/delete.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-2079

#2082 DMP-5149 Update upload transcript file formats
  cypress/e2e/functional/upload-transcript-spec.cy.js
  src/app/core/components/common/file-upload/file-upload.component.html
  src/app/core/components/common/file-upload/file-upload.component.ts
  src/app/portal/components/hearing/add-annotation/add-annotation.component.html
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.html
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-2082
