Repository hmcts/darts-portal, pull requests merged in 2025-02, with the labels that each got.

#1791 DMP-4604 RCJ_APPEALS can download audio
  cypress/e2e/functional/request-audio-spec.cy.js
  darts-api-stub/roles.js
  darts-api-stub/users.js
  src/app/core/models/user/role-name.type.ts
  src/app/core/services/user/user.service.ts
  src/app/portal/components/hearing/hearing.component.spec.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.html
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.spec.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1791

#1788 DMP-4628 groups display state fix
  darts-api-stub/admin/security-groups/security-groups.js
  src/app/admin/components/groups/groups.component.spec.ts
  src/app/admin/components/groups/groups.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1788

#1794 Add 503/404 to ignore list for transcriber-counts
  src/app/core/services/error/error-message.service.spec.ts
  src/app/core/services/error/error-message.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1794

#1797 DMP-4652 Change for transcriptions permissions
  src/app/portal/components/transcriptions/transcriptions.component.html
  src/app/portal/components/transcriptions/transcriptions.component.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1797

#1798 Adding app insights custom events for case searches
  src/app/admin/services/admin-search/admin-search.service.spec.ts
  src/app/admin/services/admin-search/admin-search.service.ts
  src/app/portal/services/case-search/case-search.service.spec.ts
  src/app/portal/services/case-search/case-search.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1798

#1802 Adding some logging to HTTP proxy middleware
  server/controllers/api.ts
  src/app/admin/services/admin-search/admin-search.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1802

#1803 Update dependency connect-redis to v8
  package.json
  server/middleware/session.ts
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1803

#1793 DMP-4669 Courthouse reset fix and ft
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  cypress/e2e/functional/admin-portal/transformed-media-spec.cy.js
  cypress/e2e/functional/case-search-spec.cy.js
  src/app/admin/components/transformed-media/search-transformed-media-form/search-transformed-media-form.component.html
  src/app/core/components/common/courthouse/courthouse.component.ts
  src/app/portal/components/search/case-search-form/case-search-form.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1793

#1801 DMP-4457 global access checks for group records
  cypress/e2e/functional/admin-portal/group-record-spec.cy.js
  cypress/e2e/functional/admin-portal/groups-spec.cy.js
  darts-api-stub/admin/security-groups/security-groups.js
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.html
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.scss
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.ts
  src/app/admin/components/groups/group-record/group-record.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1801

#1816 DMP-4734 Fixing events and audio sorting bug
  darts-api-stub/audios/index.js
  darts-api-stub/cases/case.js
  darts-api-stub/hearings/hearings.js
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1816

#1817 DMP-4746 hide case results while searching
  src/app/portal/components/search/search.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1817

#1826 Allowing keep alive test requests without authentication
  server/middleware/is-authenticated.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1826

#1828 DMP-4770 Super user permissions for group tab on user record
  src/app/admin/components/users/user-groups/user-groups/user-groups.component.html
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1828

#1833 DMP-4804 Fixing missing hearing link in admin transcript doc screen
  darts-api-stub/admin/transcriptions/transcription-documents.js
  darts-api-stub/transcriptions/transcriptions.js
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.spec.ts
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.ts
  src/app/portal/components/transcriptions/assign-transcript/assign-transcript.component.ts
  src/app/portal/models/transcriptions/transcription-details.type.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1833

#1827 DMP-3311/3861 show versions for event screen
  cypress/e2e/functional/admin-portal/event-details-spec.cy.js
  cypress/e2e/functional/admin-portal/search-spec.cy.js
  darts-api-stub/admin/events/events.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/events/advanced-event-details/advanced-event-details.component.html
  src/app/admin/components/events/advanced-event-details/advanced-event-details.component.scss
  src/app/admin/components/events/advanced-event-details/advanced-event-details.component.spec.ts
  src/app/admin/components/events/advanced-event-details/advanced-event-details.component.ts
  src/app/admin/components/events/basic-event-details/basic-event-details.component.html
  src/app/admin/components/events/show-versions/show-versions.component.html
  src/app/admin/components/events/show-versions/show-versions.component.scss
  src/app/admin/components/events/show-versions/show-versions.component.spec.ts
  src/app/admin/components/events/show-versions/show-versions.component.ts
  src/app/admin/components/events/view-event/view-event.component.html
  src/app/admin/components/events/view-event/view-event.component.ts
  src/app/admin/facades/events/events-facade.service.spec.ts
  src/app/admin/facades/events/events-facade.service.ts
  src/app/admin/models/events/event-data.interface.ts
  src/app/admin/models/events/event-versions.interface.ts
  src/app/admin/models/events/event-versions.ts
  src/app/admin/models/events/event.ts
  src/app/admin/services/events/events.service.spec.ts
  src/app/admin/services/events/events.service.ts
  src/app/core/components/common/data-table/data-table.component.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1827

#1837 DMP-4178 Delete transformed media
  cypress/e2e/functional/admin-portal/transformed-media-spec.cy.js
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.html
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.spec.ts
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.ts
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.html
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.scss
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.spec.ts
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1837

#1842 DMP-4230 Audio file deletion message update
  cypress/e2e/functional/admin-portal/file-deletion-spec.cy.js
  src/app/admin/components/file-deletion/file-deletion.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1842

#1841 DMP-4777 bug fix for before time validator on request audio
  src/app/core/validators/before-time.validator.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1841

#1854 Helm chart upgrade
  charts/darts-portal/Chart.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1854

#1855 DMP-4781 Bug fix for invalid time on request audio
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1855
