Repository hmcts/darts-portal, pull requests merged in 2025-03, with the labels that each got.

#1858 DMP-4777 Bug fix for before time validation in request audio & transcript
  src/app/core/validators/before-time.validator.spec.ts
  src/app/core/validators/before-time.validator.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.spec.ts
  src/app/portal/components/hearing/request-playback-audio/request-playback-audio.component.ts
  src/app/portal/components/hearing/request-transcript/request-times/request-times.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1858

#1859 DMP-4841 Correcting event version screen to show event ID at the top
  cypress/e2e/functional/admin-portal/event-details-spec.cy.js
  src/app/admin/components/events/show-versions/show-versions.component.html
  src/app/admin/components/events/show-versions/show-versions.component.spec.ts
  src/app/admin/facades/events/events-facade.service.spec.ts
  src/app/admin/facades/events/events-facade.service.ts
  src/app/admin/models/events/event-data.interface.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1859

#1866 DMP-3214 Hearing table tab on admin case file
  cypress/e2e/functional/admin-portal/case-file-spec.cy.js
  src/app/admin/components/case/case.component.html
  src/app/admin/components/case/case.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1866

#1856 DMP-3226 Admin case file additional details tab
  cypress/e2e/functional/admin-portal/case-file-spec.cy.js
  darts-api-stub/admin/cases/cases.js
  src/app/admin/components/case/case-file/case-additional-details/case-additional-details.component.html
  src/app/admin/components/case/case-file/case-additional-details/case-additional-details.component.scss
  src/app/admin/components/case/case-file/case-additional-details/case-additional-details.component.spec.ts
  src/app/admin/components/case/case-file/case-additional-details/case-additional-details.component.ts
  src/app/admin/components/case/case-file/case-file.component.ts
  src/app/admin/components/case/case.component.html
  src/app/admin/components/case/case.component.spec.ts
  src/app/admin/components/case/case.component.ts
  src/app/admin/models/case/case.interface.ts
  src/app/admin/models/case/case.type.ts
  src/app/admin/services/admin-case/admin-case.service.spec.ts
  src/app/admin/services/admin-case/admin-case.service.ts
  src/app/portal/components/case/case-file/case-hearings-table/case-hearings-table.component.html
  src/app/portal/components/case/case-file/case-hearings-table/case-hearings-table.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1856

#1882 DMP-4874 - Bug - Event anonymised update
  darts-api-stub/admin/events/events.js
  src/app/admin/models/search/admin-event-search-result-data.interface.ts
  src/app/admin/services/admin-search/admin-search.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1882

#1886 DMP-4180 Retain link condition
  src/app/admin/components/case/case-file/case-file.component.html
  src/app/admin/components/case/case-file/case-file.component.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1886

#1871 DMP-3307 Hearing file admin portal
  cypress/e2e/functional/admin-portal/case-file-spec.cy.js
  cypress/e2e/functional/admin-portal/hearing-file-spec.cy.js
  cypress/e2e/functional/admin-portal/search-spec.cy.js
  cypress/e2e/functional/hearing-screen-spec.cy.js
  cypress/e2e/functional/request-audio-spec.cy.js
  darts-api-stub/admin/hearings/hearings.js
  darts-api-stub/hearings/hearings.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/events/view-event/view-event.component.html
  src/app/admin/components/events/view-event/view-event.component.ts
  src/app/admin/components/hearing/hearing-file/hearing-audios/hearing-audios.component.html
  src/app/admin/components/hearing/hearing-file/hearing-audios/hearing-audios.component.scss
  src/app/admin/components/hearing/hearing-file/hearing-audios/hearing-audios.component.spec.ts
  src/app/admin/components/hearing/hearing-file/hearing-audios/hearing-audios.component.ts
  src/app/admin/components/hearing/hearing-file/hearing-events/hearing-events.component.html
  src/app/admin/components/hearing/hearing-file/hearing-events/hearing-events.component.scss
  src/app/admin/components/hearing/hearing-file/hearing-events/hearing-events.component.spec.ts
  src/app/admin/components/hearing/hearing-file/hearing-events/hearing-events.component.ts
  src/app/admin/components/hearing/hearing-file/hearing-file.component.html
  src/app/admin/components/hearing/hearing-file/hearing-file.component.scss
  src/app/admin/components/hearing/hearing-file/hearing-file.component.spec.ts
  src/app/admin/components/hearing/hearing-file/hearing-file.component.ts
  src/app/admin/components/hearing/hearing-file/hearing-transcripts/hearing-transcripts.component.html
  src/app/admin/components/hearing/hearing-file/hearing-transcripts/hearing-transcripts.component.scss
  src/app/admin/components/hearing/hearing-file/hearing-transcripts/hearing-transcripts.component.spec.ts
  src/app/admin/components/hearing/hearing-file/hearing-transcripts/hearing-transcripts.component.ts
  src/app/admin/components/hearing/hearing.component.html
  src/app/admin/components/hearing/hearing.component.scss
  src/app/admin/components/hearing/hearing.component.spec.ts
  src/app/admin/components/hearing/hearing.component.ts
  src/app/admin/components/search/hearing-search-results/hearing-search-results.component.html
  src/app/admin/components/search/hearing-search-results/hearing-search-results.component.spec.ts
  src/app/admin/components/search/hearing-search-results/hearing-search-results.component.ts
  src/app/admin/models/case/case.type.ts
  src/app/admin/models/hearing/hearing-audio.interface.ts
  src/app/admin/models/hearing/hearing-audio.type.ts
  src/app/admin/models/hearing/hearing-events-data.type.ts
  src/app/admin/models/hearing/hearing-events.type.ts
  src/app/admin/models/hearing/hearing.interface.ts
  src/app/admin/models/hearing/hearing.type.ts
  src/app/admin/services/admin-case/admin-case.service.spec.ts
  src/app/admin/services/admin-hearing/admin-hearing.service.spec.ts
  src/app/admin/services/admin-hearing/admin-hearing.service.ts
  src/app/portal/components/case/case-file/case-hearings-table/case-hearings-table.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1871

#1893 DMP-4878 Handling undefined transcription file name
  cypress/e2e/functional/view-transcript-spec.cy.js
  src/app/portal/components/transcriptions/view-transcript/approved-transcript/approved-transcript.component.html
  src/app/portal/components/transcriptions/view-transcript/approved-transcript/approved-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/approved-transcript/approved-transcript.component.ts
  src/app/portal/components/transcriptions/view-transcript/case-hearing-transcript/case-hearing-transcript.component.html
  src/app/portal/components/transcriptions/view-transcript/case-hearing-transcript/case-hearing-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/case-hearing-transcript/case-hearing-transcript.component.ts
  src/app/portal/models/transcriptions/transcription-details.interface.ts
  src/app/portal/models/transcriptions/transcription-details.type.ts
  src/app/portal/services/mapping/mapping.service.spec.ts
  src/app/portal/services/mapping/mapping.service.ts
  src/app/portal/services/transcription/transcription.service.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1893

#1892 DMP-3640 added associated hearings, cases to event screen
  cypress/e2e/functional/admin-portal/audio-file-details-spec.cy.js
  cypress/e2e/functional/admin-portal/event-details-spec.cy.js
  darts-api-stub/admin/events/events.js
  src/app/admin/components/audio-file/associated-hearings-table/associated-hearings-table.component.scss
  src/app/admin/components/audio-file/basic-audio-file-details/basic-audio-file-details.component.html
  src/app/admin/components/audio-file/basic-audio-file-details/basic-audio-file-details.component.ts
  src/app/admin/components/common/associated-cases-table/associated-cases-table.component.html
  src/app/admin/components/common/associated-cases-table/associated-cases-table.component.scss
  src/app/admin/components/common/associated-cases-table/associated-cases-table.component.spec.ts
  src/app/admin/components/common/associated-cases-table/associated-cases-table.component.ts
  src/app/admin/components/common/associated-hearings-table/associated-hearings-table.component.html
  src/app/admin/components/common/associated-hearings-table/associated-hearings-table.component.scss
  src/app/admin/components/common/associated-hearings-table/associated-hearings-table.component.spec.ts
  src/app/admin/components/common/associated-hearings-table/associated-hearings-table.component.ts
  src/app/admin/components/events/advanced-event-details/advanced-event-details.component.spec.ts
  src/app/admin/components/events/basic-event-details/basic-event-details.component.html
  src/app/admin/components/events/basic-event-details/basic-event-details.component.spec.ts
  src/app/admin/components/events/basic-event-details/basic-event-details.component.ts
  src/app/admin/components/events/events.component.html
  src/app/admin/components/events/events.component.spec.ts
  src/app/admin/components/events/events.component.ts
  src/app/admin/components/events/view-event/view-event.component.spec.ts
  src/app/admin/components/hearing/hearing.component.ts
  src/app/admin/facades/events/events-facade.service.spec.ts
  src/app/admin/models/events/event-data.interface.ts
  src/app/admin/models/events/event.ts
  src/app/admin/services/events/events.service.spec.ts
  src/app/admin/services/events/events.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1892

#1891 DMP-4450 Refresh token changes
  config/default.json
  server/controllers/api.ts
  server/controllers/authentication.ts
  server/middleware/is-authenticated.ts
  server/routes.ts
  server/types/classes/securityToken.ts
  server/utils/authentication-utils.ts
  server/utils/index.ts
  server/utils/urls.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1891

#1900 DMP-3236 admin case file screen no tabs if expired
  src/app/admin/components/case/case.component.html
  src/app/admin/components/case/case.component.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1900

#1897 DMP-4827 Adding specific error message for case search 504 timeout response
  config/custom-environment-variables.json
  config/default.json
  cypress/e2e/functional/case-search-spec.cy.js
  darts-api-stub/cases/case.js
  server/app-config.ts
  src/app/core/services/app-config/app-config.service.spec.ts
  src/app/core/services/app-config/app-config.service.ts
  src/app/core/services/dynatrace/dynatrace.service.spec.ts
  src/app/core/services/error/error-message.service.ts
  src/app/portal/components/search/search-error/search-error.component.html
  src/app/portal/components/search/search-error/search-error.component.spec.ts
  src/app/portal/components/search/search-error/search-error.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1897

#1894 DMP-3306 Audio file versions
  cypress/e2e/functional/admin-portal/audio-file-details-spec.cy.js
  darts-api-stub/admin/medias/medias.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.html
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.scss
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.spec.ts
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.ts
  src/app/admin/components/audio-file/audio-file.component.html
  src/app/admin/components/audio-file/audio-file.component.ts
  src/app/admin/components/audio-file/show-versions/show-versions.component.html
  src/app/admin/components/audio-file/show-versions/show-versions.component.scss
  src/app/admin/components/audio-file/show-versions/show-versions.component.spec.ts
  src/app/admin/components/audio-file/show-versions/show-versions.component.ts
  src/app/admin/components/file-deletion/audio-file-results/audio-file-results.component.html
  src/app/admin/models/transformed-media/audio-version-data.interface.ts
  src/app/admin/models/transformed-media/audio-version.ts
  src/app/admin/models/transformed-media/audio-versions-data.interface.ts
  src/app/admin/models/transformed-media/audio-versions.ts
  src/app/admin/services/transformed-media/transformed-media.service.spec.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1894

#1908 DMP-4839 Bug fix for courthouse input overriding
  src/app/admin/components/search/search-form/search-form.component.ts
  src/app/portal/components/search/search-error/search-error.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1908

#1909 DMP-3236 fix hide case details if anonymised
  darts-api-stub/admin/cases/cases.js
  src/app/admin/components/case/case-file/case-file.component.html
  src/app/admin/components/case/case-file/case-file.component.spec.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1909

#1910 DMP-4778 fix for courthouse form
  src/app/core/components/common/courthouse/courthouse.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1910

#1913 DMP-4791 Ensuring 422 errors are handled the same as 400 errors
  darts-api-stub/admin/cases/cases.js
  darts-api-stub/admin/events/events.js
  darts-api-stub/admin/hearings/hearings.js
  darts-api-stub/admin/medias/medias.js
  darts-api-stub/admin/retention-policies/retention-policies.js
  darts-api-stub/cases/case.js
  darts-api-stub/retentions/retention.js
  darts-api-stub/transcriptions/transcriptions.js
  src/app/core/services/error/error-message.service.spec.ts
  src/app/core/services/error/error-message.service.ts
  src/app/portal/components/transcriptions/transcriptions.component.spec.ts
  src/app/portal/components/transcriptions/transcriptions.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1913

#1921 DMP-4178 sort on desc media id cya page, delete text change, media id link
  cypress/e2e/functional/admin-portal/transformed-media-spec.cy.js
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.html
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1921

#1914 DMP-4869 Ensuring whitespace in case numbers is persisted
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  src/app/admin/components/case/case-file/case-file.component.html
  src/app/admin/components/common/associated-cases-table/associated-cases-table.component.html
  src/app/admin/components/common/associated-hearings-table/associated-hearings-table.component.html
  src/app/admin/components/file-deletion/transcripts-for-deletion/transcripts-for-deletion.component.html
  src/app/admin/components/hearing/hearing-file/hearing-file.component.html
  src/app/admin/components/search/hearing-search-results/hearing-search-results.component.html
  src/app/admin/components/transcripts/search-completed-transcripts-results/search-completed-transcripts-results.component.html
  src/app/admin/components/transcripts/search-transcripts-results/search-transcripts-results.component.html
  src/app/admin/components/transformed-media/search-transformed-media/search-transformed-media.component.html
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.html
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.html
  src/app/admin/components/users/user-transcripts/user-transcripts.component.html
  src/app/core/components/common/details-table/details-table.component.html
  src/app/portal/components/audios/audio-view/audio-view.component.html
  src/app/portal/components/audios/audios.component.html
  src/app/portal/components/case/case-file/case-file.component.html
  src/app/portal/components/case/case-retention-date/case-retention-date.component.html
  src/app/portal/components/case/case.component.html
  src/app/portal/components/hearing/add-annotation/add-annotation.component.html
  src/app/portal/components/hearing/hearing.component.html
  src/app/portal/components/hearing/order-confirmation/order-confirmation.component.html
  src/app/portal/components/hearing/request-transcript/request-transcript.component.html
  src/app/portal/components/search/case-search-results/case-search-results.component.html
  src/app/portal/components/transcriptions/transcription-requests/transcription-requests.component.html
  src/app/portal/components/transcriptions/transcriptions.component.html
  src/app/portal/components/transcriptions/view-transcript/case-hearing-transcript/case-hearing-transcript.component.html
  src/app/portal/components/transcriptions/view-transcript/rejected-transcript/rejected-transcript.component.html
  src/app/portal/components/your-work/your-work.component.html
  src/styles.scss
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1914
