Repository hmcts/darts-portal, pull requests merged in 2025-04, with the labels that each got.

#1926 Reinstating whitespace requried for action links
  src/app/core/components/common/details-table/details-table.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1926

#1927 DMP-4897 Load case events on tab load
  src/app/portal/components/case/case.component.html
  src/app/portal/components/case/case.component.spec.ts
  src/app/portal/components/case/case.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1927

#1930 DMP-4948 Fixing date picker manual entry issue
  src/app/core/components/common/datepicker/datepicker.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1930

#1925 DMP-4181 Set current new version changes
  cypress/e2e/functional/admin-portal/audio-file-details-spec.cy.js
  cypress/e2e/functional/admin-portal/transformed-media-spec.cy.js
  darts-api-stub/admin/medias/medias.js
  src/app/admin/admin.routes.ts
  src/app/admin/components/audio-file/basic-audio-file-details/basic-audio-file-details.component.html
  src/app/admin/components/audio-file/basic-audio-file-details/basic-audio-file-details.component.ts
  src/app/admin/components/audio-file/set-current-version/set-current-version.component.html
  src/app/admin/components/audio-file/set-current-version/set-current-version.component.scss
  src/app/admin/components/audio-file/set-current-version/set-current-version.component.spec.ts
  src/app/admin/components/audio-file/set-current-version/set-current-version.component.ts
  src/app/admin/components/audio-file/show-versions/show-versions.component.html
  src/app/admin/components/audio-file/show-versions/show-versions.component.scss
  src/app/admin/components/audio-file/show-versions/show-versions.component.spec.ts
  src/app/admin/components/audio-file/show-versions/show-versions.component.ts
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.html
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.ts
  src/app/admin/services/transformed-media/transformed-media.service.spec.ts
  src/app/admin/services/transformed-media/transformed-media.service.ts
  src/app/core/components/common/data-table/data-table.component.html
  src/app/core/components/common/data-table/data-table.component.spec.ts
  src/app/core/components/common/data-table/data-table.component.ts
  src/app/core/pipes/file-size.pipe.spec.ts
  src/app/core/pipes/file-size.pipe.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1925

#1939 DMP-4976 Handling optional objects in transcript file deletion component
  cypress/e2e/functional/admin-portal/file-deletion-spec.cy.js
  darts-api-stub/admin/transcriptions/transcription-documents.js
  src/app/admin/components/file-deletion/file-deletion.component.spec.ts
  src/app/admin/components/file-deletion/file-deletion.component.ts
  src/app/admin/components/file-deletion/transcript-file-delete/transcript-file-delete.component.ts
  src/app/admin/components/file-deletion/transcripts-for-deletion/transcripts-for-deletion.component.html
  src/app/admin/components/file-deletion/transcripts-for-deletion/transcripts-for-deletion.component.spec.ts
  src/app/admin/models/file-deletion/transcription-document-for-deletion-data.interface.ts
  src/app/admin/models/file-deletion/transcription-document-for-deletion.type.ts
  src/app/admin/services/file-deletion/file-deletion.service.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1939

#1936 DMP-4924 events and audio changed to asc order
  cypress/e2e/functional/request-audio-spec.cy.js
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.spec.ts
  src/app/portal/components/hearing/events-and-audio/events-and-audio.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1936

#1944 DMP-4937 Graceful shutdown fixes 2
  server/index.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1944

#1945 DMP-4964 Clear saved tab when clicking into hearing details
  cypress/e2e/functional/admin-portal/case-file-spec.cy.js
  src/app/core/services/active-tab/active-tab.service.spec.ts
  src/app/core/services/active-tab/active-tab.service.ts
  src/app/portal/components/case/case-file/case-hearings-table/case-hearings-table.component.html
  src/app/portal/components/case/case-file/case-hearings-table/case-hearings-table.component.spec.ts
  src/app/portal/components/case/case-file/case-hearings-table/case-hearings-table.component.ts
  src/app/portal/components/hearing/hearing.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1945

#1946 DMP-4988 Fixing error page after session timeout
  server/middleware/is-authenticated.ts
  server/routes.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1946

#1943 DMP-4845 Added no criteria error handling to admin search
  darts-api-stub/admin/cases/cases.js
  darts-api-stub/admin/events/events.js
  darts-api-stub/admin/hearings/hearings.js
  darts-api-stub/admin/medias/medias.js
  src/app/admin/components/search/search.component.html
  src/app/admin/components/search/search.component.spec.ts
  src/app/admin/services/admin-search/admin-search.service.spec.ts
  src/app/admin/services/admin-search/admin-search.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1943

#1931 DMP-4885 Added case links to admin portal
  darts-api-stub/admin/transcriptions/transcriptions.js
  darts-api-stub/transcriptions/transcriptions.js
  src/app/admin/components/transcripts/search-completed-transcripts-results/search-completed-transcripts-results.component.html
  src/app/admin/components/transcripts/search-completed-transcripts-results/search-completed-transcripts-results.component.spec.ts
  src/app/admin/components/transcripts/search-completed-transcripts-results/search-completed-transcripts-results.component.ts
  src/app/admin/components/transcripts/search-transcripts-results/search-transcripts-results.component.html
  src/app/admin/components/transcripts/search-transcripts-results/search-transcripts-results.component.spec.ts
  src/app/admin/components/transcripts/search-transcripts-results/search-transcripts-results.component.ts
  src/app/admin/components/transcripts/view-transcript/transcript-details/transcript-details.component.html
  src/app/admin/components/transcripts/view-transcript/transcript-details/transcript-details.component.scss
  src/app/admin/components/transcripts/view-transcript/transcript-details/transcript-details.component.ts
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.ts
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.html
  src/app/admin/components/transformed-media/transformed-media-search-results/transformed-media-search-results.component.ts
  src/app/admin/components/transformed-media/view-transformed-media/view-transformed-media.component.html
  src/app/admin/models/transcription/transcription-data.interface.ts
  src/app/admin/models/transcription/transcription.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
  src/app/core/directives/govuk-summary-list/govuk-summary-value.directive.spec.ts
  src/app/core/directives/govuk-summary-list/govuk-summary-value.directive.ts
  src/app/core/pipes/join.ts
  src/app/portal/components/transcriptions/approve-transcript/approve-transcript.component.spec.ts
  src/app/portal/components/transcriptions/assign-transcript/assign-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/approved-transcript/approved-transcript.component.spec.ts
  src/app/portal/components/transcriptions/view-transcript/rejected-transcript/rejected-transcript.component.spec.ts
  src/app/portal/components/your-work/upload-transcript/upload-transcript.component.spec.ts
  src/app/portal/services/transcription/transcription.service.spec.ts
  src/app/portal/services/transcription/transcription.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1931

#1954 DMP-4845 AC2 date range span check
  src/app/admin/components/search/search-form/search-form.component.spec.ts
  src/app/admin/components/search/search-form/search-form.component.ts
  src/app/admin/components/search/search.component.html
  src/app/admin/components/search/search.component.spec.ts
  src/app/admin/components/search/search.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1954

#1958 DMP-2789: Make the corresponding changes for the Frontend after removing the endpoint POST /audio-requests and request_type from the endpoints POST /audio-requests/PLAYBACK and POST /audio-requests/DOWNLOAD.
  src/app/portal/services/audio-request/audio-request.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1958

#1964 DMP-4845 Date range error message bug fix
  src/app/admin/components/search/search.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1964

#1966 DMP-4914: Add Is data anonymised and event status to the advanced details tab on eventID screen
  cypress/e2e/functional/admin-portal/event-details-spec.cy.js
  cypress/e2e/functional/admin-portal/search-spec.cy.js
  darts-api-stub/admin/events/events.js
  src/app/admin/components/events/advanced-event-details/advanced-event-details.component.html
  src/app/admin/components/events/advanced-event-details/advanced-event-details.component.spec.ts
  src/app/admin/components/events/view-event/view-event.component.spec.ts
  src/app/admin/facades/events/events-facade.service.spec.ts
  src/app/admin/models/events/event-data.interface.ts
  src/app/admin/models/events/event.ts
  src/app/admin/services/events/events.service.spec.ts
  src/app/admin/services/events/events.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1966

#1968 DMP-4951: Admin Transciptions Advanced Details tab shows null
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-advanced-detail/transcript-file-advanced-detail.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1968

#1967 DMP-4936: ENHANCMENT: Remove Owner from advanced search on transcript requests and completed transcripts
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.html
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.spec.ts
  src/app/admin/components/transcripts/search-transcripts-form/search-transcripts-form.component.ts
  src/app/admin/models/transcription/transcription-search-request.interface.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1967

#1960 DMP-4891 rename assigned to column header
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  src/app/admin/services/transcription-admin/transcription-admin.service.spec.ts
  src/app/admin/services/transcription-admin/transcription-admin.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1960

#1955 DMP-4815 Add hyperlink to Request ID in completed transcripts
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.html
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.scss
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.spec.ts
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1955

#1978 DMP-4921 - Updated Completed transcripts tab and title name to Transcript documents
  cypress/e2e/functional/admin-portal/hide-or-delete-file-spec.cy.js
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  src/app/admin/components/transcripts/transcripts.component.html
  src/app/admin/components/transcripts/transcripts.component.spec.ts
  src/app/admin/components/transcripts/transcripts.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1978

#1982 Fixing courthouses on Case search reset
  src/app/portal/components/search/case-search-form/case-search-form.component.spec.ts
  src/app/portal/components/search/case-search-form/case-search-form.component.ts
  src/app/portal/services/case/case.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1982

#1984 DMP-5027 removed admin reference from transcript case link
  src/app/admin/components/transcripts/view-transcript/transcript-details/transcript-details.component.ts
  src/app/portal/services/transcription/transcription.service.spec.ts
  src/app/portal/services/transcription/transcription.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1984

#1977 DMP-5015 Admin search - change tab on logic error
  cypress/e2e/functional/admin-portal/search-spec.cy.js
  src/app/admin/components/search/search-form/search-form.component.spec.ts
  src/app/admin/components/search/search-form/search-form.component.ts
  src/app/admin/components/search/search.component.html
  src/app/admin/components/search/search.component.spec.ts
  src/app/admin/components/search/search.component.ts
  src/app/admin/services/courthouse-forms/courthouse-form.service.spec.ts
  src/app/admin/services/courthouse-forms/courthouse-form.service.ts
  src/app/core/utils/date-range.utils.ts
  src/app/portal/components/search/case-search-form/case-search-form.component.spec.ts
  src/app/portal/components/search/case-search-form/case-search-form.component.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1977

#1985 DMP-4927 Prevent error when getting 50X on refresh profile and auth check
  src/app/core/services/auth/auth.service.ts
  src/app/core/services/error/error-message.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1985

#1986 DMP-4937 Shutdown tweaks
  charts/darts-portal/Chart.yaml
  charts/darts-portal/values.yaml
  server/index.ts
  server/server.ts
  server/types/global.d.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1986

#1990 DMP-5020 accessibility fix for th single checkbox select
  cypress/e2e/functional/admin-portal/audio-file-details-spec.cy.js
  src/app/admin/components/audio-file/advanced-audio-file-details/advanced-audio-file-details.component.scss
  src/app/admin/components/audio-file/set-current-version/set-current-version.component.html
  src/app/admin/components/audio-file/show-versions/show-versions.component.ts
  src/app/core/components/common/data-table/data-table.component.html
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1990

#1959 DMP-4955 Added pagination for court log events
  config/custom-environment-variables.json
  config/default.json
  cypress/e2e/functional/case-file-spec.cy.js
  darts-api-stub/cases/case.js
  server/app-config.ts
  src/app/core/components/common/data-table/data-table.component.html
  src/app/core/components/common/data-table/data-table.component.spec.ts
  src/app/core/components/common/data-table/data-table.component.ts
  src/app/core/services/app-config/app-config.service.spec.ts
  src/app/core/services/app-config/app-config.service.ts
  src/app/core/services/dynatrace/dynatrace.service.spec.ts
  src/app/portal/components/case/case-file/case-events-table/case-events-table.component.html
  src/app/portal/components/case/case-file/case-events-table/case-events-table.component.spec.ts
  src/app/portal/components/case/case-file/case-events-table/case-events-table.component.ts
  src/app/portal/components/case/case.component.html
  src/app/portal/components/case/case.component.spec.ts
  src/app/portal/components/case/case.component.ts
  src/app/portal/models/events/case-event.ts
  src/app/portal/models/events/paginated-case-events.interface.ts
  src/app/portal/models/events/paginated-case-events.type.ts
  src/app/portal/services/case/case.service.spec.ts
  src/app/portal/services/case/case.service.ts
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-portal-pr-1959

#1983 DMP-4907: ENHANCEMENT: Add a confirmation banner at top of screen when adding courthouse to group
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.html
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.spec.ts
  src/app/admin/components/groups/group-courthouses/group-courthouses.component.ts
  src/app/admin/components/groups/group-record/group-record.component.html
  src/app/admin/components/groups/group-record/group-record.component.spec.ts
  src/app/admin/components/groups/group-record/group-record.component.ts
  src/app/core/components/common/govuk-banner/govuk-banner.component.ts
  src/app/core/services/scroll/scroll.service.ts
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1983

#1996 Dependency upgrades
  package.json
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-1996

#2000 DMP-5052 Adding times to requested/approved on transcript file screen
  cypress/e2e/functional/admin-portal/transcript-requests-spec.cy.js
  package.json
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.html
  src/app/admin/components/transcripts/view-transcription-document/transcript-file-basic-detail/transcript-file-basic-detail.component.spec.ts
  yarn.lock
Labels: ns:darts-modernisation, prd:darts, rel:darts-portal-pr-2000
